Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

latexindent:
  name: latexindent
  entry: latexindent.sh
  language: script

latexindent2:
  name: latexindent2
  entry: latexindent.sh
  language: script

fix
  utils/environments.tex
  utils/symbols.tex
Due: none

edits and additions in semicats chapter
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/10_cats/99_for_slides.tex
  volumes/vol1/10_arrows/20_cats_structures/10_cat_rel.tex
  volumes/vol1/10_arrows/20_cats_structures/30_cats_of_alg_gadgets.tex
Due: latexindent

more
  utils/environments.tex
  utils/other_symbols.tex
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
  volumes/vol1/03_prelims/23_relation/21_relations_compose.tex
  volumes/vol1/03_prelims/23_relation/22_relations_and_functions.tex
  volumes/vol1/25_translation/50_functors/20_preorders_cat.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/25_translation/55_specialization/60_other_subcategories.tex
Due: latexindent

more
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/10_arrows/25_modeling_with_cats/40_currency.tex
  volumes/vol1/10_arrows/75_processes/15_cat_action.tex
  volumes/vol1/25_translation/60_up_the_ladder/20_cat.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent

fix
  utils/environments.tex
  volumes/vol1/10_arrows/75_processes/04_intro_processes.tex
  volumes/vol1/10_arrows/75_processes/10_Moore_3rd_attempt.tex
  volumes/vol1/10_arrows/75_processes/14_action_on_sequences.tex
  volumes/vol1/10_arrows/75_processes/15_cat_action.tex
  volumes/vol1/10_arrows/75_processes/17_Moore_different_actions.tex
  volumes/vol1/10_arrows/75_processes/20_More_machines.tex
  volumes/vol1/35_interconnections/10_systems/10_intro.tex
  volumes/vol1/35_interconnections/10_systems/20_modeling_behavior.tex
  volumes/vol1/35_interconnections/10_systems/40_xx_lti.tex
  volumes/vol1/35_interconnections/10_systems/50_other_machines.tex
  volumes/vol1/35_interconnections/20_parallelism/10_intro.tex
  volumes/vol1/80_backmatter/98_exams/exam_example.tex
Due: latexindent

fix
  utils/environments.tex
  utils/other_symbols.tex
  utils/symbols.tex
  volumes/vol1/03_prelims/23_relation/22_relations_and_functions.tex
  volumes/vol1/10_arrows/95_construct_cat/05_opposite.tex
  volumes/vol1/10_arrows/95_construct_cat/20_twisted.tex
  volumes/vol1/10_arrows/95_construct_cat/25_arrow.tex
  volumes/vol1/30_design/15_poset_bounds/40_antiupper.tex
  volumes/vol1/30_design/15_poset_bounds/41_antiupper_exercises.tex
  volumes/vol1/30_design/30_feasibility/30_dp.tex
  volumes/vol1/30_design/72_lattices/50_monoidal_posets.tex
  volumes/vol1/35_interconnections/10_systems/20_modeling_behavior.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
  volumes/vol1/40_computation/20_solving/10_represent.tex
  volumes/vol1/40_computation/20_solving/chapter.tex
  volumes/vol1/40_computation/40_uncertainty/30_LU_monads.tex
  volumes/vol1/45_enrich/45_enrichment/20_enriched_categories.tex
  volumes/vol1/part-misc/misc/200_computations.tex
Due: latexindent

edits and additions, new section "categories from linear algebra"
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/20_cats_structures/20_set.tex
  volumes/vol1/10_arrows/20_cats_structures/30_cats_of_alg_gadgets.tex
  volumes/vol1/10_arrows/20_cats_structures/32_cats_of_linear_algebra.tex
  volumes/vol1/10_arrows/20_cats_structures/chapter.tex
Due: latexindent

misc
  utils/environments.tex
  utils/other_symbols.tex
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/23_relation/21_relations_compose.tex
  volumes/vol1/03_prelims/23_relation/26_transpose.tex
  volumes/vol1/03_prelims/23_relation/28_transitive.tex
  volumes/vol1/03_prelims/23_relation/29_equiv_partitions.tex
  volumes/vol1/07_orders/30_poset_build/10_product.tex
  volumes/vol1/10_arrows/05_graphs/20_graphs_hom.tex
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
  volumes/vol1/10_arrows/20_cats_structures/30_cats_of_alg_gadgets.tex
  volumes/vol1/10_arrows/20_cats_structures/50_cat_gr.tex
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/10_arrows/75_processes/15_cat_action.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
Due: latexindent

misc
  utils/environments.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/20_design.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/40_currency.tex
  volumes/vol1/30_design/75_lattice_structure/10_ordering_dps.tex
  volumes/vol1/37_naturality/90_adjunctions/50_relating.tex
  volumes/vol1/45_enrich/45_enrichment/20_enriched_categories.tex
Due: latexindent

misc
  sag/30_pentagon_identity.pdf
  sag/30_triangle_identity.pdf
  sag/display/30_pentagon_identity.pdf
  sag/display/30_triangle_identity.pdf
  utils/other_symbols.tex
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/07_orders/10_tradeoffs/30_chains_antichains.tex
  volumes/vol1/07_orders/30_poset_build/10_product.tex
  volumes/vol1/07_orders/30_poset_build/20_disjoint_union.tex
  volumes/vol1/07_orders/30_poset_build/30_opposite.tex
  volumes/vol1/07_orders/30_poset_build/40_intervals.tex
  volumes/vol1/07_orders/30_poset_build/50_intervals2.tex
  volumes/vol1/07_orders/30_poset_build/51_intervals2_exercises.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/07_orders/40_monotonicity/11_antitone.tex
  volumes/vol1/07_orders/40_monotonicity/40_order_on_monotone_maps.tex
  volumes/vol1/10_arrows/95_construct_cat/05_opposite.tex
  volumes/vol1/10_arrows/96_combination/20_coproduct.tex
  volumes/vol1/25_translation/50_functors/20_preorders_cat.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/30_design/72_lattices/50_monoidal_posets.tex
  volumes/vol1/30_design/72_lattices/70_lattices.tex
  volumes/vol1/30_design/75_lattice_structure/30_lattice.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
  volumes/vol1/37_naturality/90_adjunctions/07_galois.tex
  volumes/vol1/37_naturality/90_adjunctions/20_counit.tex
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
  volumes/vol1/40_computation/30_monads/10_generalized.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent

fix
  utils/environments.tex
  utils/other_symbols.tex
  utils/packages.tex
  utils/tikz_utils.tex
Due: none

fix
  sag/30_dpcatfig_e16.tikz
  sag/50_defproduct.tikz
  sag/50_defproduct_generic.tikz
  sag/60_defcoproduct.tikz
  sag/60_defcoproduct_generic.tikz
  tricks.md
  utils/environments.tex
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/22_sets/89_setoids_union.tex
  volumes/vol1/07_orders/10_tradeoffs/51_measure_exercises.tex
  volumes/vol1/10_arrows/75_processes/17_Moore_different_actions.tex
  volumes/vol1/10_arrows/96_combination/10_products.tex
  volumes/vol1/10_arrows/96_combination/20_coproduct.tex
  volumes/vol1/10_arrows/96_combination/30_examples.tex
  volumes/vol1/25_translation/50_functors/20_preorders_cat.tex
  volumes/vol1/30_design/15_poset_bounds/27_infsup.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/30_design/30_feasibility/alternative.tex
  volumes/vol1/30_design/75_lattice_structure/30_lattice.tex
  volumes/vol1/35_interconnections/10_systems/30_properties_behaviors.tex
  volumes/vol1/37_naturality/100_generalization/20_mon_cat_nobraided.tex
  volumes/vol1/37_naturality/100_generalization/70_dual_objects.tex
  volumes/vol1/37_naturality/100_generalization/80_categorical_trace.tex
  volumes/vol1/37_naturality/90_adjunctions/07_galois.tex
  volumes/vol1/37_naturality/90_adjunctions/10_adjunctions.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
  volumes/vol1/40_computation/20_solving/18_handling_loops.tex
  volumes/vol1/40_computation/30_monads/30_kleisli.tex
  volumes/vol1/40_computation/40_uncertainty/30_LU_monads.tex
  volumes/vol1/45_enrich/40_profunctors/10_profunctors.tex
  volumes/vol1/80_backmatter/98_exams/exam_example.tex
  volumes/vol1/part-misc/misc/155_relations_facts.tex
  volumes/vol1/part-misc/misc/200_computations.tex
Due: latexindent, latexindent2

fix
  .circleci/config.yml
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/07_orders/30_poset_build/30_opposite.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/30_design/20_design_problems/41_expressivity.tex
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
Due: latexindent

fix
  .circleci/config.yml
  equations/Makefile
  utils/environments.tex
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/07_orders/30_poset_build/41_intervals_exercises.tex
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
  volumes/vol1/10_arrows/10_cats/25_cords.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/20_cats_structures/20_set.tex
  volumes/vol1/10_arrows/20_cats_structures/30_cats_of_alg_gadgets.tex
  volumes/vol1/10_arrows/20_cats_structures/50_cat_gr.tex
  volumes/vol1/10_arrows/95_construct_cat/25_arrow.tex
  volumes/vol1/10_arrows/96_combination/10_products.tex
  volumes/vol1/10_arrows/96_combination/20_coproduct.tex
  volumes/vol1/10_arrows/96_combination/chapter.tex
  volumes/vol1/25_translation/50_functors/10_functors.tex
  volumes/vol1/25_translation/50_functors/20_preorders_cat.tex
  volumes/vol1/25_translation/55_specialization/50_drawings.tex
  volumes/vol1/25_translation/60_up_the_ladder/20_cat.tex
  volumes/vol1/40_computation/20_solving/70_examples.tex
  volumes/vol1/45_enrich/45_enrichment/20_enriched_categories.tex
  volumes/vol1/part-misc/misc/155_relations_facts.tex
Due: latexindent

fix
  .circleci/config.yml
Due: none

misc
  volumes/vol1/10_arrows/05_graphs/10_graphs.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/10_cats/99_for_slides.tex
  volumes/vol1/10_arrows/20_cats_structures/10_cat_rel.tex
  volumes/vol1/10_arrows/20_cats_structures/20_set.tex
  volumes/vol1/10_arrows/20_cats_structures/30_cats_of_alg_gadgets.tex
  volumes/vol1/10_arrows/20_cats_structures/32_cats_of_linear_algebra.tex
Due: latexindent

misc
  sag/095_functor.pdf
  sag/30_dpcatfig_e16.pdf
  sag/50_defproduct.pdf
  sag/50_defproduct_generic.pdf
  sag/60_defcoproduct.pdf
  sag/60_defcoproduct_generic.pdf
  sag/display/095_functor.pdf
  sag/display/30_dpcatfig_e16.pdf
  sag/display/50_defproduct.pdf
  sag/display/50_defproduct_generic.pdf
  sag/display/60_defcoproduct.pdf
  sag/display/60_defcoproduct_generic.pdf
  utils/environments.tex
Due: none

edits / slides stuff
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/10_cats/99_for_slides.tex
  volumes/vol1/10_arrows/20_cats_structures/32_cats_of_linear_algebra.tex
Due: latexindent

misc
  utils/environments.tex
  utils/symbols.tex
  volumes/vol1/10_arrows/20_cats_structures/32_cats_of_linear_algebra.tex
  volumes/vol1/10_arrows/20_cats_structures/40_cat_pos.tex
  volumes/vol1/10_arrows/96_combination/30_examples.tex
Due: latexindent

fix
  volumes/vol1/10_arrows/05_graphs/10_graphs.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/10_cats/99_for_slides.tex
  volumes/vol1/10_arrows/20_cats_structures/10_cat_rel.tex
  volumes/vol1/10_arrows/20_cats_structures/20_set.tex
  volumes/vol1/10_arrows/20_cats_structures/30_cats_of_alg_gadgets.tex
  volumes/vol1/10_arrows/20_cats_structures/32_cats_of_linear_algebra.tex
Due: latexindent

solution to a graded exercises linked
  volumes/vol1/10_arrows/20_cats_structures/30_cats_of_alg_gadgets.tex
Due: latexindent

misc
  latexmkrc.batch
  utils/environments.tex
  utils/packages.tex
  volumes/vol1/05_pluribus/80_actions/10_matrix_groups.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
  volumes/vol1/10_arrows/75_processes/15_cat_action.tex
  volumes/vol1/45_enrich/45_enrichment/20_enriched_categories.tex
Due: latexindent

before-pars
  utils/other_symbols.tex
  utils/packages.tex
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
  volumes/vol1/30_design/20_design_problems/60_dpi.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
Due: latexindent

before reformatting
  latexindent.yaml
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/03_prelims/23_relation/21_relations_compose.tex
  volumes/vol1/03_prelims/23_relation/forslides_relations.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/07_orders/30_poset_build/40_intervals.tex
  volumes/vol1/10_arrows/20_cats_structures/10_cat_rel.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/40_currency.tex
  volumes/vol1/10_arrows/95_construct_cat/20_twisted.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/30_design/30_feasibility/30_dp.tex
  volumes/vol1/30_design/30_feasibility/alternative.tex
  volumes/vol1/30_design/75_lattice_structure/15_compositions.tex
  volumes/vol1/30_design/75_lattice_structure/30_lattice.tex
  volumes/vol1/30_design/80_construct_dp/20_companion_and_conjoint.tex
  volumes/vol1/30_design/80_construct_dp/25_sum.tex
  volumes/vol1/35_interconnections/60_feedback/08_other_feedback.tex
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_trace.tex
  volumes/vol1/35_interconnections/60_feedback/20_closing_loop_codesign.tex
  volumes/vol1/35_interconnections/70_interactions_composition/10_order_interactions_composition.tex
  volumes/vol1/37_naturality/100_generalization/20_mon_cat_nobraided.tex
  volumes/vol1/37_naturality/100_generalization/80_categorical_trace.tex
  volumes/vol1/40_computation/10_from_math_to_imp/10_from_math_to_imp.tex
  volumes/vol1/40_computation/20_solving/20_example_nats.tex
  volumes/vol1/40_computation/40_uncertainty/30_LU_monads.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
  volumes/vol1/45_enrich/45_enrichment/30_setenricheddp.tex
  volumes/vol1/part-misc/misc/155_relations_facts.tex
Due: latexindent

done
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/23_relation/26_transpose.tex
  volumes/vol1/03_prelims/23_relation/28_transitive.tex
  volumes/vol1/03_prelims/23_relation/29_equiv_partitions.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/20_design.tex
  volumes/vol1/10_arrows/96_combination/20_coproduct.tex
  volumes/vol1/10_arrows/96_combination/30_examples.tex
  volumes/vol1/25_translation/55_specialization/95_functors_types.tex
  volumes/vol1/30_design/20_design_problems/60_dpi.tex
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/35_interconnections/10_systems/50_other_machines.tex
  volumes/vol1/35_interconnections/60_feedback/20_closing_loop_codesign.tex
  volumes/vol1/37_naturality/100_generalization/20_mon_cat_nobraided.tex
  volumes/vol1/40_computation/40_uncertainty/30_LU_monads.tex
  volumes/vol1/part-misc/misc/155_relations_facts.tex
Due: latexindent

fix
  latexmkrc.batch
  volumes/vol1/00_front/05_developers/20_style_guide.tex
Due: latexindent

misc
  dpcatbib.bib
  latexmkrc.batch.second
Due: none

fix
  dpcatbib.bib
Due: none

fix
  utils/environments.tex
  utils/other_symbols.tex
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/25_translation/55_specialization/chapter.tex
  volumes/vol1/30_design/15_poset_bounds/27_infsup.tex
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
Due: latexindent

fix
  latexmkrc.batch
Due: none

fix
  Makefile
  latexmkrc.batch
Due: none

more
  Makefile
  utils/environments.tex
  utils/packages.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
Due: latexindent

fix
  .circleci/config.yml
  utils/environments.tex
Due: none

misc
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
Due: none

ok
  Makefile
  utils/environments.tex
  utils/symbols.tex
Due: none

misc
  utils/packages.tex
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
Due: none

fixed issue #439
  volumes/vol1/03_prelims/23_relation/29_equiv_partitions.tex
Due: latexindent

resolved issue #431
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
Due: latexindent

Path conditions:
  latexindent: any of: .*\.tex$, but not: ^utils/
  latexindent2: any of: \.tikz$, but not: ^utils/
