Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

latexindent:
  name: latexindent
  entry: latexindent.sh
  language: script

latexindent2:
  name: latexindent2
  entry: latexindent.sh
  language: script

fix
  utils/symbols.tex
  volumes/vol1/35_interconnections/20_parallelism/30_parallelism-and-permutations.tex
Due: latexindent

sags
  sag/commuting_stacking_eff.pdf
  sag/commuting_stacking_eff_bis.pdf
  sag/display/commuting_stacking_eff.pdf
  sag/display/commuting_stacking_eff_bis.pdf
  sag/display/stacking_eff.pdf
  sag/display/stacking_tup_counterproof.pdf
  sag/display/stacking_tup_counterproof_bis.pdf
  sag/stacking_eff.pdf
  sag/stacking_tup_counterproof.pdf
  sag/stacking_tup_counterproof_bis.pdf
Due: none

fixes
  pics/norcomp_1.png
  pics/norcomp_2.png
  pics/norcomp_3.png
  pics/norcomp_4.png
  sag/enrichment_assoc.tikz
  sag/enrichment_unital.tikz
  sag/parallelism_compatibility-perm-comp-1.tikz
  sag/parallelism_compatibility-perm-comp-2.tikz
  sag/parallelism_symmetric-stacking-comp-compat-1.tikz
  sag/parallelism_symmetric-stacking-comp-compat-2.tikz
  sag/parallelism_symmetric-stacking-source-perm-evaluated.tikz
  sag/parallelism_symmetric-stacking-source-perm.tikz
  sag/parallelism_symmetric-stacking-target-perm-evaluated.tikz
  sag/parallelism_symmetric-stacking-target-perm.tikz
  utils/symbols.tex
  volumes/vol1/35_interconnections/20_parallelism/30_parallelism-and-permutations.tex
Due: latexindent, latexindent2

fixes
  volumes/vol1/10_arrows/75_processes/17_Moore_different_actions.tex
Due: latexindent

sag
  sag/display/mass-spring-lti.pdf
  sag/display/parallelism-associative-stacking-two-new.pdf
  sag/display/parallelism-stacked-morphisms.pdf
  sag/display/parallelism-triple-stacked.pdf
  sag/display/parallelism_associative-stacking-1-new.pdf
  sag/display/parallelism_associative-stacking-1.pdf
  sag/display/parallelism_associative-stacking-2-new.pdf
  sag/display/parallelism_associative-stacking-2.pdf
  sag/display/parallelism_compatibility-perm-comp-1.pdf
  sag/display/parallelism_compatibility-perm-comp-2.pdf
  sag/display/parallelism_compatibility-with-stacking-1.pdf
  sag/display/parallelism_compatibility-with-stacking-2.pdf
  sag/display/parallelism_stacked-morphisms-diagram.pdf
  sag/display/parallelism_symmetric-stacking-comp-compat-1.pdf
  sag/display/parallelism_symmetric-stacking-comp-compat-2.pdf
  sag/display/parallelism_symmetric-stacking-source-perm-evaluated.pdf
  sag/display/parallelism_symmetric-stacking-source-perm.pdf
  sag/display/parallelism_symmetric-stacking-target-perm-evaluated.pdf
  sag/display/parallelism_symmetric-stacking-target-perm.pdf
  sag/mass-spring-lti.pdf
  sag/parallelism-associative-stacking-two-new.pdf
  sag/parallelism-stacked-morphisms.pdf
  sag/parallelism-triple-stacked.pdf
  sag/parallelism_associative-stacking-1-new.pdf
  sag/parallelism_associative-stacking-1.pdf
  sag/parallelism_associative-stacking-2-new.pdf
  sag/parallelism_associative-stacking-2.pdf
  sag/parallelism_compatibility-perm-comp-1.pdf
  sag/parallelism_compatibility-perm-comp-2.pdf
  sag/parallelism_compatibility-with-stacking-1.pdf
  sag/parallelism_compatibility-with-stacking-2.pdf
  sag/parallelism_stacked-morphisms-diagram.pdf
  sag/parallelism_symmetric-stacking-comp-compat-1.pdf
  sag/parallelism_symmetric-stacking-comp-compat-2.pdf
  sag/parallelism_symmetric-stacking-source-perm-evaluated.pdf
  sag/parallelism_symmetric-stacking-source-perm.pdf
  sag/parallelism_symmetric-stacking-target-perm-evaluated.pdf
  sag/parallelism_symmetric-stacking-target-perm.pdf
Due: none

fix
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/10_arrows/99_culture/20_matternot.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent

fix
  sag/enrichment_assoc.tikz
  sag/enrichment_unital.tikz
  utils/symbols.tex
Due: latexindent2

fix
  utils/other_symbols.tex
  utils/symbols.tex
  utils/tikz_utils.tex
Due: none

fixes
  utils/other_symbols.tex
Due: none

fixes
  sag/syst-nor-a.tikz
  sag/syst-nor-b.tikz
  sag/syst-nor-c.tikz
  sag/syst-nor-d.tikz
  utils/tikz_utils.tex
Due: latexindent2

small edit
  volumes/vol1/35_interconnections/20_parallelism/32_relL.tex
Due: latexindent

adds
  sag/berg-paths-lengths-a.tikz
  sag/berg-paths-lengths-b.tikz
  sag/commutative_pr.tikz
  sag/nor-comp-contradiction.tikz
  sag/nor-comp-quest.tikz
  sag/nor-compose-const-a.tikz
  sag/nor-compose-const-b.tikz
  utils/tikz_utils.tex
Due: latexindent2

misc
  .gitignore
  sag/display/enrichment_assoc.pdf
  sag/display/enrichment_unital.pdf
  sag/display/parallelism_compatibility-perm-comp-1.pdf
  sag/display/parallelism_compatibility-perm-comp-2.pdf
  sag/display/parallelism_symmetric-stacking-comp-compat-1.pdf
  sag/display/parallelism_symmetric-stacking-comp-compat-2.pdf
  sag/display/parallelism_symmetric-stacking-source-perm-evaluated.pdf
  sag/display/parallelism_symmetric-stacking-source-perm.pdf
  sag/display/parallelism_symmetric-stacking-target-perm-evaluated.pdf
  sag/display/parallelism_symmetric-stacking-target-perm.pdf
  sag/enrichment_assoc.pdf
  sag/enrichment_unital.pdf
  sag/parallelism_compatibility-perm-comp-1.pdf
  sag/parallelism_compatibility-perm-comp-2.pdf
  sag/parallelism_symmetric-stacking-comp-compat-1.pdf
  sag/parallelism_symmetric-stacking-comp-compat-2.pdf
  sag/parallelism_symmetric-stacking-source-perm-evaluated.pdf
  sag/parallelism_symmetric-stacking-source-perm.pdf
  sag/parallelism_symmetric-stacking-target-perm-evaluated.pdf
  sag/parallelism_symmetric-stacking-target-perm.pdf
Due: none

fix
  sag/enrichment_assoc.tikz
  sag/enrichment_unital.tikz
Due: latexindent2

fix
  sag/berg-paths-lengths-a.tikz
  sag/berg-paths-lengths-b.tikz
  utils/symbols.tex
Due: latexindent2

fix
  sag/syst-nor-a.tikz
  sag/syst-nor-b.tikz
  sag/syst-nor-c.tikz
  sag/syst-nor-d.tikz
Due: latexindent2

more
  sag/berg-paths-lengths-a.pdf
  sag/berg-paths-lengths-b.pdf
  sag/commutative_pr.pdf
  sag/display/berg-paths-lengths-a.pdf
  sag/display/berg-paths-lengths-b.pdf
  sag/display/commutative_pr.pdf
  sag/display/enrichment_assoc.pdf
  sag/display/enrichment_unital.pdf
  sag/display/nor-comp-contradiction.pdf
  sag/display/nor-comp-quest.pdf
  sag/display/nor-compose-const-a.pdf
  sag/display/nor-compose-const-b.pdf
  sag/display/syst-nor-a.pdf
  sag/display/syst-nor-b.pdf
  sag/display/syst-nor-c.pdf
  sag/display/syst-nor-d.pdf
  sag/enrichment_assoc.pdf
  sag/enrichment_unital.pdf
  sag/nor-comp-contradiction.pdf
  sag/nor-comp-quest.pdf
  sag/nor-compose-const-a.pdf
  sag/nor-compose-const-b.pdf
  sag/syst-nor-a.pdf
  sag/syst-nor-b.pdf
  sag/syst-nor-c.pdf
  sag/syst-nor-d.pdf
Due: none

minor
  sag/berg-paths-lengths-a.pdf
  sag/berg-paths-lengths-b.pdf
  sag/enrichment_unital.pdf
  sag/syst-nor-a.pdf
  sag/syst-nor-b.pdf
  sag/syst-nor-c.pdf
  sag/syst-nor-d.pdf
  utils/tikz_utils.tex
Due: none

fix
  sag/enrichment_assoc.tikz
  sag/enrichment_unital.tikz
  sag/syst-nor-b.tikz
  sag/syst-nor-c.tikz
  sag/syst-nor-d.tikz
  utils/symbols.tex
Due: latexindent2

fix
  utils/symbols.tex
Due: none

exercises
  .vscode/settings.json
  sag/display/berg-paths-lengths-a.pdf
  sag/display/berg-paths-lengths-b.pdf
  sag/display/enrichment_unital.pdf
  sag/display/syst-nor-a.pdf
  sag/display/syst-nor-b.pdf
  sag/display/syst-nor-c.pdf
  sag/display/syst-nor-d.pdf
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/10_arrows/10_cats/chapter.tex
  volumes/vol1/10_arrows/20_cats_structures/chapter.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/chapter.tex
  volumes/vol1/35_interconnections/10_systems/chapter.tex
  volumes/vol1/35_interconnections/20_parallelism/chapter.tex
  volumes/vol1/35_interconnections/60_feedback/chapter.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent

fix
  sag/enrichment_assoc.tikz
  utils/symbols.tex
Due: latexindent2

fix
  sag/nor-comp-quest.tikz
Due: latexindent2

fix
  sag/syst-nor-b.tikz
  sag/syst-nor-c.tikz
  sag/syst-nor-d.tikz
  volumes/vol1/30_design/15_poset_bounds/35_upperlowersets.tex
  volumes/vol1/30_design/15_poset_bounds/40_antiupper.tex
Due: latexindent, latexindent2

fix
  sag/berg-paths-lengths-a.tikz
  sag/berg-paths-lengths-b.tikz
  sag/nor-compose-const-a.tikz
  sag/nor-compose-const-b.tikz
  sag/syst-nor-a.tikz
  sag/syst-nor-b.tikz
  sag/syst-nor-c.tikz
  sag/syst-nor-d.tikz
Due: latexindent2

fix
  sag/berg-paths-lengths-b.tikz
Due: latexindent2

Revert "fix"
  sag/syst-nor-b.tikz
  sag/syst-nor-c.tikz
  sag/syst-nor-d.tikz
  volumes/vol1/30_design/15_poset_bounds/35_upperlowersets.tex
  volumes/vol1/30_design/15_poset_bounds/40_antiupper.tex
Due: latexindent, latexindent2

fixes
  volumes/vol1/35_interconnections/20_parallelism/10_intro.tex
Due: latexindent

fix
  sag/commutative_pr.tikz
Due: latexindent2

XXX
  .vscode/settings.json
  volumes/vol1/30_design/30_feasibility/30_dp.tex
  volumes/vol1/30_design/75_lattice_structure/30_lattice.tex
  volumes/vol1/35_interconnections/20_parallelism/30_parallelism-and-permutations.tex
Due: latexindent

fix
  sag/enrichment_assoc.tikz
  sag/enrichment_unital.tikz
  sag/syst-nor-a.tikz
  sag/syst-nor-c.tikz
  sag/syst-nor-d.tikz
  utils/symbols.tex
Due: latexindent2

fix
  pics/berg.pdf
Due: none

color
  utils/symbols.tex
Due: none

m
  utils/symbols.tex
Due: none

fix
  sag/syst-nor-b.tikz
  sag/syst-nor-c.tikz
  sag/syst-nor-d.tikz
  utils/symbols.tex
Due: latexindent2

sags
  sag/080_hasse_filtering_bis.pdf
  sag/10_moore_comp_listy.pdf
  sag/20_dyn_2_3.pdf
  sag/40_dpcatfig_power_1.pdf
  sag/50_engine_graph.pdf
  sag/50_trace2.pdf
  sag/50_yanking1.pdf
  sag/70_pos_2_1.pdf
  sag/70_pos_3_1.pdf
  sag/av_scooter_bis.pdf
  sag/berg-paths-lengths-a.pdf
  sag/berg-paths-lengths-b.pdf
  sag/commutative_pr.pdf
  sag/lag_dperf.pdf
Due: none

more
  utils/symbols.tex
Due: none

fix
  sag/commutative_pr.tikz
  sag/nor-compose-const-a.tikz
  sag/nor-compose-const-b.tikz
Due: latexindent2

Path conditions:
  latexindent: any of: .*\.tex$, but not: ^utils/
  latexindent2: any of: \.tikz$, but not: ^utils/
