Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

.pre-commit-config.yaml:

repos:
# - repo: https://github.com/jonasbb/pre-commit-latex-hooks
#   rev: v1.2.3
#   hooks:
#     - id: american-eg-ie
#     - id: cleveref-capitalization
#     - id: consistent-spelling
#       args:
#           [
#             "--emph=et al.",
#             "--emph=a priori",
#             "--emph=a posteriori",
#             '--regex=naive=\bna(i|\\"i)ve',
#           ]
#     - id: csquotes
#     - id: ensure-labels-for-sections
#     - id: no-space-in-cite
#     - id: tilde-cite
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-merge-conflict 
- repo: local
  hooks:
  - id: latexindent
    name: latexindent
    entry: latexindent.sh
    language: script
    # files: \.tex$
    files: ".*\\.tex$"
    exclude: ^utils/
  - id: latexindent2
    name: latexindent2
    entry: latexindent.sh
    language: script
    files: \.tikz$
    exclude: ^utils/

more fixes
  utils/environments.tex
  utils/packages.tex
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/10_arrows/75_processes/04_intro_processes.tex
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/10_arrows/75_processes/14_action_on_sequences.tex
  volumes/vol1/10_arrows/75_processes/15_cat_action.tex
  volumes/vol1/10_arrows/75_processes/17_Moore_different_actions.tex
  volumes/vol1/10_arrows/75_processes/20_More_machines.tex
  volumes/vol1/30_design/20_design_problems/60_dpi.tex
  volumes/vol1/35_interconnections/10_systems/10_intro.tex
  volumes/vol1/35_interconnections/10_systems/modeling_behavior.tex
Due: latexindent

fix
  sag/20_dpi_coproduct.tikz
  sag/dpi_intersection.tikz
  volumes/vol1/30_design/20_design_problems/60_dpi.tex
  volumes/vol1/30_design/30_feasibility/30_dp.tex
Due: latexindent, latexindent2

many typos
  .vscode/settings.json
  videos/generated/spring2021-enrichment_bool-enriched/watch.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/10_arrows/20_combination/20_coproduct.tex
  volumes/vol1/10_arrows/40_culture/10_goals.tex
  volumes/vol1/10_arrows/75_processes/15_cat_action.tex
  volumes/vol1/10_arrows/95_construct_cat/05_disjoint_union_category.tex
  volumes/vol1/22_operations/20_sameness/041_sameness.tex
  volumes/vol1/25_translation/55_specialization/95_functors_types.tex
  volumes/vol1/30_design/15_poset_bounds/27_infsup.tex
  volumes/vol1/30_design/20_design_problems/50_related.tex
  volumes/vol1/30_design/20_design_problems/60_dpi.tex
  volumes/vol1/30_design/72_lattices/70_lattices.tex
  volumes/vol1/30_design/75_lattice_structure/30_lattice.tex
  volumes/vol1/35_interconnections/10_systems/10_intro.tex
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
  volumes/vol1/35_interconnections/10_systems/20_modeling_behavior.tex
  volumes/vol1/35_interconnections/10_systems/30_properties_behaviors.tex
  volumes/vol1/35_interconnections/10_systems/40_xx_lti.tex
  volumes/vol1/35_interconnections/10_systems/50_other_machines.tex
  volumes/vol1/35_interconnections/10_systems/chapter.tex
  volumes/vol1/37_naturality/100_generalization/10_categorical_trace.tex
  volumes/vol1/37_naturality/100_generalization/30_mon_cat_nobraided.tex
  volumes/vol1/37_naturality/100_generalization/60_monoidal_functor.tex
  volumes/vol1/37_naturality/100_generalization/70_dual_objects.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
  volumes/vol1/37_naturality/90_adjunctions/20_counit.tex
  volumes/vol1/37_naturality/90_adjunctions/50_relating.tex
  volumes/vol1/40_computation/30_monads/20_monads.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
  volumes/vol1/45_enrich/45_enrichment/20_enriched_categories.tex
  volumes/vol1/45_enrich/45_enrichment/30_setenricheddp.tex
  volumes/vol1/50_opera/50_operads/10_op.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
Due: latexindent

minor
  .vscode/settings.json
  volumes/vol1/00_front/05_developers/10_instructions.tex
  volumes/vol1/40_computation/10_from_math_to_imp/10_from_math_to_imp.tex
  volumes/vol1/part-misc/misc/100_pos_not_sufficient.tex
  volumes/vol1/part-misc/misc/10_databases.tex
  volumes/vol1/part-misc/misc/155_relations_facts.tex
  volumes/vol1/part-misc/misc/26_spacetime.tex
Due: latexindent

minor
  .vscode/settings.json
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/00_front/20_exercise/10_comp.tex
  volumes/vol1/00_front/20_exercise/20_setup.tex
  volumes/vol1/03_prelims/22_sets/100_foundations.tex
  volumes/vol1/03_prelims/22_sets/11_setoids.tex
  volumes/vol1/03_prelims/22_sets/20_more_constructions.tex
  volumes/vol1/03_prelims/22_sets/88_exercises_setunion.tex
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
  volumes/vol1/03_prelims/23_relation/22_relations_and_functions.tex
  volumes/vol1/10_arrows/75_processes/14_action_on_sequences.tex
  volumes/vol1/10_arrows/95_construct_cat/05_disjoint_union_category.tex
  volumes/vol1/30_design/72_lattices/70_lattices.tex
  volumes/vol1/50_opera/50_operads/chapter.tex
Due: latexindent

fix
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/07_orders/10_tradeoffs/60_moregeneral.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/20_cats_structures/20_set.tex
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/10_arrows/75_processes/10_Moore_3rd_attempt.tex
  volumes/vol1/10_arrows/75_processes/14_action_on_sequences.tex
  volumes/vol1/10_arrows/75_processes/15_cat_action.tex
  volumes/vol1/10_arrows/75_processes/20_More_machines.tex
  volumes/vol1/30_design/20_design_problems/60_dpi.tex
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
  volumes/vol1/35_interconnections/10_systems/20_modeling_behavior.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/31_posL.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
  volumes/vol1/35_interconnections/60_feedback/10_categorical_trace.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
  volumes/vol1/40_computation/20_solving/10_represent.tex
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
  volumes/vol1/40_computation/20_solving/75_complexity.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
Due: latexindent

Suggestions for clarifying programming exercise tasks
  volumes/vol1/03_prelims/22_sets/12_sets_representations_exercises.tex
  volumes/vol1/03_prelims/22_sets/17_powerset_exercises.tex
  volumes/vol1/03_prelims/22_sets/82_exercises_finitesetproperties.tex
  volumes/vol1/03_prelims/22_sets/84_exercises_finitemap.tex
  volumes/vol1/03_prelims/22_sets/86_exercises_setproduct.tex
  volumes/vol1/03_prelims/23_relation/20_relations_exercises.tex
  volumes/vol1/03_prelims/23_relation/26_endorelations.tex
Due: latexindent

mionor
  volumes/vol1/10_arrows/05_graphs/20_graphs_hom.tex
  volumes/vol1/25_translation/50_functors/20_preorders_cat.tex
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
Due: latexindent

fixing quotes
  .vscode/settings.json
  volumes/vol1/00_front/19_things/015_category_overview.tex
  volumes/vol1/00_front/20_exercise/chapter.tex
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/03_prelims/22_sets/100_foundations.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/07_orders/10_tradeoffs/10_intro.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
  volumes/vol1/10_arrows/20_combination/10_products.tex
  volumes/vol1/25_translation/50_functors/10_functors.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/30_design/75_lattice_structure/30_lattice.tex
  volumes/vol1/40_computation/30_monads/10_generalized.tex
  volumes/vol1/45_enrich/45_enrichment/10_enrichments.tex
  volumes/vol1/80_backmatter/97_summaries/category_map.tex
  volumes/vol1/part-misc/misc/100_pos_not_sufficient.tex
  volumes/vol1/part-misc/misc/200_computations.tex
Due: latexindent

consolidation
  utils/environments.tex
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/00_front/20_exercise/40_theory_ex.tex
  volumes/vol1/30_design/20_design_problems/60_dpi.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent

cleanup
  .vscode/settings.json
  dpcatbib.bib
  utils/environments.tex
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/00_front/10_introduction/016_departure.tex
  volumes/vol1/03_prelims/23_relation/21_relations_compose.tex
  volumes/vol1/07_orders/40_monotonicity/12_embedding.tex
  volumes/vol1/10_arrows/20_cats_structures/20_set.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/25_translation/55_specialization/60_other_subcategories.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/part-misc/misc/26_spacetime.tex
Due: latexindent

fix
  pics/chapter-bounds.cropped.cropped.jpeg
  pics/chapter-mapcheese.cropped.cropped.jpeg
Due: none

fix
  pics/chapter-augusta.cropped.jpeg
  pics/chapter-augusta.jpg
  pics/chapter-bounds.cropped.jpg
  pics/chapter-mapcheese.cropped.jpg
Due: none

fix
  pics/DP_associativity.png
  pics/DP_composition.png
  pics/abstraction.png
  pics/account.png
  pics/associativity-lego.png
  pics/associativity.png
  pics/chapter-banhofstrasse.tex
  pics/chapter-lake.tex
  pics/chapter-limmat.tex
  pics/chapter-lucern2.tex
  pics/commutativity.png
  pics/effects1.png
  pics/effects2.png
  pics/effects3.png
  pics/effects3b.png
  pics/effects4.png
  pics/effects5.png
  pics/effects6.png
  pics/effects7.png
  pics/effects8.png
  pics/effects9.png
  pics/theorems1.png
  pics/theorems2.png
  pics/transform1.png
  pics/veni-vidi-vici.png
  volumes/vol1/10_arrows/40_culture/20_matternot.tex
Due: latexindent

fix
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: none

fix
  volumes/vol1/35_interconnections/70_interactions_composition/10_order_interactions_composition.tex
Due: latexindent

fixes
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent

figs for jl
  sag/030_rel_surj.pdf
  sag/030_rel_surj.tikz
  sag/30_cartprod_repr.pdf
  sag/30_cartprod_repr.tikz
  sag/comp_graph_ex.tikz
  sag/diagram_as_functor_example.tikz
  sag/dpi_intersection.pdf
  sag/intro-lego-grey2.tikz
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/23_relation/26_transpose.tex
  volumes/vol1/25_translation/50_functors/35_diagrams_via_functors.tex
Due: latexindent, latexindent2

edits
  sag/30_cartprod_repr.tikz
  sag/function_comp_figure.tikz
  sag/function_comp_figure_b.tikz
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
  volumes/vol1/03_prelims/23_relation/21_relations_compose.tex
  volumes/vol1/03_prelims/23_relation/forslides_relations.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent, latexindent2

edis
  sag/identity_function.tikz.tex
  sag/surj_function.tikz.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent

fixes for jl
  sag/030_rel_surj.pdf
  sag/030_rel_surj.tikz
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/03_prelims/23_relation/21_relations_compose.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent, latexindent2

fix
  sag/diagram_as_functor_example.tikz
  volumes/vol1/part-misc/misc/155_relations_facts.tex
Due: latexindent, latexindent2

minor typos
  .vscode/settings.json
  volumes/vol1/05_pluribus/25_monoids/05_semigroups_exercise.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups_exercise.tex
  volumes/vol1/05_pluribus/25_monoids/chapter.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/05_pluribus/50_morphisms/18_equational_exercise.tex
  volumes/vol1/07_orders/30_poset_build/chapter.tex
  volumes/vol1/30_design/30_feasibility/chapter.tex
  volumes/vol1/30_design/70_ordering/chapter.tex
Due: latexindent

fix fig
  sag/520_dp_gearbox.tikz
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
Due: latexindent, latexindent2

fixing typos slides
  sag/bin_packing.tikz
  volumes/vol1/03_prelims/22_sets/11_setoids.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent, latexindent2

minor
  .vscode/settings.json
  utils/environments.tex
  utils/symbols.tex
  volumes/vol1/00_front/07_instructors/chapter.tex
  volumes/vol1/03_prelims/22_sets/20_more_constructions.tex
  volumes/vol1/03_prelims/22_sets/86_exercises_setproduct.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups_exercise.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/05_pluribus/80_actions/10_matrix_groups.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
  volumes/vol1/07_orders/10_tradeoffs/21_tradeoffs_exercises.tex
  volumes/vol1/07_orders/10_tradeoffs/31_chains_antichains_exercises.tex
  volumes/vol1/07_orders/10_tradeoffs/50_measure.tex
  volumes/vol1/07_orders/10_tradeoffs/51_measure_exercises.tex
  volumes/vol1/07_orders/10_tradeoffs/60_moregeneral.tex
  volumes/vol1/07_orders/10_tradeoffs/70_powerposet.tex
  volumes/vol1/07_orders/10_tradeoffs/71_powerposet_exercises.tex
  volumes/vol1/07_orders/40_monotonicity/12_embedding.tex
  volumes/vol1/10_arrows/29_dependencies/10_sw_deps.tex
  volumes/vol1/10_arrows/40_culture/20_matternot.tex
  volumes/vol1/10_arrows/70_mapping/30_procedures.tex
  volumes/vol1/10_arrows/75_processes/17_Moore_different_actions.tex
  volumes/vol1/22_operations/20_sameness/041_sameness.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/25_translation/55_specialization/60_other_subcategories.tex
  volumes/vol1/30_design/15_poset_bounds/27_infsup.tex
  volumes/vol1/30_design/15_poset_bounds/40_antiupper.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/30_design/20_design_problems/40_codesign_problems.tex
  volumes/vol1/30_design/20_design_problems/60_dpi.tex
  volumes/vol1/30_design/72_lattices/50_monoidal_posets.tex
Due: latexindent

parametric colors
  utils/symbols.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/30_design/20_design_problems/60_dpi.tex
Due: latexindent

more
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/00_front/07_instructors/chapter.tex
  volumes/vol1/00_front/10_introduction/016_departure.tex
  volumes/vol1/00_front/20_exercise/40_theory_ex.tex
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
  volumes/vol1/10_arrows/75_processes/10_Moore_3rd_attempt.tex
  volumes/vol1/22_operations/20_sameness/041_sameness.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
  volumes/vol1/80_backmatter/98_exams/exam_example.tex
Due: latexindent
