Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

.pre-commit-config.yaml:

repos:
# - repo: https://github.com/jonasbb/pre-commit-latex-hooks
#   rev: v1.2.3
#   hooks:
#     - id: american-eg-ie
#     - id: cleveref-capitalization
#     - id: consistent-spelling
#       args:
#           [
#             "--emph=et al.",
#             "--emph=a priori",
#             "--emph=a posteriori",
#             '--regex=naive=\bna(i|\\"i)ve',
#           ]
#     - id: csquotes
#     - id: ensure-labels-for-sections
#     - id: no-space-in-cite
#     - id: tilde-cite
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-merge-conflict 
- repo: local
  hooks:
  - id: latexindent
    name: latexindent
    entry: latexindent.sh
    language: script
    # files: \.tex$
    files: ".*\\.tex$"
    exclude: ^utils/
  - id: latexindent2
    name: latexindent2
    entry: latexindent.sh
    language: script
    files: \.tikz$
    exclude: ^utils/

fixed issue #430
  volumes/vol1/00_front/10_introduction/020_acks.tex
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
Due: latexindent

before
  utils/environments.tex
  utils/symbols.tex
  utils/symbols_decoration.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
  volumes/vol1/10_arrows/20_cats_structures/20_set.tex
  volumes/vol1/10_arrows/96_combination/70_biproducts.tex
  volumes/vol1/10_arrows/96_combination/chapter.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/30_design/30_feasibility/30_dp.tex
  volumes/vol1/35_interconnections/10_systems/20_modeling_behavior.tex
  volumes/vol1/35_interconnections/60_feedback/08_other_feedback.tex
  volumes/vol1/37_naturality/100_generalization/20_mon_cat_nobraided.tex
  volumes/vol1/37_naturality/100_generalization/70_dual_objects.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
  volumes/vol1/45_enrich/45_enrichment/20_enriched_categories.tex
  volumes/vol1/45_enrich/45_enrichment/30_setenricheddp.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent

fixed mistake in def of disjoint union of categories
  volumes/vol1/10_arrows/95_construct_cat/05_disjoint_union_category.tex
Due: latexindent

edit
  volumes/vol1/10_arrows/95_construct_cat/05_disjoint_union_category.tex
Due: latexindent

works
  utils/environments.tex
  utils/symbols.tex
  utils/symbols_decoration.tex
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/30_design/15_poset_bounds/40_antiupper.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
  volumes/vol1/40_computation/40_uncertainty/30_LU_monads.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent

fix
  volumes/vol1/00_front/10_introduction/016_departure.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids_exercise.tex
  volumes/vol1/10_arrows/10_cats/25_cords.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/part-misc/misc/200_computations.tex
Due: latexindent

fix
  utils/symbols.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/20_cats_structures/10_cat_rel.tex
  volumes/vol1/10_arrows/20_cats_structures/30_cats_of_alg_gadgets.tex
Due: latexindent

fix
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/23_relation/29_equiv_partitions.tex
  volumes/vol1/10_arrows/95_construct_cat/05_disjoint_union_category.tex
  volumes/vol1/10_arrows/96_combination/chapter.tex
Due: latexindent

misc
  utils/symbols_decoration.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: none

fix
  Makefile
  utils/environments.tex
  utils/symbols.tex
  utils/symbols_decoration.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/05_pluribus/80_actions/10_matrix_groups.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
  volumes/vol1/Makefile
Due: latexindent

fix
  utils/symbols_decoration.tex
  volumes/vol1/00_front/10_introduction/011_new_introduction.tex
  volumes/vol1/00_front/10_introduction/016_departure.tex
  volumes/vol1/00_front/10_introduction/020_acks.tex
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/03_prelims/22_sets/100_foundations.tex
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
  volumes/vol1/10_arrows/10_cats/35_diagrams.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/20_design.tex
  volumes/vol1/10_arrows/99_culture/20_matternot.tex
  volumes/vol1/22_operations/20_sameness/041_sameness.tex
  volumes/vol1/30_design/10_design/30_basic.tex
  volumes/vol1/30_design/75_lattice_structure/10_ordering_dps.tex
  volumes/vol1/35_interconnections/60_feedback/20_closing_loop_codesign.tex
  volumes/vol1/40_computation/10_from_math_to_imp/10_from_math_to_imp.tex
Due: latexindent

ok
  utils/environments.tex
  utils/symbols_decoration.tex
Due: none

misc
  utils/environments.tex
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/20_more_constructions.tex
  volumes/vol1/10_arrows/96_combination/10_products.tex
  volumes/vol1/10_arrows/96_combination/20_coproduct.tex
Due: latexindent

fix
  utils/symbols.tex
  utils/symbols_decoration.tex
  volumes/vol1/30_design/75_lattice_structure/30_lattice.tex
Due: latexindent

fix
  sag/115_set_mon_ass.tikz
  sag/115_set_mon_pentagon.tikz
  sag/115_set_mon_tri.tikz
  sag/115_set_mon_unit_nat.tikz
  sag/endo_trace_gen.tikz
  utils/environments.tex
  utils/symbols.tex
  utils/symbols_decoration.tex
  volumes/vol1/07_orders/30_poset_build/30_opposite.tex
  volumes/vol1/07_orders/40_monotonicity/11_antitone.tex
  volumes/vol1/10_arrows/95_construct_cat/05_opposite.tex
  volumes/vol1/10_arrows/95_construct_cat/chapter.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
  volumes/vol1/30_design/30_feasibility/15_boolean_querying.tex
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/30_design/30_feasibility/30_dp.tex
  volumes/vol1/30_design/30_feasibility/alternative.tex
  volumes/vol1/30_design/80_construct_dp/20_companion_and_conjoint.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
  volumes/vol1/35_interconnections/60_feedback/20_closing_loop_codesign.tex
  volumes/vol1/37_naturality/100_generalization/80_categorical_trace.tex
  volumes/vol1/37_naturality/90_adjunctions/07_galois.tex
  volumes/vol1/37_naturality/90_adjunctions/10_adjunctions.tex
  volumes/vol1/37_naturality/90_adjunctions/50_relating.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
  volumes/vol1/40_computation/15_query_equiv/30_queries_are_functors.tex
  volumes/vol1/40_computation/30_monads/20_monads.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
  volumes/vol1/45_enrich/40_profunctors/10_profunctors.tex
  volumes/vol1/45_enrich/40_profunctors/20_hom.tex
  volumes/vol1/45_enrich/45_enrichment/20_enriched_categories.tex
  volumes/vol1/45_enrich/45_enrichment/30_setenricheddp.tex
Due: latexindent, latexindent2

fix
  utils/symbols.tex
  utils/symbols_decoration.tex
  volumes/vol1/30_design/72_lattices/70_lattices.tex
  volumes/vol1/30_design/72_lattices/75_lattice_homo.tex
  volumes/vol1/30_design/72_lattices/80_lat_cat.tex
  volumes/vol1/30_design/80_construct_dp/30_creating_DPs.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/37_naturality/100_generalization/35_symmetric_mon_cat.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
  volumes/vol1/40_computation/15_query_equiv/30_queries_are_functors.tex
  volumes/vol1/part-misc/misc/26_spacetime.tex
Due: latexindent

misc
  sag/091_adjunctions_prod_hom.tikz
  sag/40_currency_blocks.tikz
  sag/50_cartesian_product.tikz
  sag/50_monoidal.tikz
  sag/50_vanishing2a.tikz
  sag/50_vanishing_2a_2b.tikz
  utils/other_symbols.tex
  utils/symbols.tex
  volumes/vol1/40_computation/30_monads/20_monads.tex
Due: latexindent, latexindent2

fix
  utils/other_symbols.tex
Due: none

fixes
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/10_arrows/20_cats_structures/30_cats_of_alg_gadgets.tex
  volumes/vol1/10_arrows/20_cats_structures/32_cats_of_linear_algebra.tex
  volumes/vol1/37_naturality/100_generalization/70_dual_objects.tex
Due: latexindent

more
  utils/symbols.tex
  utils/symbols_decoration.tex
  volumes/vol1/03_prelims/23_relation/20_relations.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/10_arrows/10_cats/99_for_slides.tex
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/40_computation/30_monads/10_generalized.tex
Due: latexindent

misc
  sag/120_natural_associativity.tikz
  sag/120_natural_unitality.tikz
  sag/50_hex_1.tikz
  sag/50_hex_2.tikz
  sag/50_sym_1.tikz
  sag/50_sym_2.tikz
  sag/endo_trace.tikz
  sag/endo_trace_gen.tikz
  utils/symbols.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/26_strict-monoidal-semicats.tex
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_trace.tex
  volumes/vol1/35_interconnections/60_feedback/20_closing_loop_codesign.tex
  volumes/vol1/35_interconnections/70_interactions_composition/10_order_interactions_composition.tex
  volumes/vol1/35_interconnections/70_interactions_composition/20_lattice_interaction_composition.tex
  volumes/vol1/37_naturality/100_generalization/20_mon_cat_nobraided.tex
  volumes/vol1/37_naturality/100_generalization/35_symmetric_mon_cat.tex
  volumes/vol1/37_naturality/100_generalization/60_monoidal_functor.tex
  volumes/vol1/37_naturality/100_generalization/70_dual_objects.tex
  volumes/vol1/37_naturality/100_generalization/80_categorical_trace.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
  volumes/vol1/40_computation/20_solving/70_examples.tex
  volumes/vol1/45_enrich/45_enrichment/20_enriched_categories.tex
  volumes/vol1/50_opera/50_operads/10_op.tex
Due: latexindent, latexindent2

fix
  sag/091_2_mor_a.tikz
  sag/091_2_mor_b.tikz
  volumes/vol1/40_computation/20_solving/18_handling_loops.tex
Due: latexindent, latexindent2

added (co)slice cat defs, edits, ...
  sag/coslice-morphism.tikz.tex
  sag/slice-morphism.tikz.tex
  utils/symbols.tex
  volumes/vol1/10_arrows/95_construct_cat/04_product_category.tex
  volumes/vol1/10_arrows/95_construct_cat/30_slice.tex
  volumes/vol1/10_arrows/95_construct_cat/chapter.tex
  volumes/vol1/37_naturality/90_adjunctions/10_adjunctions.tex
Due: latexindent

edit
  volumes/vol1/10_arrows/95_construct_cat/04_product_category.tex
Due: latexindent

misc
  utils/environments.tex
  utils/symbols.tex
  utils/symbols_decoration.tex
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/25_translation/50_functors/10_functors.tex
  volumes/vol1/30_design/75_lattice_structure/20_restrictions.tex
  volumes/vol1/30_design/75_lattice_structure/30_lattice.tex
Due: latexindent

fix
  utils/environments.tex
  utils/packages.tex
  volumes/vol1/40_computation/15_query_equiv/chapter.tex
Due: latexindent

min
  utils/symbols_decoration.tex
Due: none

misc
  utils/symbols.tex
  utils/symbols_decoration.tex
  volumes/vol1/30_design/75_lattice_structure/20_restrictions.tex
  volumes/vol1/30_design/75_lattice_structure/30_lattice.tex
Due: latexindent

fixes
  utils/symbols.tex
  utils/tikz_utils.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
Due: latexindent

.texi changes i'm not sure how they happened
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: none

hack for head.txt and added two known issues to developer instructions
  equations/head.txt
  volumes/vol1/00_front/05_developers/10_instructions.tex
Due: latexindent

added info about issues with pygmentize and with latex distribution
  volumes/vol1/00_front/05_developers/10_instructions.tex
Due: latexindent

more
  utils/other_symbols.tex
  utils/symbols.tex
  utils/symbols_decoration.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
Due: latexindent

fix
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: none

fix
  sag/110_identity.tikz
  sag/50_assoc_1_2_3.tikz
  sag/50_composition_unitality.tikz
  utils/symbols.tex
  utils/symbols_decoration.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/07_orders/10_tradeoffs/70_powerposet.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/30_design/15_poset_bounds/40_antiupper.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/30_design/20_design_problems/60_dpi.tex
  volumes/vol1/30_design/30_feasibility/15_boolean_querying.tex
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/30_design/30_feasibility/30_dp.tex
  volumes/vol1/30_design/72_lattices/70_lattices.tex
  volumes/vol1/30_design/75_lattice_structure/15_compositions.tex
  volumes/vol1/30_design/75_lattice_structure/30_lattice.tex
  volumes/vol1/30_design/80_construct_dp/20_companion_and_conjoint.tex
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_trace.tex
  volumes/vol1/40_computation/20_solving/10_represent.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent, latexindent2

fix
  sag/10_moore_comp.pdf
  sag/110_identity.pdf
  sag/115_set_mon_ass.pdf
  sag/20_dpi_coproduct.pdf
  sag/50_assoc_1_2_3.pdf
  sag/50_composition_unitality.pdf
  sag/52_union.pdf
  sag/display/10_moore_comp.pdf
  sag/display/110_identity.pdf
  sag/display/115_set_mon_ass.pdf
  sag/display/20_dpi_coproduct.pdf
  sag/display/50_assoc_1_2_3.pdf
  sag/display/50_composition_unitality.pdf
  sag/display/52_union.pdf
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
Due: latexindent
