Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2, check-no-tabs

latexindent:
  name: latexindent
  entry: ./latexindent.sh
  language: script

latexindent2:
  name: latexindent2
  entry: ./latexindent.sh
  language: script

check-no-tabs:
  name: check-no-tabs
  entry: ./check_no_tabs.py
  language: python

edits to try to fix refs issues
  utils/symbols.tex
  volumes/vol1/35_enrich/50_operads/chapter.tex
Due: latexindent, check-no-tabs

un-develed operads as a chapter to fix refs
  volumes/vol1/35_enrich/part.tex
Due: latexindent, check-no-tabs

fixes
  pics/bagel.png
  pics/baguette_bread.png
  pics/candy.png
  pics/croissant.png
  pics/cupcake.png
  pics/mango.png
  pics/tangerine.png
  sag/set_of_food.tikz
  sag/set_of_food_partition.tikz
  utils/symbols.tex
  volumes/vol1/03_prelims/23_relation/29_equiv_partitions.tex
  volumes/vol1/03_prelims/23_relation/d.tex
  volumes/vol1/10_arrows/27_universal_constructions/10_products.tex
Due: latexindent, latexindent2, check-no-tabs

added a folder and a .md file for the 'book specification'
  book-specification/Book_specification.md
Due: none

edits and additions to book specification
  book-specification/Book_specification.md
Due: none

edits from the discussion in the meeting today
  volumes/vol1/25_functors/10_functors_introduction/20_structure_preserving.tex
  volumes/vol1/25_functors/20_functors/45_functors_theory.tex
  volumes/vol1/27_naturality/10_naturality/10_naturality.tex
Due: latexindent, check-no-tabs

moved double dual graded exercise into devel
  volumes/vol1/27_naturality/10_naturality/10_naturality.tex
Due: latexindent, check-no-tabs

fix of multiply defined chapter label
  volumes/vol1/25_functors/10_functors_introduction/chapter.tex
  volumes/vol1/25_functors/70_functors_philosophy/chapter.tex
  volumes/vol1/27_naturality/30_application-databases/chapter.tex
Due: latexindent, check-no-tabs

moved database material and removed constraints application chapter in the functor part
  volumes/vol1/25_functors/20_functors/35_diagrams_via_functors.tex
  volumes/vol1/25_functors/20_functors/chapter.tex
  volumes/vol1/25_functors/52_applications_constraints/05_setstar.tex.old
  volumes/vol1/25_functors/52_applications_constraints/10_functor_db.tex
  volumes/vol1/25_functors/52_applications_constraints/12_Moore_semicategorically.tex.old
  volumes/vol1/25_functors/52_applications_constraints/Makefile
  volumes/vol1/25_functors/52_applications_constraints/chapter-standalone-fast.tex
  volumes/vol1/25_functors/52_applications_constraints/chapter-standalone-noslides-fast.tex
  volumes/vol1/25_functors/52_applications_constraints/chapter-standalone-public-fast.tex
  volumes/vol1/25_functors/52_applications_constraints/chapter-standalone.tex
  volumes/vol1/25_functors/52_applications_constraints/chapter.tex
  volumes/vol1/25_functors/part.tex
  volumes/vol1/27_naturality/30_application-databases/20_databases-as-functors.tex
Due: latexindent, check-no-tabs

creating separate parts for the yoneda material and for the monads and comonads material
  volumes/vol1/32_universal-properties/20_universal_properties/10_yoneda.tex
  volumes/vol1/32_universal-properties/20_universal_properties/20_universal_properties.tex
  volumes/vol1/32_universal-properties/20_universal_properties/30_sameness.tex
  volumes/vol1/32_universal-properties/20_universal_properties/Makefile
  volumes/vol1/32_universal-properties/20_universal_properties/chapter-standalone-fast.tex
  volumes/vol1/32_universal-properties/20_universal_properties/chapter-standalone-noslides-fast.tex
  volumes/vol1/32_universal-properties/20_universal_properties/chapter-standalone-public-fast.tex
  volumes/vol1/32_universal-properties/20_universal_properties/chapter-standalone.tex
  volumes/vol1/32_universal-properties/20_universal_properties/chapter.tex
  volumes/vol1/32_universal-properties/Makefile
  volumes/vol1/32_universal-properties/part-standalone-fast.tex
  volumes/vol1/32_universal-properties/part-standalone-noslides-fast.tex
  volumes/vol1/32_universal-properties/part-standalone-public-fast.tex
  volumes/vol1/32_universal-properties/part-standalone.tex
  volumes/vol1/32_universal-properties/part.tex
  volumes/vol1/34_monads-comonads/10_monads_comonads/10_generalized.tex
  volumes/vol1/34_monads-comonads/10_monads_comonads/20_monads.tex
  volumes/vol1/34_monads-comonads/10_monads_comonads/30_kleisli.tex
  volumes/vol1/34_monads-comonads/10_monads_comonads/40_eilenberg_moore.tex
  volumes/vol1/34_monads-comonads/10_monads_comonads/50_monads_in_CS.tex
  volumes/vol1/34_monads-comonads/10_monads_comonads/60_comonads.tex
  volumes/vol1/34_monads-comonads/10_monads_comonads/65_cokleisli.tex
  volumes/vol1/34_monads-comonads/10_monads_comonads/70_coalgebras.tex
  volumes/vol1/34_monads-comonads/10_monads_comonads/75_monads_comonads_adjunctions.tex
  volumes/vol1/34_monads-comonads/10_monads_comonads/Makefile
  volumes/vol1/34_monads-comonads/10_monads_comonads/chapter-standalone-fast.tex
  volumes/vol1/34_monads-comonads/10_monads_comonads/chapter-standalone-noslides-fast.tex
  volumes/vol1/34_monads-comonads/10_monads_comonads/chapter-standalone-public-fast.tex
  volumes/vol1/34_monads-comonads/10_monads_comonads/chapter-standalone.tex
  volumes/vol1/34_monads-comonads/10_monads_comonads/chapter.tex
  volumes/vol1/34_monads-comonads/10_monads_comonads/forslides_monads.tex
  volumes/vol1/34_monads-comonads/Makefile
  volumes/vol1/34_monads-comonads/part-standalone-fast.tex
  volumes/vol1/34_monads-comonads/part-standalone-noslides-fast.tex
  volumes/vol1/34_monads-comonads/part-standalone-public-fast.tex
  volumes/vol1/34_monads-comonads/part-standalone.tex
  volumes/vol1/34_monads-comonads/part.tex
  volumes/vol1/35_enrich/part.tex
Due: latexindent, check-no-tabs

created separate chapters for monads and comonads, created a separate part for universal properties
  volumes/vol1/32_universal-properties/part.tex
  volumes/vol1/34_monads-comonads/10_monads/10_generalized.tex
  volumes/vol1/34_monads-comonads/10_monads/20_monads.tex
  volumes/vol1/34_monads-comonads/10_monads/30_kleisli.tex
  volumes/vol1/34_monads-comonads/10_monads/40_eilenberg_moore.tex
  volumes/vol1/34_monads-comonads/10_monads/50_monads_in_CS.tex
  volumes/vol1/34_monads-comonads/10_monads/Makefile
  volumes/vol1/34_monads-comonads/10_monads/chapter-standalone-fast.tex
  volumes/vol1/34_monads-comonads/10_monads/chapter-standalone-noslides-fast.tex
  volumes/vol1/34_monads-comonads/10_monads/chapter-standalone-public-fast.tex
  volumes/vol1/34_monads-comonads/10_monads/chapter-standalone.tex
  volumes/vol1/34_monads-comonads/10_monads/chapter.tex
  volumes/vol1/34_monads-comonads/10_monads/forslides_monads.tex
  volumes/vol1/34_monads-comonads/10_monads_comonads/chapter.tex
  volumes/vol1/34_monads-comonads/20_comonads/60_comonads.tex
  volumes/vol1/34_monads-comonads/20_comonads/65_cokleisli.tex
  volumes/vol1/34_monads-comonads/20_comonads/70_coalgebras.tex
  volumes/vol1/34_monads-comonads/20_comonads/75_monads_comonads_adjunctions.tex
  volumes/vol1/34_monads-comonads/20_comonads/Makefile
  volumes/vol1/34_monads-comonads/20_comonads/chapter-standalone-fast.tex
  volumes/vol1/34_monads-comonads/20_comonads/chapter-standalone-noslides-fast.tex
  volumes/vol1/34_monads-comonads/20_comonads/chapter-standalone-public-fast.tex
  volumes/vol1/34_monads-comonads/20_comonads/chapter-standalone.tex
  volumes/vol1/34_monads-comonads/20_comonads/chapter.tex
  volumes/vol1/34_monads-comonads/20_comonads/forslides_monads.tex
  volumes/vol1/34_monads-comonads/part.tex
  volumes/vol1/35_enrich/part.tex
  volumes/vol1/volume.tex
Due: latexindent, check-no-tabs

created new intro chapter at the beginning of the 'categorical constructions' part
  volumes/vol1/10_categories/05_intro-series-composition/10_interfaces.tex
  volumes/vol1/10_categories/05_intro-series-composition/20_associativity.tex
  volumes/vol1/10_categories/05_intro-series-composition/30_neutral_components.tex
  volumes/vol1/10_categories/05_intro-series-composition/Makefile
  volumes/vol1/10_categories/05_intro-series-composition/chapter-standalone-fast.tex
  volumes/vol1/10_categories/05_intro-series-composition/chapter-standalone-noslides-fast.tex
  volumes/vol1/10_categories/05_intro-series-composition/chapter-standalone-public-fast.tex
  volumes/vol1/10_categories/05_intro-series-composition/chapter-standalone.tex
  volumes/vol1/10_categories/05_intro-series-composition/chapter.tex
  volumes/vol1/10_categories/30_cats_new_from_old/02_subcategories.tex
  volumes/vol1/10_categories/30_cats_new_from_old/03_quotient_categories.tex
  volumes/vol1/10_categories/30_cats_new_from_old/04_product_category.tex
  volumes/vol1/10_categories/30_cats_new_from_old/05_disjoint_union_category.tex
  volumes/vol1/10_categories/30_cats_new_from_old/05_opposite.tex
  volumes/vol1/10_categories/30_cats_new_from_old/10_cat_from_graph.tex
  volumes/vol1/10_categories/30_cats_new_from_old/20_sum_product.tex
  volumes/vol1/10_categories/30_cats_new_from_old/20_twisted.tex
  volumes/vol1/10_categories/30_cats_new_from_old/20_twisted_exercise.tex
  volumes/vol1/10_categories/30_cats_new_from_old/25_arrow.tex
  volumes/vol1/10_categories/30_cats_new_from_old/25_arrow_exercise.tex
  volumes/vol1/10_categories/30_cats_new_from_old/30_slice.tex
  volumes/vol1/10_categories/30_cats_new_from_old/90_exercises_construct.tex
  volumes/vol1/10_categories/30_cats_new_from_old/Makefile
  volumes/vol1/10_categories/30_cats_new_from_old/chapter-standalone-fast.tex
  volumes/vol1/10_categories/30_cats_new_from_old/chapter-standalone-noslides-fast.tex
  volumes/vol1/10_categories/30_cats_new_from_old/chapter-standalone-public-fast.tex
  volumes/vol1/10_categories/30_cats_new_from_old/chapter-standalone.tex
  volumes/vol1/10_categories/30_cats_new_from_old/chapter.tex
  volumes/vol1/10_categories/part.tex
  volumes/vol1/20_constructions/05_intro-structuralism/10_relationships.tex
  volumes/vol1/20_constructions/05_intro-structuralism/20_thinking-without-elements.tex
  volumes/vol1/20_constructions/05_intro-structuralism/30_special-roles.tex
  volumes/vol1/20_constructions/05_intro-structuralism/Makefile
  volumes/vol1/20_constructions/05_intro-structuralism/chapter-standalone-fast.tex
  volumes/vol1/20_constructions/05_intro-structuralism/chapter-standalone-noslides-fast.tex
  volumes/vol1/20_constructions/05_intro-structuralism/chapter-standalone-public-fast.tex
  volumes/vol1/20_constructions/05_intro-structuralism/chapter-standalone.tex
  volumes/vol1/20_constructions/05_intro-structuralism/chapter.tex
  volumes/vol1/20_constructions/27_universal_constructions/chapter.tex
  volumes/vol1/20_constructions/part.tex
Due: latexindent, check-no-tabs

fixing chapter structure
  volumes/vol1/32_universal-properties/20_universal_properties/10_categorical-constructions.tex
  volumes/vol1/32_universal-properties/20_universal_properties/20_free-constructions.tex
  volumes/vol1/32_universal-properties/20_universal_properties/chapter.tex
  volumes/vol1/32_universal-properties/30_yoneda/10_yoneda.tex
  volumes/vol1/32_universal-properties/30_yoneda/20_universal_properties.tex
  volumes/vol1/32_universal-properties/30_yoneda/30_sameness.tex
  volumes/vol1/32_universal-properties/30_yoneda/Makefile
  volumes/vol1/32_universal-properties/30_yoneda/chapter-standalone-fast.tex
  volumes/vol1/32_universal-properties/30_yoneda/chapter-standalone-noslides-fast.tex
  volumes/vol1/32_universal-properties/30_yoneda/chapter-standalone-public-fast.tex
  volumes/vol1/32_universal-properties/30_yoneda/chapter-standalone.tex
  volumes/vol1/32_universal-properties/30_yoneda/chapter.tex
  volumes/vol1/32_universal-properties/part.tex
Due: latexindent, check-no-tabs

fixed multiple chapter label
  volumes/vol1/20_constructions/05_intro-structuralism/chapter.tex
Due: latexindent, check-no-tabs

fixed broken ref, regenerated symbols table
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent, check-no-tabs

multiple ref fixed
  volumes/vol1/40_universal-properties/30_yoneda/chapter.tex
Due: latexindent, check-no-tabs

fixed futher ref issues
  check_label_sweep.py
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/40_exercises.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/30_interconnections/70_operads/chapter.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent, check-no-tabs

small fix
  volumes/vol1/25_functors/20_functors/35_diagrams_via_functors.tex
Due: latexindent, check-no-tabs

drafts of materials for 'new from old' for algebra and categories each
  book-specification/Book_specification.md
  volumes/vol1/07_algebra/30_new_from_old/05_subthings.tex
  volumes/vol1/07_algebra/30_new_from_old/10_quotients.tex
  volumes/vol1/07_algebra/30_new_from_old/15_generators_relations.tex
  volumes/vol1/07_algebra/30_new_from_old/20_product.tex
  volumes/vol1/07_algebra/30_new_from_old/30_sum.tex
  volumes/vol1/07_algebra/30_new_from_old/40_opposite.tex
  volumes/vol1/07_algebra/part-link-minted/5B96BBC362424F49F01FEBA2D3E7B24925493CD19A97736A0082BA904E94030D.pygtex
  volumes/vol1/07_algebra/part-link-snippets/18_equational_exercise/18_equational_exercise-FiniteGroupMorphismRepresentation.py
  volumes/vol1/07_algebra/part-link-snippets/18_equational_exercise/18_equational_exercise-FiniteMonoidMorphismRepresentation.py
  volumes/vol1/07_algebra/part-link-snippets/18_equational_exercise/18_equational_exercise-FiniteSemigroupMorphismRepresentation.py
  volumes/vol1/07_algebra/part-link-snippets/18_equational_exercise/18_equational_exercise-FiniteSemigroupMorphismsChecks.py
  volumes/vol1/07_algebra/part-link-snippets/18_equational_exercise/18_equational_exercise-FiniteSemigroupMorphismsOperations.py
  volumes/vol1/07_algebra/part-link-snippets/18_equational_exercise/18_equational_exercise-GroupMorphism.py
  volumes/vol1/07_algebra/part-link-snippets/18_equational_exercise/18_equational_exercise-MonoidMorphism.py
  volumes/vol1/07_algebra/part-link-snippets/18_equational_exercise/18_equational_exercise-SemigroupMorphism.py
  volumes/vol1/10_categories/30_cats_new_from_old/02_subcategories.tex
  volumes/vol1/10_categories/30_cats_new_from_old/03_quotient_categories.tex
  volumes/vol1/10_categories/30_cats_new_from_old/04_product_category.tex
  volumes/vol1/10_categories/30_cats_new_from_old/05_disjoint_union_category.tex
  volumes/vol1/10_categories/30_cats_new_from_old/05_opposite.tex
  volumes/vol1/10_categories/30_cats_new_from_old/20_twisted.tex
  volumes/vol1/10_categories/30_cats_new_from_old/25_arrow.tex
  volumes/vol1/10_categories/30_cats_new_from_old/30_slice.tex
  volumes/vol1/10_categories/30_cats_new_from_old/chapter.tex
  volumes/vol1/10_categories/part-link-minted/615FAAEB6919F3E60703C17F670569F1FEBBA8244FAB2C002EF9A94918764C50.pygtex
Due: latexindent, check-no-tabs

misc
  volumes/vol1/10_arrows/95_construct_cat/20_twisted.tex
Due: latexindent, check-no-tabs

improvements / edits of book specification file
  book-specification/Book_specification.md
Due: none

update/edits to book specification file
  book-specification/Book_specification.md
Due: none

universal properties part rearranged
  volumes/vol1/20_constructions/35_categorical_thinking/10_up_to_isomorphism.tex
  volumes/vol1/40_universal-properties/20_universal_properties/20_free-constructions.tex
  volumes/vol1/40_universal-properties/20_yoneda/10_introduction.tex
  volumes/vol1/40_universal-properties/20_yoneda/20_yoneda-lemma.tex
  volumes/vol1/40_universal-properties/20_yoneda/Makefile
  volumes/vol1/40_universal-properties/20_yoneda/chapter-standalone-fast.tex
  volumes/vol1/40_universal-properties/20_yoneda/chapter-standalone-noslides-fast.tex
  volumes/vol1/40_universal-properties/20_yoneda/chapter-standalone-public-fast.tex
  volumes/vol1/40_universal-properties/20_yoneda/chapter-standalone.tex
  volumes/vol1/40_universal-properties/20_yoneda/chapter.tex
  volumes/vol1/40_universal-properties/30_universal_properties/10_categorical-constructions.tex
  volumes/vol1/40_universal-properties/30_universal_properties/20_free-constructions.tex
  volumes/vol1/40_universal-properties/30_universal_properties/Makefile
  volumes/vol1/40_universal-properties/30_universal_properties/chapter-standalone-fast.tex
  volumes/vol1/40_universal-properties/30_universal_properties/chapter-standalone-noslides-fast.tex
  volumes/vol1/40_universal-properties/30_universal_properties/chapter-standalone-public-fast.tex
  volumes/vol1/40_universal-properties/30_universal_properties/chapter-standalone.tex
  volumes/vol1/40_universal-properties/30_universal_properties/chapter.tex
  volumes/vol1/40_universal-properties/30_yoneda/10_yoneda.tex
  volumes/vol1/40_universal-properties/30_yoneda/20_universal_properties.tex
  volumes/vol1/40_universal-properties/30_yoneda/30_sameness.tex
  volumes/vol1/40_universal-properties/part.tex
Due: latexindent, check-no-tabs

universal properties part edits
  volumes/vol1/40_universal-properties/20_yoneda/chapter.tex
  volumes/vol1/40_universal-properties/30_universal_properties/20_free-constructions.tex
  volumes/vol1/40_universal-properties/30_universal_properties/chapter.tex
  volumes/vol1/40_universal-properties/40_yoneda-commentary/10_review.tex
  volumes/vol1/40_universal-properties/40_yoneda-commentary/20_outlook.tex
  volumes/vol1/40_universal-properties/40_yoneda-commentary/Makefile
  volumes/vol1/40_universal-properties/40_yoneda-commentary/chapter-standalone-fast.tex
  volumes/vol1/40_universal-properties/40_yoneda-commentary/chapter-standalone-noslides-fast.tex
  volumes/vol1/40_universal-properties/40_yoneda-commentary/chapter-standalone-public-fast.tex
  volumes/vol1/40_universal-properties/40_yoneda-commentary/chapter-standalone.tex
  volumes/vol1/40_universal-properties/40_yoneda-commentary/chapter.tex
  volumes/vol1/40_universal-properties/part.tex
Due: latexindent, check-no-tabs

put in various todo markers and made minor edits
  volumes/vol1/07_algebra/30_new_from_old/05_subthings.tex
  volumes/vol1/07_algebra/30_new_from_old/15_generators_relations.tex
  volumes/vol1/07_algebra/30_new_from_old/20_product.tex
  volumes/vol1/07_algebra/30_new_from_old/30_sum.tex
  volumes/vol1/07_algebra/30_new_from_old/40_opposite.tex
  volumes/vol1/10_categories/30_cats_new_from_old/03_quotient_categories.tex
  volumes/vol1/10_categories/30_cats_new_from_old/04_product_category.tex
  volumes/vol1/10_categories/30_cats_new_from_old/05_disjoint_union_category.tex
  volumes/vol1/10_categories/30_cats_new_from_old/05_opposite.tex
  volumes/vol1/10_categories/30_cats_new_from_old/20_twisted.tex
  volumes/vol1/10_categories/30_cats_new_from_old/25_arrow.tex
  volumes/vol1/10_categories/30_cats_new_from_old/30_slice.tex
Due: latexindent, check-no-tabs

edits and additions to book specification file
  book-specification/Book_specification.md
Due: none

resolved merge conflicts
  book-specification/Book_specification.md
Due: none

more book specification additions
  book-specification/Book_specification.md
Due: none

edits to preorders material
  volumes/vol1/05_order/20_preorders/20_tradeoffs.tex
  volumes/vol1/05_order/20_preorders/chapter.tex
Due: latexindent, check-no-tabs

reordering and editing the part on order, following our discussions
  volumes/vol1/05_order/20_preorders/205_counting.tex
  volumes/vol1/05_order/20_preorders/20_tradeoffs.tex
  volumes/vol1/05_order/20_preorders/25_upper_lower_sets.tex
  volumes/vol1/05_order/20_preorders/70_posets.tex
  volumes/vol1/05_order/20_preorders/70_powerposet.tex
  volumes/vol1/05_order/20_preorders/chapter.tex
  volumes/vol1/05_order/50_monotone_relations/10_monotone_relations.tex
  volumes/vol1/05_order/60_design_problems/10_intro_design.tex
  volumes/vol1/05_order/60_design_problems/20_monotone_design_problems.tex
  volumes/vol1/05_order/60_design_problems/30_querying.tex
  volumes/vol1/05_order/60_design_problems/40_optimality.tex
  volumes/vol1/05_order/60_design_problems/Makefile
  volumes/vol1/05_order/60_design_problems/chapter-standalone-fast.tex
  volumes/vol1/05_order/60_design_problems/chapter-standalone-noslides-fast.tex
  volumes/vol1/05_order/60_design_problems/chapter-standalone-public-fast.tex
  volumes/vol1/05_order/60_design_problems/chapter-standalone.tex
  volumes/vol1/05_order/60_design_problems/chapter.tex
  volumes/vol1/05_order/part-standalone.tex
  volumes/vol1/05_order/part.tex
Due: latexindent, check-no-tabs

edited/removed a few outdated todo comments
  volumes/vol1/05_order/20_preorders/25_upper_lower_sets.tex
  volumes/vol1/05_order/20_preorders/70_posets.tex
  volumes/vol1/05_order/60_design_problems/20_monotone_design_problems.tex
  volumes/vol1/05_order/60_design_problems/40_optimality.tex
Due: latexindent, check-no-tabs

some writing on montone relations and design
  utils/symbols.tex
  volumes/vol1/05_order/60_design_problems/20_monotone_design_problems.tex
Due: latexindent, check-no-tabs

edits and additions for monotone relations
  utils/symbols.tex
  volumes/vol1/05_order/50_monotone_relations/10_monotone_relations.tex
  volumes/vol1/05_order/50_monotone_relations/40_products_sums.tex
  volumes/vol1/05_order/50_monotone_relations/50_ordering_monotone_relations.tex
Due: latexindent, check-no-tabs

edits in order part
  book-specification/00_Goals_Audience.md
  book-specification/01_Guidance_Prescriptions_Consequences.md
  volumes/vol1/05_order/30_poset_build/40_arrow.tex
  volumes/vol1/05_order/30_poset_build/50_twisted-arrow.tex
  volumes/vol1/05_order/30_poset_build/chapter-standalone.tex
  volumes/vol1/05_order/30_poset_build/chapter.tex
Due: latexindent, check-no-tabs

Path conditions:
  latexindent: any of: \.tex$
  latexindent2: any of: \.tikz$
  check-no-tabs: any of: \.tex$
