Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2, check-no-tabs

latexindent:
  name: latexindent
  entry: ./latexindent.sh
  language: script

latexindent2:
  name: latexindent2
  entry: ./latexindent.sh
  language: script

check-no-tabs:
  name: check-no-tabs
  entry: ./check_no_tabs.py
  language: python

minor
  Makefile
  equations/head.txt
  utils/packages.tex
  utils/symbols.tex
Due: latexindent, check-no-tabs

tikz
  sag/associativity-gc-back.tikz
  sag/associativity-gc.tikz
  sag/gc-lu-natural.tikz
  sag/gc-triangle.tikz
  sag/unitality-gc.tikz
Due: latexindent2

tikz
  sag/associativity-gc-back.tikz
  sag/unitality-gc.tikz
Due: latexindent2

done
  sag/berg-paths-lengths-b.pdf
  sag/display/berg-paths-lengths-b.pdf
  sag/display/syst-nor-b.pdf
  sag/display/syst-nor-c.pdf
  sag/display/syst-nor-d.pdf
  sag/syst-nor-b.pdf
  sag/syst-nor-c.pdf
  sag/syst-nor-d.pdf
  utils/preamble_act.tex
  utils/symbols.tex
Due: latexindent, check-no-tabs

fix
  sag/nor-compose-const-a.tikz
  utils/tikz_utils.tex
Due: latexindent, latexindent2, check-no-tabs

added exam exercise environment
  utils/environments.tex
Due: latexindent, check-no-tabs

fix
  sag/associativity-gc-back.tikz
  sag/associativity-gc.tikz
  sag/enrichment_assoc.tikz
  sag/enrichment_unital.tikz
  sag/unitality-gc.tikz
Due: latexindent2

fix
  sag/associativity-gc-back.tikz
  sag/associativity-gc.tikz
  sag/syst-nor2-d.tikz
Due: latexindent2

fix
  sag/unitality-gc.tikz
Due: latexindent2

fix
  sag/enrichment_assoc.tikz
Due: latexindent2

fix
  sag/lunitor-pn-flat.tikz
  sag/unitality-gc.tikz
Due: latexindent2

fix
  volumes/vol1/45_enrich/45_enrichment/20_enriched_categories.tex
Due: latexindent, check-no-tabs

edits and additions re stacking semicats
  pics/kinds-of-stacking.png
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/30_parallelism-and-permutations.tex
Due: latexindent, check-no-tabs

edits and additions
  sag/naturality-square-symm-stacking-cat.tikz
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/30_parallelism-and-permutations.tex
Due: latexindent, latexindent2, check-no-tabs

small fix of broken ref
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent, check-no-tabs

additions in parallelism chapter
  sag/hexagon-identity-symm-stacking-cat.tikz
  sag/naturality-square-symm-stacking-cat.tikz
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/30_parallelism-and-permutations.tex
Due: latexindent, latexindent2, check-no-tabs

added examples
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent, check-no-tabs

edits and additions
  utils/symbols.tex
  volumes/vol1/05_pluribus/25_monoids/30_rings_fields.tex
  volumes/vol1/05_pluribus/25_monoids/40_vector_spaces.tex
Due: latexindent, check-no-tabs

edits
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/05_pluribus/25_monoids/30_rings_fields.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent, check-no-tabs

edits
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/05_pluribus/25_monoids/40_vector_spaces.tex
  volumes/vol1/05_pluribus/25_monoids/chapter.tex
Due: latexindent, check-no-tabs

edits and additions
  utils/symbols.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/20_cats_structures/30_cats_of_alg_gadgets.tex
  volumes/vol1/10_arrows/20_cats_structures/32_cats_of_linear_algebra.tex
  volumes/vol1/10_arrows/20_cats_structures/40_cat_pos.tex
  volumes/vol1/10_arrows/20_cats_structures/41_sets_with_data.tex
  volumes/vol1/10_arrows/20_cats_structures/50_cat_gr.tex
  volumes/vol1/10_arrows/20_cats_structures/chapter.tex
Due: latexindent, check-no-tabs

edits and additions
  volumes/vol1/10_arrows/20_cats_structures/41_sets_with_data.tex
  volumes/vol1/25_translation/50_functors/10_functors.tex
  volumes/vol1/25_translation/50_functors/20_preorders_cat.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
Due: latexindent, check-no-tabs

edits and additions
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/20_cats_structures/41_sets_with_data.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
Due: latexindent, check-no-tabs

edits + made clean
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
Due: latexindent, check-no-tabs

added placeholders for exercise solutions
  volumes/vol1/10_arrows/20_cats_structures/41_sets_with_data.tex
  volumes/vol1/25_translation/50_functors/10_functors.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
Due: latexindent, check-no-tabs

edits
  volumes/vol1/25_translation/50_functors/40_functor_db.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, check-no-tabs

edits and additions
  utils/symbols.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/25_translation/60_up_the_ladder/20_cat.tex
  volumes/vol1/25_translation/60_up_the_ladder/25_prods_sums_functors.tex
  volumes/vol1/25_translation/60_up_the_ladder/chapter.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, check-no-tabs

added functor examples
  ACT4E-devel-fast.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
Due: latexindent, check-no-tabs

functor examples / many-fold cartesian products of categories
  volumes/vol1/10_arrows/95_construct_cat/04_product_category.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
Due: latexindent, check-no-tabs

remarks on n-fold prod and sums of cats
  volumes/vol1/10_arrows/95_construct_cat/04_product_category.tex
  volumes/vol1/10_arrows/95_construct_cat/05_disjoint_union_category.tex
Due: latexindent, check-no-tabs

minor latex typo fix
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
Due: latexindent, check-no-tabs

edits
  ACT4E-devel-fast.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/05_pluribus/25_monoids/30_rings_fields.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent, check-no-tabs

edits
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
  volumes/vol1/25_translation/50_functors/99_translation_slides.tex
  volumes/vol1/25_translation/80_naturality/99_naturality_slides.tex
Due: latexindent, check-no-tabs

edits
  utils/symbols.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, check-no-tabs

edits and additions
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/25_translation/80_naturality/99_naturality_slides.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
  volumes/vol1/37_naturality/80_naturality/99_naturality_slides.tex
  volumes/vol1/37_naturality/80_naturality/chapter.tex
Due: latexindent, check-no-tabs

misc
  sag/display/feedback_axiomatic-semicat-trace-nat-X.pdf
  sag/display/feedback_axiomatic-semicat-trace-superposing.pdf
  sag/display/feedback_axiomatic-semicat-trace-vanishing-I.pdf
  sag/display/syst-nor2-a.pdf
  sag/display/syst-nor2-b.pdf
  sag/display/syst-nor2-c.pdf
  sag/display/syst-nor2-d.pdf
  sag/feedback_axiomatic-semicat-trace-nat-X.pdf
  sag/feedback_axiomatic-semicat-trace-superposing.pdf
  sag/feedback_axiomatic-semicat-trace-vanishing-I.pdf
  sag/syst-nor2-a.pdf
  sag/syst-nor2-b.pdf
  sag/syst-nor2-c.pdf
  sag/syst-nor2-d.pdf
Due: none

additions and edits. in particular, associator nat trafo example
  sag/ntrafo_associator_cart_prod.tikz.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, check-no-tabs

more-lables
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
  volumes/vol1/45_enrich/45_enrichment/30_setenricheddp.tex
  volumes/vol1/part-misc/misc/200_computations.tex
Due: latexindent, check-no-tabs

fix
  equations/head.txt
Due: none

Path conditions:
  latexindent: any of: \.tex$
  latexindent2: any of: \.tikz$
  check-no-tabs: any of: \.tex$
