Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

.pre-commit-config.yaml:

repos:
  # - repo: https://github.com/jonasbb/pre-commit-latex-hooks
  #   rev: v1.2.3
  #   hooks:
  #     - id: american-eg-ie
  #     - id: cleveref-capitalization
  #     - id: consistent-spelling
  #       args:
  #           [
  #             "--emph=et al.",
  #             "--emph=a priori",
  #             "--emph=a posteriori",
  #             '--regex=naive=\bna(i|\\"i)ve',
  #           ]
  #     - id: csquotes
  #     - id: ensure-labels-for-sections
  #     - id: no-space-in-cite
  #     - id: tilde-cite
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    - id: check-merge-conflict
    # - id: check-yaml
    # - id: trailing-whitespace
    #   files: ".*\\.(?:tex|py)$"
-   repo: local
    hooks: 
      - id: latexindent
        name: latexindent
        entry: latexindent.sh
        language: script
        files: \.tex$
        exclude: ^utils/
      - id: latexindent2
        name: latexindent2
        entry: latexindent.sh
        language: script
        files: \.tikz$
        exclude: ^utils/
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.10
    hooks:
    # -   id: forbid-crlf
    # -   id: remove-crlf
    -   id: forbid-tabs
    # -   id: remove-tabs
    #     args: [ '--whitespaces-count', '2' ]  # defaults to: 4

edits
  volumes/vol1/03_prelims/23_relation/20_relations.tex
  volumes/vol1/03_prelims/23_relation/forslides_relations.tex
Due: latexindent

typos-misc
  .vscode/settings.json
  sag/accu_1.pdf
  sag/accu_2.pdf
  sag/accu_3.pdf
  volumes/vol1/03_prelims/22_sets/100_foundations.tex
  volumes/vol1/03_prelims/22_sets/12_sets_representations_exercises.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/22_sets/86_exercises_setproduct.tex
  volumes/vol1/05_pluribus/25_monoids/03_structures.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/05_pluribus/50_morphisms/18_equational_exercise.tex
  volumes/vol1/05_pluribus/50_morphisms/chapter.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
  volumes/vol1/10_arrows/75_processes/chapter.tex
  volumes/vol1/40_computation/15_query_equiv/30_queries_are_functors.tex
Due: latexindent

misc
  .vscode/settings.json
  utils/environments.tex
  utils/packages.tex
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/40_exercises.tex
  volumes/vol1/00_front/19_things/015_category_overview.tex
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/03_prelims/22_sets/100_foundations.tex
  volumes/vol1/03_prelims/22_sets/11_setoids.tex
  volumes/vol1/03_prelims/22_sets/90_exercises_FiniteMapOperations.tex
  volumes/vol1/03_prelims/23_relation/20_relations.tex
  volumes/vol1/03_prelims/23_relation/21_relations_compose.tex
  volumes/vol1/03_prelims/23_relation/22_relations_and_functions.tex
  volumes/vol1/03_prelims/23_relation/26_endorelations.tex
  volumes/vol1/03_prelims/23_relation/29_equiv_partitions.tex
  volumes/vol1/05_pluribus/25_monoids/03_structures.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/05_pluribus/50_morphisms/18_equational.tex
  volumes/vol1/05_pluribus/50_morphisms/18_equational_exercise.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/07_orders/10_tradeoffs/30_chains_antichains.tex
  volumes/vol1/07_orders/10_tradeoffs/60_moregeneral.tex
  volumes/vol1/07_orders/30_poset_build/10_product.tex
  volumes/vol1/07_orders/30_poset_build/30_opposite.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/60_feedback/10_categorical_trace.tex
  volumes/vol1/37_naturality/100_generalization/10_categorical_trace.tex
Due: latexindent

make magic seems to change stuff
  volumes/vol1/00_front/05_developers/table.texi
Due: none

additions for slides
  sag/transitive_clos_a.tikz
  sag/transitive_clos_b.tikz
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
  volumes/vol1/03_prelims/23_relation/28_transitive.tex
  volumes/vol1/03_prelims/23_relation/29_equiv_partitions.tex
  volumes/vol1/03_prelims/23_relation/forslides_relations.tex
Due: latexindent, latexindent2

changes that "make magic" seems to have produced
  volumes/vol1/00_front/05_developers/table.texi
Due: none

misc
  volumes/vol1/00_front/19_things/015_category_overview.tex
  volumes/vol1/03_prelims/23_relation/22_relations_and_functions.tex
  volumes/vol1/05_pluribus/25_monoids/03_structures.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups_exercise.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/05_pluribus/50_morphisms/18_equational.tex
  volumes/vol1/10_arrows/05_graphs/10_graphs.tex
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/20_cats_structures/10_cat_rel.tex
  volumes/vol1/10_arrows/20_combination/10_products.tex
  volumes/vol1/10_arrows/20_combination/20_coproduct.tex
  volumes/vol1/10_arrows/20_combination/70_biproducts.tex
  volumes/vol1/10_arrows/29_dependencies/20_design.tex
  volumes/vol1/10_arrows/30_transmutation/40_currency.tex
  volumes/vol1/10_arrows/50_connection/10_mobility.tex
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/10_arrows/75_processes/05_setstar.tex
  volumes/vol1/10_arrows/75_processes/13_More_machines.tex
  volumes/vol1/10_arrows/95_construct_cat/10_cat_from_graph.tex
  volumes/vol1/22_operations/20_combination/10_products.tex
  volumes/vol1/22_operations/20_combination/20_coproduct.tex
  volumes/vol1/22_operations/20_combination/30_examples.tex
  volumes/vol1/22_operations/20_combination/70_biproducts.tex
  volumes/vol1/22_operations/20_combination/80_occultism.tex
  volumes/vol1/22_operations/20_combination/Makefile
  volumes/vol1/22_operations/20_combination/chapter-link-minted
  volumes/vol1/22_operations/20_combination/chapter-link-snippets
  volumes/vol1/22_operations/20_combination/chapter-standalone-fast.tex
  volumes/vol1/22_operations/20_combination/chapter-standalone-noslides-fast.tex
  volumes/vol1/22_operations/20_combination/chapter-standalone-public-fast.tex
  volumes/vol1/22_operations/20_combination/chapter-standalone.tex
  volumes/vol1/22_operations/20_combination/chapter.tex
  volumes/vol1/22_operations/20_sameness/041_sameness.tex
  volumes/vol1/30_design/15_poset_bounds/25_minmax.tex
  volumes/vol1/30_design/15_poset_bounds/27_infsup.tex
  volumes/vol1/30_design/15_poset_bounds/40_antiupper.tex
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
Due: latexindent

ok
  utils/environments.tex
  volumes/vol1/00_front/19_things/015_category_overview.tex
  volumes/vol1/03_prelims/22_sets/20_more_constructions.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/10_arrows/95_construct_cat/20_twisted.tex
  volumes/vol1/25_translation/55_specialization/70_berg.tex
  volumes/vol1/25_translation/80_naturality/10_naturality.tex
  volumes/vol1/30_design/15_poset_bounds/25_minmax.tex
  volumes/vol1/30_design/30_feasibility/15_boolean_querying.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
Due: latexindent

ok
  volumes/vol1/05_pluribus/25_monoids/15_rope_goldberg.tex
  volumes/vol1/25_translation/50_functors/20_preorders_cat.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/25_translation/55_specialization/60_other_subcategories.tex
  volumes/vol1/25_translation/90_adjunctions/07_galois.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/30_design/72_lattices/70_lattices.tex
  volumes/vol1/30_design/72_lattices/75_lattice_homo.tex
  volumes/vol1/37_naturality/90_adjunctions/07_galois.tex
  volumes/vol1/40_computation/20_solving/18_handling_loops.tex
  volumes/vol1/part-misc/misc/200_computations.tex
Due: latexindent

ok
  utils/environments.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids_exercise.tex
  volumes/vol1/10_arrows/10_cats/chapter.tex
  volumes/vol1/25_translation/50_functors/10_functors.tex
  volumes/vol1/25_translation/55_specialization/20_specialization.tex
  volumes/vol1/25_translation/80_naturality/10_naturality.tex
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/30_design/50_parallelism/25_parallel.tex
  volumes/vol1/30_design/60_feedback/10_categorical_trace.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
  volumes/vol1/40_computation/15_query_equiv/05_intro.tex
  volumes/vol1/40_computation/15_query_equiv/30_queries_are_functors.tex
  volumes/vol1/40_computation/20_solving/20_example_nats.tex
  volumes/vol1/40_computation/20_solving/70_examples.tex
  volumes/vol1/40_computation/30_monads/40_eilenberg_moore.tex
Due: latexindent

ok
  volumes/vol1/30_design/20_design_problems/40_codesign_problems.tex
  volumes/vol1/30_design/50_parallelism/70_dual_objects.tex
  volumes/vol1/35_interconnections/20_parallelism/32_relL.tex
  volumes/vol1/37_naturality/100_generalization/70_dual_objects.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
Due: latexindent

merge
  volumes/vol1/00_front/05_developers/15_environments.tex
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/03_prelims/22_sets/12_sets_representations_exercises.tex
  volumes/vol1/03_prelims/23_relation/chapter.tex
  volumes/vol1/03_prelims/23_relation/forslides_relations.tex
  volumes/vol1/25_translation/55_specialization/50_drawings.tex
  volumes/vol1/30_design/15_poset_bounds/35_upperlowersets.tex
  volumes/vol1/30_design/60_feedback/08_other_feedback.tex
  volumes/vol1/30_design/72_lattices/70_lattices.tex
  volumes/vol1/35_interconnections/10_systems/LTI_systems.tex
  volumes/vol1/35_interconnections/10_systems/properties_behaviors.tex
  volumes/vol1/35_interconnections/20_parallelism/31_posL.tex
  volumes/vol1/35_interconnections/20_parallelism/70_dual_objects.tex
  volumes/vol1/35_interconnections/60_feedback/08_other_feedback.tex
  volumes/vol1/37_naturality/100_generalization/10_categorical_trace.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
  volumes/vol1/40_computation/20_solving/18_handling_loops.tex
  volumes/vol1/40_computation/20_solving/19_expressivity.tex
  volumes/vol1/40_computation/20_solving/70_examples.tex
  volumes/vol1/40_computation/20_solving/75_complexity.tex
  volumes/vol1/40_computation/30_monads/10_generalized.tex
  volumes/vol1/40_computation/30_monads/20_monads.tex
  volumes/vol1/40_computation/50/paper2.tex
  volumes/vol1/45_enrich/40_profunctors/05_dpi.tex
  volumes/vol1/45_enrich/40_profunctors/10_dpi_span.tex
  volumes/vol1/50_opera/50_operads/10_op.tex
  volumes/vol1/part-misc/misc/155_relations_facts.tex
Due: latexindent

fix
  volumes/vol1/00_front/05_developers/table.texi
Due: none

fix
  sag/transitive_clos_a.tikz
  sag/transitive_clos_b.tikz
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
  volumes/vol1/03_prelims/23_relation/forslides_relations.tex
  volumes/vol1/10_arrows/20_combination/10_products.tex
  volumes/vol1/10_arrows/29_dependencies/20_design.tex
  volumes/vol1/10_arrows/50_connection/10_mobility.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/30_design/15_poset_bounds/25_minmax.tex
  volumes/vol1/30_design/15_poset_bounds/40_antiupper.tex
  volumes/vol1/30_design/72_lattices/70_lattices.tex
  volumes/vol1/30_design/72_lattices/75_lattice_homo.tex
  volumes/vol1/37_naturality/100_generalization/70_dual_objects.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
  volumes/vol1/40_computation/20_solving/70_examples.tex
  volumes/vol1/45_enrich/40_profunctors/05_dpi.tex
Due: latexindent, latexindent2

fix
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
Due: latexindent

edits and slide additions
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
  volumes/vol1/03_prelims/23_relation/20_relations.tex
  volumes/vol1/03_prelims/23_relation/forslides_relations.tex
Due: latexindent

...
  sag/30_cartprod_repr.pdf
  sag/30_disjoint_union copy.tikz
Due: latexindent2

fix
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent

...
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/03_prelims/23_relation/forslides_relations.tex
Due: latexindent

edits
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
  volumes/vol1/03_prelims/23_relation/forslides_relations.tex
Due: latexindent

edits
  volumes/vol1/03_prelims/23_relation/forslides_relations.tex
Due: latexindent

fix
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/40_computation/part.tex
Due: latexindent

fix
  volumes/vol1/03_prelims/23_relation/22_relations_and_functions.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/30_design/20_design_problems/40_codesign_problems.tex
  volumes/vol1/40_computation/20_solving/20_example_nats.tex
  volumes/vol1/40_computation/40_uncertainty/30_LU_monads.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
  volumes/vol1/40_computation/50/paper1.tex
  volumes/vol1/40_computation/50/paper2.tex
Due: latexindent

fix
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
Due: latexindent

fix
  utils/symbols.tex
  volumes/vol1/40_computation/20_solving/77_decomposing.tex
  volumes/vol1/40_computation/30_monads/10_generalized.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
  volumes/vol1/40_computation/45_udp/chapter.tex
  volumes/vol1/40_computation/50/paper2.tex
Due: latexindent

fix
  volumes/vol1/03_prelims/23_relation/forslides_relations.tex
Due: latexindent

done
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
  volumes/vol1/40_computation/15_query_equiv/30_queries_are_functors.tex
  volumes/vol1/40_computation/20_solving/20_example_nats.tex
  volumes/vol1/40_computation/20_solving/75_complexity.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
  volumes/vol1/40_computation/50/paper1.tex
  volumes/vol1/45_enrich/40_profunctors/10_dpi_span.tex
Due: latexindent

misc
  utils/environments.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/03_prelims/23_relation/forslides_relations.tex
  volumes/vol1/10_arrows/20_combination/10_products.tex
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
  volumes/vol1/30_design/50_parallelism/30_mon_cat.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/30_mon_cat_nobraided.tex
  volumes/vol1/37_naturality/100_generalization/30_mon_cat_nobraided.tex
  volumes/vol1/40_computation/20_solving/77_decomposing.tex
  volumes/vol1/40_computation/30_monads/40_eilenberg_moore.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
  volumes/vol1/40_computation/50/paper1.tex
  volumes/vol1/40_computation/50/paper2.tex
  volumes/vol1/45_enrich/40_profunctors/05_dpi.tex
  volumes/vol1/45_enrich/40_profunctors/10_profunctors.tex
  volumes/vol1/45_enrich/45_enrichment/10_enrichments.tex
  volumes/vol1/45_enrich/45_enrichment/20_enriched_categories.tex
  volumes/vol1/45_enrich/45_enrichment/30_setenricheddp.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
Due: latexindent

equation-number
  volumes/vol1/00_front/19_things/015_category_overview.tex
  volumes/vol1/05_pluribus/25_monoids/15_rope_goldberg.tex
  volumes/vol1/10_arrows/95_construct_cat/05_disjoint_union_category.tex
  volumes/vol1/25_translation/50_functors/10_functors.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/25_translation/55_specialization/60_other_subcategories.tex
  volumes/vol1/25_translation/80_naturality/10_naturality.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/30_design/20_design_problems/40_codesign_problems.tex
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/30_design/72_lattices/70_lattices.tex
  volumes/vol1/35_interconnections/10_systems/properties_behaviors.tex
  volumes/vol1/40_computation/20_solving/18_handling_loops.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
Due: latexindent

equation-number
  volumes/vol1/00_front/19_things/015_category_overview.tex
Due: latexindent

misc
  sag/40_dpcatfig_power_chains_bis.tikz
  volumes/vol1/07_orders/10_tradeoffs/30_chains_antichains.tex
Due: latexindent, latexindent2

misc
  volumes/vol1/00_front/19_things/015_category_overview.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/07_orders/10_tradeoffs/10_intro.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/10_arrows/10_cats/25_cords.tex
  volumes/vol1/10_arrows/20_combination/20_coproduct.tex
  volumes/vol1/10_arrows/50_connection/20_trekking.tex
  volumes/vol1/10_arrows/75_processes/14_action_on_sequences.tex
  volumes/vol1/10_arrows/75_processes/Moore_different_actions.tex
  volumes/vol1/22_operations/20_sameness/041_sameness.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/30_design/72_lattices/75_lattice_homo.tex
  volumes/vol1/30_design/75_lattice_structure/30_lattice.tex
  volumes/vol1/30_design/80_construct_dp/25_sum.tex
  volumes/vol1/35_interconnections/10_systems/LTI_systems.tex
  volumes/vol1/35_interconnections/10_systems/xx_lti.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
  volumes/vol1/37_naturality/100_generalization/30_mon_cat_nobraided.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
  volumes/vol1/37_naturality/90_adjunctions/50_relating.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
  volumes/vol1/40_computation/30_monads/20_monads.tex
  volumes/vol1/40_computation/40_uncertainty/30_LU_monads.tex
  volumes/vol1/45_enrich/40_profunctors/05_dpi.tex
  volumes/vol1/45_enrich/40_profunctors/20_hom.tex
  volumes/vol1/part-misc/misc/snippet_lists_as_sets.tex
  volumes/vol1/part-misc/misc/snippet_moore_actions.tex
Due: latexindent

fix
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
  volumes/vol1/45_enrich/40_profunctors/20_hom.tex
Due: latexindent
