Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

.pre-commit-config.yaml:

repos:
  # - repo: https://github.com/jonasbb/pre-commit-latex-hooks
  #   rev: v1.2.3
  #   hooks:
  #     - id: american-eg-ie
  #     - id: cleveref-capitalization
  #     - id: consistent-spelling
  #       args:
  #           [
  #             "--emph=et al.",
  #             "--emph=a priori",
  #             "--emph=a posteriori",
  #             '--regex=naive=\bna(i|\\"i)ve',
  #           ]
  #     - id: csquotes
  #     - id: ensure-labels-for-sections
  #     - id: no-space-in-cite
  #     - id: tilde-cite
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    - id: check-merge-conflict
    # - id: check-yaml
    # - id: trailing-whitespace
    #   files: ".*\\.(?:tex|py)$"
-   repo: local
    hooks: 
      - id: latexindent
        name: latexindent
        entry: latexindent.sh
        language: script
        files: \.tex$
        exclude: ^utils/
      - id: latexindent2
        name: latexindent2
        entry: latexindent.sh
        language: script
        files: \.tikz$
        exclude: ^utils/
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.10
    hooks:
    # -   id: forbid-crlf
    # -   id: remove-crlf
    -   id: forbid-tabs
    # -   id: remove-tabs
    #     args: [ '--whitespaces-count', '2' ]  # defaults to: 4

fix
  sag/commutative_moore.tikz
  sag/commutative_moore_assoc_1.tikz
  sag/commutative_moore_assoc_2.tikz
  sag/commutative_moore_assoc_3.tikz
  volumes/vol1/10_arrows/75_processes/05_setstar.tex
  volumes/vol1/10_arrows/75_processes/12_Moore_semicategorically.tex
  volumes/vol1/10_arrows/75_processes/chapter.tex
Due: latexindent, latexindent2

fixes
  volumes/vol1/10_arrows/75_processes/12_Moore_semicategorically.tex
  volumes/vol1/10_arrows/75_processes/20_other_machines.tex
  volumes/vol1/35_interconnections/10_systems/20_other_machines.tex
Due: latexindent

fix
  utils/symbols.tex
  volumes/vol1/35_interconnections/10_systems/10_intro.tex
Due: latexindent

fix
  utils/symbols.tex
  volumes/vol1/30_design/50_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/10_systems/10_intro.tex
Due: latexindent

fix figure
  sag/commuting_stacking_eff.tikz
  sag/stacking_tup.tikz
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent, latexindent2

added
  sag/stacking_tup_counterproof.tikz
  sag/stacking_tup_counterproof_bis.tikz
  volumes/vol1/35_interconnections/10_systems/10_intro.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent, latexindent2

fix
  sag/setop_mon_ass_a.tikz
  sag/setop_mon_ass_b.tikz
  sag/setop_mon_ass_c.tikz
  sag/setop_mon_l.tikz
  sag/setop_mon_pent_a.tikz
  sag/setop_mon_pent_b.tikz
  sag/setop_mon_pent_c.tikz
  sag/setop_mon_pent_d.tikz
  sag/setop_mon_r.tikz
  sag/setop_mon_tri_a.tikz
  sag/setop_mon_tri_b.tikz
  volumes/vol1/10_arrows/20_cats_structures/20_set.tex
Due: latexindent, latexindent2

fix
  volumes/vol1/30_design/50_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/chapter.tex
Due: latexindent

fix
  utils/symbols.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/40_DP_monoidal.tex
Due: latexindent

fix
  utils/symbols.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/35_interconnections/10_systems/xx_lti.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent

fix
  utils/symbols.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent

remove-redundant
  volumes/vol1/30_design/50_parallelism/26_spacetime.tex
  volumes/vol1/30_design/50_parallelism/chapter.tex
Due: latexindent

fix
  sag/stacking_tup.tikz
  sag/stacking_tup_counterproof.tikz
Due: latexindent2

first changes
  sag/setop_mon_ass_a.tikz
  sag/setop_mon_ass_b.tikz
  sag/setop_mon_ass_c.tikz
  sag/setop_mon_pent_b.tikz
  sag/setop_mon_pent_c.tikz
  sag/setop_mon_pent_d.tikz
  sag/setop_mon_tri_a.tikz
  sag/setop_mon_tri_b.tikz
  volumes/vol1/35_interconnections/10_systems/10_intro.tex
  volumes/vol1/35_interconnections/20_parallelism/40_DP_monoidal.tex
  volumes/vol1/35_interconnections/20_parallelism/chapter.tex
Due: latexindent, latexindent2

fix
  volumes/vol1/35_interconnections/10_systems/10_intro.tex
Due: latexindent

fix
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/20_cats_structures/10_cat_rel.tex
  volumes/vol1/10_arrows/75_processes/15_cat_action.tex
Due: latexindent

fi
  volumes/vol1/22_operations/20_combination/10_products.tex
  volumes/vol1/22_operations/20_combination/20_coproduct.tex
  volumes/vol1/25_translation/50_functors/05_functors_intro.tex
  volumes/vol1/25_translation/50_functors/10_functors.tex
  volumes/vol1/25_translation/50_functors/20_preorders_cat.tex
Due: latexindent

fix
  volumes/vol1/35_interconnections/10_systems/xx_lti.tex
Due: latexindent

additions
  utils/symbols.tex
  volumes/vol1/10_arrows/75_processes/05_setstar.tex
Due: latexindent

edit
  volumes/vol1/10_arrows/75_processes/05_setstar.tex
Due: latexindent

removed face
  pics/mesh_mask.jpg
  sag/masks_covid.tikz
  sag/masks_expressive.tikz
  sag/masks_others.tikz
  sag/masks_price.tikz
Due: latexindent2

additions - Moore 3rd attempt
  utils/symbols.tex
  volumes/vol1/10_arrows/75_processes/05_setstar.tex
  volumes/vol1/10_arrows/75_processes/12_Moore_semicategorically.tex
Due: latexindent

additions
  volumes/vol1/10_arrows/75_processes/12_Moore_semicategorically.tex
Due: latexindent

fixed multiple refs
  volumes/vol1/10_arrows/75_processes/12_Moore_semicategorically.tex
Due: latexindent

edits
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/10_arrows/75_processes/05_setstar.tex
  volumes/vol1/10_arrows/75_processes/12_Moore_semicategorically.tex
  volumes/vol1/10_arrows/75_processes/Moore_3rd_attempt.tex
  volumes/vol1/10_arrows/75_processes/chapter.tex
  volumes/vol1/35_interconnections/10_systems/10_intro.tex
Due: latexindent

edits
  volumes/vol1/35_interconnections/10_systems/10_intro.tex
Due: latexindent

minor
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/10_arrows/75_processes/05_setstar.tex
  volumes/vol1/10_arrows/75_processes/10_intro_processes.tex
  volumes/vol1/10_arrows/75_processes/12_Moore_semicategorically.tex
  volumes/vol1/10_arrows/75_processes/Moore_3rd_attempt.tex
Due: latexindent

...
  utils/symbols.tex
  volumes/vol1/35_interconnections/10_systems/10_intro.tex
Due: latexindent

fix
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/10_arrows/75_processes/05_setstar.tex
  volumes/vol1/10_arrows/75_processes/12_Moore_semicategorically.tex
  volumes/vol1/10_arrows/75_processes/Moore_3rd_attempt.tex
  volumes/vol1/35_interconnections/10_systems/10_intro.tex
  volumes/vol1/35_interconnections/10_systems/chapter.tex
Due: latexindent

fixed/replaced cart produc in moore 3rd attempt section
  volumes/vol1/10_arrows/75_processes/Moore_3rd_attempt.tex
Due: latexindent

edits and rewrite of Moore machines first version section
  volumes/vol1/10_arrows/75_processes/10_intro_processes.tex
  volumes/vol1/10_arrows/75_processes/12_Moore_semicategorically.tex
  volumes/vol1/10_arrows/75_processes/Moore_3rd_attempt.tex
  volumes/vol1/35_interconnections/10_systems/10_intro.tex
Due: latexindent

fixed two broken refs
  volumes/vol1/10_arrows/75_processes/10_intro_processes.tex
  volumes/vol1/35_interconnections/10_systems/10_intro.tex
Due: latexindent
