Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

.pre-commit-config.yaml:

repos:
# - repo: https://github.com/jonasbb/pre-commit-latex-hooks
#   rev: v1.2.3
#   hooks:
#     - id: american-eg-ie
#     - id: cleveref-capitalization
#     - id: consistent-spelling
#       args:
#           [
#             "--emph=et al.",
#             "--emph=a priori",
#             "--emph=a posteriori",
#             '--regex=naive=\bna(i|\\"i)ve',
#           ]
#     - id: csquotes
#     - id: ensure-labels-for-sections
#     - id: no-space-in-cite
#     - id: tilde-cite
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-merge-conflict 
- repo: local
  hooks:
  - id: latexindent
    name: latexindent
    entry: latexindent.sh
    language: script
    # files: \.tex$
    files: ".*\\.tex$"
    exclude: ^utils/
  - id: latexindent2
    name: latexindent2
    entry: latexindent.sh
    language: script
    files: \.tikz$
    exclude: ^utils/

fix
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
  volumes/vol1/35_interconnections/60_feedback/15_semicat_trace_examples.tex
Due: latexindent

fix
  volumes/vol1/35_interconnections/60_feedback/15_semicat_trace_examples.tex
Due: latexindent

more
  ACT4E-luluvol1-slow.tex
Due: latexindent

sag
  sag/cat_natnotzero.pdf
  sag/cat_one_ob_mor_eq.pdf
  sag/display/cat_natnotzero.pdf
  sag/display/cat_one_ob_mor_eq.pdf
  volumes/vol1/00_front/05_developers/table.texi
Due: none

edits, slides stuff
  sag/commuting_stacking_eff.tikz
  sag/commuting_stacking_eff_bis.tikz
  sag/stacking_eff.tikz
  utils/symbols.tex
  volumes/vol1/10_arrows/75_processes/99_processes_slides.tex
  volumes/vol1/35_interconnections/10_systems/50_other_machines.tex
  volumes/vol1/35_interconnections/10_systems/99_slides_systems.tex
  volumes/vol1/35_interconnections/10_systems/chapter.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/99_slides_parallelism.tex
  volumes/vol1/35_interconnections/20_parallelism/chapter.tex
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_trace.tex
  volumes/vol1/35_interconnections/60_feedback/99_slides_feedback.tex
  volumes/vol1/35_interconnections/60_feedback/chapter.tex
Due: latexindent, latexindent2

edits
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
Due: none

fix for multiple refs
  volumes/vol1/35_interconnections/10_systems/99_slides_systems.tex
  volumes/vol1/35_interconnections/20_parallelism/99_slides_parallelism.tex
  volumes/vol1/35_interconnections/60_feedback/04_modeling_feedback.tex
  volumes/vol1/35_interconnections/60_feedback/99_slides_feedback.tex
Due: latexindent

edits, slides stuff
  volumes/vol1/35_interconnections/20_parallelism/99_slides_parallelism.tex
  volumes/vol1/35_interconnections/60_feedback/04_modeling_feedback.tex
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_trace.tex
  volumes/vol1/35_interconnections/60_feedback/chapter.tex
Due: latexindent

fixes
  sag/parallelism-associative-stacking-two-new.tikz
  sag/parallelism-stacked-morphisms.tikz
  sag/parallelism-triple-stacked.tikz
  sag/parallelism_associative-stacking-1-new.tikz
  sag/parallelism_associative-stacking-2-new.tikz
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent, latexindent2

fixes
  sag/stacking_tup_counterproof_bis.tikz
Due: latexindent2

fix
  sag/parallelism_associative-stacking-1.tikz
  sag/parallelism_stacked-morphisms-diagram.tikz
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent, latexindent2

fix
  sag/parallelism_associative-stacking-1.tikz
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent, latexindent2

fix
  sag/parallelism_associative-stacking-2.tikz
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent, latexindent2

fix
  sag/parallelism_associative-stacking-2-new.tikz
  sag/parallelism_associative-stacking-2.tikz
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent, latexindent2

edits
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
  volumes/vol1/35_interconnections/10_systems/99_slides_systems.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/99_slides_parallelism.tex
  volumes/vol1/35_interconnections/60_feedback/99_slides_feedback.tex
Due: latexindent

slides stuff
  volumes/vol1/35_interconnections/20_parallelism/99_slides_parallelism.tex
Due: latexindent

edits
  sag/stacking_tup_counterproof.tikz
  sag/stacking_tup_counterproof_bis.tikz
Due: latexindent2

fix
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
Due: latexindent

fix
  sag/mass-spring-lti.tikz
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
Due: latexindent, latexindent2

fixing typo
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent

figs
  sag/parallelism_symmetric-stacking-source-perm-evaluated.tikz
  sag/parallelism_symmetric-stacking-source-perm.tikz
  volumes/vol1/35_interconnections/20_parallelism/30_parallelism-and-permutations.tex
Due: latexindent, latexindent2

figs
  sag/parallelism_symmetric-stacking-source-perm-evaluated.tikz
  sag/parallelism_symmetric-stacking-source-perm.tikz
  sag/parallelism_symmetric-stacking-target-perm-evaluated.tikz
  sag/parallelism_symmetric-stacking-target-perm.tikz
  volumes/vol1/35_interconnections/20_parallelism/30_parallelism-and-permutations.tex
Due: latexindent, latexindent2

figs
  volumes/vol1/35_interconnections/20_parallelism/30_parallelism-and-permutations.tex
Due: latexindent

figs
  sag/parallelism_compatibility-with-stacking-1.tikz
  volumes/vol1/35_interconnections/20_parallelism/30_parallelism-and-permutations.tex
Due: latexindent, latexindent2

figs
  sag/parallelism_compatibility-with-stacking-2.tikz
  volumes/vol1/35_interconnections/20_parallelism/30_parallelism-and-permutations.tex
Due: latexindent, latexindent2

figs
  sag/parallelism_compatibility-perm-comp-1.tikz
  volumes/vol1/35_interconnections/20_parallelism/30_parallelism-and-permutations.tex
Due: latexindent, latexindent2

figs
  sag/parallelism_compatibility-perm-comp-2.tikz
  volumes/vol1/35_interconnections/20_parallelism/30_parallelism-and-permutations.tex
Due: latexindent, latexindent2

figs
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
Due: latexindent

edits, slides stuff
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/35_interconnections/20_parallelism/99_slides_parallelism.tex
  volumes/vol1/35_interconnections/60_feedback/05_feedback_processes.tex
  volumes/vol1/35_interconnections/60_feedback/99_slides_feedback.tex
Due: latexindent

fix
  sag/parallelism_symmetric-stacking-comp-compat-1.tikz
  volumes/vol1/35_interconnections/20_parallelism/30_parallelism-and-permutations.tex
Due: latexindent, latexindent2

fix
  sag/parallelism_symmetric-stacking-comp-compat-2.tikz
  volumes/vol1/35_interconnections/20_parallelism/30_parallelism-and-permutations.tex
Due: latexindent, latexindent2

fix
  volumes/vol1/35_interconnections/20_parallelism/30_parallelism-and-permutations.tex
Due: latexindent

edits, slides
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/99_slides_parallelism.tex
Due: latexindent
