Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

.pre-commit-config.yaml:

repos:
# - repo: https://github.com/jonasbb/pre-commit-latex-hooks
#   rev: v1.2.3
#   hooks:
#     - id: american-eg-ie
#     - id: cleveref-capitalization
#     - id: consistent-spelling
#       args:
#           [
#             "--emph=et al.",
#             "--emph=a priori",
#             "--emph=a posteriori",
#             '--regex=naive=\bna(i|\\"i)ve',
#           ]
#     - id: csquotes
#     - id: ensure-labels-for-sections
#     - id: no-space-in-cite
#     - id: tilde-cite
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-merge-conflict 
- repo: local
  hooks:
  - id: latexindent
    name: latexindent
    entry: latexindent.sh
    language: script
    # files: \.tex$
    files: ".*\\.tex$"
    exclude: ^utils/
  - id: latexindent2
    name: latexindent2
    entry: latexindent.sh
    language: script
    files: \.tikz$
    exclude: ^utils/

fix
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/37_naturality/100_generalization/35_symmetric_mon_cat.tex
  volumes/vol1/37_naturality/100_generalization/70_dual_objects.tex
Due: latexindent

fix
  utils/symbols_decoration.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/10_arrows/96_combination/10_products.tex
  volumes/vol1/10_arrows/96_combination/20_coproduct.tex
Due: latexindent

misc
  utils/packages.tex
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/05_pluribus/25_monoids/03_structures.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/05_pluribus/50_morphisms/18_equational.tex
  volumes/vol1/07_orders/30_poset_build/30_opposite.tex
  volumes/vol1/10_arrows/20_cats_structures/30_cats_of_alg_gadgets.tex
  volumes/vol1/25_translation/55_specialization/50_drawings.tex
  volumes/vol1/35_interconnections/60_feedback/20_closing_loop_codesign.tex
Due: latexindent

misc
  snippets/80_code_exercise/80_code_exercise-FiniteNaturalTransformation.texi
  snippets/80_code_exercise/80_code_exercise-FiniteNaturalTransformationRepresentation.texi
  snippets/80_code_exercise/80_code_exercise-nat1.texi
  volumes/vol1/00_front/05_developers/table.texi
Due: none

pars
  utils/symbols.tex
Due: none

misc
  sag/050_example_coprod_disjunction_cont.tikz
  sag/050_example_coprod_join_cont.tikz
  sag/050_example_prod_conjunction_cont.tikz
  sag/050_example_prod_meet.tikz
  sag/050_example_prod_meet_cont.tikz
  sag/060_propositions_lat.tikz
  sag/50_split1.tikz
  sag/50_split_1_2.tikz
  sag/52_int.pdf
  sag/52_int.tikz.old
  sag/52_un.pdf
  sag/52_un.tikz.old
  utils/symbols.tex
  utils/symbols_decoration.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/07_orders/10_tradeoffs/60_moregeneral.tex
  volumes/vol1/10_arrows/95_construct_cat/25_arrow.tex
  volumes/vol1/10_arrows/96_combination/20_coproduct.tex
  volumes/vol1/22_operations/21_universal/045_universal_properties_TBPLACED.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/30_design/20_design_problems/41_expressivity.tex
  volumes/vol1/30_design/72_lattices/70_lattices.tex
  volumes/vol1/30_design/75_lattice_structure/10_ordering_dps.tex
  volumes/vol1/40_computation/20_solving/10_represent.tex
Due: latexindent, latexindent2

minor edits
  volumes/vol1/10_arrows/95_construct_cat/04_product_category.tex
  volumes/vol1/10_arrows/96_combination/20_coproduct.tex
Due: latexindent

edits, slides
  volumes/vol1/10_arrows/96_combination/10_products.tex
  volumes/vol1/10_arrows/96_combination/20_coproduct.tex
  volumes/vol1/10_arrows/96_combination/99_for_slides_combination.tex
  volumes/vol1/10_arrows/96_combination/chapter.tex
Due: latexindent

edits
  sag/050_example_coprod_disjunction_bool_cont.tikz.tex
  sag/60_coprod_batt_bis.tikz
  volumes/vol1/10_arrows/96_combination/20_coproduct.tex
  volumes/vol1/10_arrows/96_combination/99_for_slides_combination.tex
Due: latexindent, latexindent2

fix
  snippets/80_exercise/80_exercise-IntegerSetoid.texi
  snippets/80_exercise/80_exercise-StringSetoid.texi
  volumes/vol1/10_arrows/10_cats/80_exercise.tex
  volumes/vol1/10_arrows/95_construct_cat/90_exercises_construct.tex
Due: latexindent

misc
  snippets/80_exercise/80_exercise-FiniteCategoryOperations-disjoint_union.texi
  snippets/80_exercise/80_exercise-FiniteCategoryOperations-product.texi
  snippets/80_exercise/80_exercise-FiniteCategoryOperations.texi
  snippets/80_exercise/80_exercise-IntegerSetoid.texi
  snippets/80_exercise/80_exercise-StringSetoid.texi
  snippets/80_exercise/80_exercise-cat_Single.texi
  snippets/80_exercise/80_exercise-cat_fgh_notsame.texi
  snippets/80_exercise/80_exercise-cat_natnotzero.texi
  snippets/90_exercises_currency/90_exercises_currency-AllCurrencyExchangers.texi
  snippets/90_exercises_currency/90_exercises_currency-CurrencyExchanger.texi
  snippets/90_exercises_currency/90_exercises_currency-CurrencyOptimization.texi
  snippets/90_exercises_currency/90_exercises_currency-OptimalSolution.texi
  snippets/90_exercises_currency/90_exercises_currency-cat_cur_example1.texi
  snippets/90_exercises_currency/90_exercises_currency-currency_exchange_compose.texi
  utils/environments.tex
  volumes/vol1/10_arrows/10_cats/80_exercise.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/30_chemistry.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/45_design.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/60_sw_deps.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/90_exercises_currency.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/chapter.tex
Due: latexindent

edits, stuff for slides
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/10_arrows/95_construct_cat/04_product_category.tex
  volumes/vol1/10_arrows/95_construct_cat/05_disjoint_union_category.tex
  volumes/vol1/10_arrows/95_construct_cat/05_opposite.tex
  volumes/vol1/10_arrows/95_construct_cat/25_arrow.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
Due: latexindent

edits, slides stuff
  sag/180_arrow_comp.tikz
  sag/180_twistedarrow.tikz
  sag/180_twistedarrow_comp.tikz
  sag/arrow_cat.tikz
  sag/coslice-morphism.tikz.tex
  sag/slice-morphism.tikz.tex
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/10_arrows/95_construct_cat/20_twisted.tex
  volumes/vol1/10_arrows/95_construct_cat/25_arrow.tex
  volumes/vol1/10_arrows/95_construct_cat/30_slice.tex
  volumes/vol1/10_arrows/96_combination/20_coproduct.tex
  volumes/vol1/10_arrows/96_combination/99_for_slides_combination.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
Due: latexindent, latexindent2

edits, slides
  sag/180_twistedarrow.tikz
  utils/symbols.tex
  volumes/vol1/10_arrows/95_construct_cat/05_opposite.tex
Due: latexindent, latexindent2

mult label fix
  volumes/vol1/10_arrows/95_construct_cat/20_twisted.tex
Due: latexindent

misc
  utils/symbols.tex
  utils/symbols_decoration.tex
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/37_naturality/90_adjunctions/50_relating.tex
Due: latexindent

fixed
  sag/180_arrow_comp.pdf
  sag/180_twistedarrow.pdf
  sag/180_twistedarrow_comp.pdf
  sag/50_cartesian_product.pdf
  sag/60_coprod_batt_bis.pdf
  sag/arrow_cat.pdf
  sag/display/180_arrow_comp.pdf
  sag/display/180_twistedarrow.pdf
  sag/display/180_twistedarrow_comp.pdf
  sag/display/50_cartesian_product.pdf
  sag/display/60_coprod_batt_bis.pdf
  sag/display/arrow_cat.pdf
Due: none

more
  sag/lego_world_white.tikz
  sag/rope_blue.tikz
  sag/rope_composition.tikz
  sag/rope_knot_2.tikz
  sag/rope_knot_3.tikz
  sag/rope_knot_knot.tikz
  utils/other_symbols.tex
  volumes/vol1/00_front/19_things/015_category_overview.tex
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
Due: latexindent, latexindent2

exercises
  snippets/26_endorelations/26_endorelations-FiniteEndorelationOperations.texi
  snippets/28_transitive_exercises/28_transitive_exercises-FiniteEndorelationOperations.texi
  snippets/80_exercise/80_exercise-SemiCategory.texi
  snippets/90_exercises_currency/90_exercises_currency-AllCurrencyExchangers.texi
  snippets/90_exercises_currency/90_exercises_currency-CurrencyOptimization.texi
  snippets/90_exercises_currency/90_exercises_currency-cat_cur_example1.texi
  utils/environments.tex
  utils/packages.tex
  volumes/vol1/10_arrows/10_cats/80_exercise.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/90_exercises_currency.tex
Due: latexindent

fix
  sag/20_dpcatfig_example_graphs.tikz
  sag/graph_cat_2.tikz
  utils/tikz_utils.tex
Due: latexindent2

fixed an example with mistakes
  volumes/vol1/10_arrows/96_combination/20_coproduct.tex
Due: latexindent

fix
  sag/40_disjoint_union.tikz
Due: latexindent2

fix
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/10_arrows/95_construct_cat/20_twisted.tex
  volumes/vol1/25_translation/50_functors/10_functors.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/26_strict-monoidal-semicats.tex
  volumes/vol1/37_naturality/100_generalization/20_mon_cat_nobraided.tex
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
  volumes/vol1/40_computation/30_monads/10_generalized.tex
  volumes/vol1/40_computation/30_monads/20_monads.tex
  volumes/vol1/40_computation/30_monads/30_kleisli.tex
  volumes/vol1/40_computation/30_monads/40_eilenberg_moore.tex
  volumes/vol1/45_enrich/45_enrichment/20_enriched_categories.tex
Due: latexindent

fix
  sag/cat_One.tikz
  sag/cat_Zero.tikz
  sag/cat_fgh_notsame.tikz
  sag/cat_fgh_same.tikz
  sag/cat_single.tikz
  utils/environments.tex
  volumes/vol1/07_orders/30_poset_build/20_disjoint_union.tex
  volumes/vol1/10_arrows/10_cats/80_exercise.tex
Due: latexindent, latexindent2

...
  sag/cat_natmod4.tikz
  volumes/vol1/10_arrows/10_cats/80_exercise.tex
Due: latexindent, latexindent2

...
  volumes/vol1/10_arrows/10_cats/80_exercise.tex
  volumes/vol1/10_arrows/20_cats_structures/50_cat_gr.tex
Due: latexindent

...
  sag/30_dpcatfig_e14.tikz
  sag/30_dpcatfig_e15.tikz
  volumes/vol1/10_arrows/96_combination/10_products.tex
Due: latexindent, latexindent2

PyCharm configuration
  volumes/vol1/00_front/20_exercise/20_setup.tex
  volumes/vol1/05_pluribus/50_morphisms/18_equational.tex
Due: latexindent

...
  sag/020_inverted_2.tikz
  sag/20_combinations_1_1.tikz
  sag/20_combinations_1_2.tikz
  sag/20_combinations_2.tikz
  sag/20_combinations_2_1.tikz
  sag/20_combinations_2_2.tikz
  sag/20_iso_diags_1.tikz
  sag/20_iso_diags_2.tikz
  sag/20_iso_diags_3.tikz
  sag/30_arrow_convention_power_a.tikz
  sag/30_arrow_convention_power_b.tikz
  volumes/vol1/10_arrows/99_culture/20_matternot.tex
Due: latexindent, latexindent2

fixing some \todomistakes
  volumes/vol1/03_prelims/23_relation/20_relations.tex
  volumes/vol1/03_prelims/23_relation/22_relations_and_functions.tex
Due: latexindent

fix
  volumes/vol1/03_prelims/22_sets/05_logic.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/10_arrows/10_cats/99_for_slides.tex
  volumes/vol1/40_computation/30_monads/10_generalized.tex
Due: latexindent

editing, fixing mistakes
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/23_relation/26_transpose.tex
  volumes/vol1/03_prelims/23_relation/28_transitive.tex
Due: latexindent

edits, additions, more mistake fixes
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
Due: latexindent

minor
  volumes/vol1/03_prelims/22_sets/05_logic.tex
Due: latexindent

fix
  sag/graph_homo_ex_b.tikz
  volumes/vol1/10_arrows/05_graphs/20_graphs_hom.tex
Due: latexindent, latexindent2

fixes
  volumes/vol1/00_front/19_things/015_category_overview.tex
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
Due: latexindent
