Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2, check-no-tabs

latexindent:
  name: latexindent
  entry: ./latexindent.sh
  language: script

latexindent2:
  name: latexindent2
  entry: ./latexindent.sh
  language: script

check-no-tabs:
  name: check-no-tabs
  entry: ./check_no_tabs.py
  language: python

fixing typos in set
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/05_pluribus/25_monoids/30_rings_fields.tex
  volumes/vol1/30_design/75_lattice_structure/30_lattice.tex
  volumes/vol1/40_computation/20_solving/20_example_nats.tex
  volumes/vol1/40_computation/20_solving/77_decomposing.tex
Due: latexindent, check-no-tabs

fixing typos
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/chapter-standalone.tex
  volumes/vol1/03_prelims/23_relation/chapter-standalone.tex
  volumes/vol1/05_pluribus/50_morphisms/chapter-standalone.tex
Due: latexindent, check-no-tabs

fixing typos
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/80_actions/05_simplest_dynamical_system.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
  volumes/vol1/05_pluribus/80_actions/chapter-standalone.tex
Due: latexindent, check-no-tabs

fixing typos
  volumes/vol1/07_orders/part-standalone.tex
Due: latexindent, check-no-tabs

fix posets
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
Due: latexindent, check-no-tabs

fix posets
  sag/exam_dp_tasktech 2.tikz
  sag/exam_dp_tasktechmoney 2.tikz
  sag/exam_pos_money_bis 2.tikz
  sag/exam_pos_task 2.tikz
  sag/exam_pos_tech 2.tikz
Due: latexindent2

fixing typos
  sag/40_dpcatfig_exlattice.tikz
  sag/lattice_wood.tikz
  volumes/vol1/30_design/15_poset_bounds/35_upperlowersets.tex
  volumes/vol1/30_design/72_lattices/70_lattices.tex
  volumes/vol1/30_design/part-standalone.tex
Due: latexindent, latexindent2, check-no-tabs

fixing typos
  volumes/vol1/35_interconnections/20_parallelism/10_intro.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/part-standalone.tex
Due: latexindent, check-no-tabs

fixing nat
  sag/naturality_horizontal.tikz
  sag/naturality_vert_comp.tikz
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, latexindent2, check-no-tabs

fixing nat
  sag/naturality_horizontal.tikz
  sag/naturality_interchange_a.tikz
  sag/naturality_interchange_b.tikz
  utils/symbols.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, latexindent2, check-no-tabs

fixing nat
  sag/nat-hor-vert.tikz
  sag/nat-vert-a.tikz
  sag/nat-vert-b.tikz
  sag/whiskering.tikz
  utils/symbols.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, latexindent2, check-no-tabs

fixing nat
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, check-no-tabs

fixing nat
  volumes/vol1/40_computation/part-standalone.tex
  volumes/vol1/45_enrich/45_enrichment/12_bool_enrichment.tex
  volumes/vol1/45_enrich/45_enrichment/15_quantale_enrichment.tex
  volumes/vol1/45_enrich/45_enrichment/20_enriched_category_theory.tex
  volumes/vol1/45_enrich/part-standalone.tex
Due: latexindent, check-no-tabs

fixing nat
  sag/diag_boston_nyc.tikz
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, latexindent2, check-no-tabs

fixing nat
  sag/cone-over-F.tikz
  sag/cone-over-G.tikz
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, latexindent2, check-no-tabs

fixing nat
  sag/rep-functor-1.tikz
  sag/rep-functor-2.tikz
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, latexindent2, check-no-tabs

fixing nat
  volumes/vol1/37_naturality/90_adjunctions/07_galois.tex
  volumes/vol1/37_naturality/90_adjunctions/20_counit.tex
  volumes/vol1/37_naturality/90_adjunctions/30_product_hom.tex
Due: latexindent, check-no-tabs

fixing nat
  volumes/vol1/37_naturality/100_generalization/chapter-standalone.tex
Due: latexindent, check-no-tabs

fixing venn
  sag/venn-union.tikz
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
Due: latexindent, latexindent2, check-no-tabs

fixing venn
  sag/venn-complement.tikz
  sag/venn-intersection.tikz
  sag/venn-union.tikz
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
Due: latexindent, latexindent2, check-no-tabs

fixing venn
  sag/venn-complement.tikz
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
Due: latexindent, latexindent2, check-no-tabs

fixing sets
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
Due: latexindent, check-no-tabs

fixing sets
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent, check-no-tabs

fixing monoids
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/05_pluribus/25_monoids/12_dynamical.tex
  volumes/vol1/05_pluribus/25_monoids/chapter-standalone.tex
  volumes/vol1/05_pluribus/25_monoids/chapter.tex
Due: latexindent, check-no-tabs

diagrams for symmetric stric monoidal traced categories - moved one into the definition to show how i'd like them to be
  volumes/vol1/35_interconnections/60_feedback/07_traced-strict-monoidal-cats.tex
Due: latexindent, check-no-tabs

fixes
  .gitignore.save
  dpcatbib.bib
  sag/0T_rechtin_four.tikz
  utils/packages.tex
  view.php?id=730556
  volumes/vol1/07_orders/10_tradeoffs/30_chains_antichains.tex
  volumes/vol1/80_backmatter/part.tex
Due: latexindent, latexindent2, check-no-tabs

fixes
  .gitignore
  sag/70_antichain.tikz
  sag/70_antichain_2.tikz
  sag/70_battery_0.tikz
  sag/70_battery_1.tikz
  sag/70_battery_1_bis.tikz
  sag/70_uc_1_1.tikz
  sag/70_uc_1_2.tikz
  sag/70_uc_1_3.tikz
  sag/70_upper_lower_set.tikz
  sag/70_upper_lower_set_b.tikz
  volumes/vol1/30_design/15_poset_bounds/25_minmax.tex
Due: latexindent, latexindent2, check-no-tabs

fix
  .gitignore
  sag/20_dpi_coproduct.tikz
  sag/sensor-order-acc.tikz
  sag/sensor-order-fn.tikz
  sag/sensor-order-fp.tikz
  sag/sensor-order-product.tikz
  utils/symbols.tex
Due: latexindent, latexindent2, check-no-tabs

fix
  volumes/vol1/80_backmatter/part.tex
Due: latexindent, check-no-tabs

fixes
  sag/dp-pent.tikz
  sag/dp-tri.tikz
  sag/upos_lpos_dp.tikz
  utils/symbols.tex
  volumes/vol1/05_pluribus/25_monoids/15_rope_goldberg.tex
  volumes/vol1/35_interconnections/60_feedback/20_closing_loop_codesign.tex
  volumes/vol1/37_naturality/100_generalization/80_categorical_trace.tex
Due: latexindent, latexindent2, check-no-tabs

fix
  sag/40_dpcatfig_exmonotone_bis.tikz
  sag/diag-dp.tikz
  sag/dp-nats.tikz
  sag/loops-a.tikz
  sag/loops-b.tikz
  sag/loops-c.tikz
  sag/lqg-a.tikz
  sag/lqg-b.tikz
  sag/lqg-c.tikz
  sag/lqg-d.tikz
  sag/series-join-a.tikz
  sag/series-join.b.tikz
  sag/series-meet-a.tikz
  sag/series-meet-b.tikz
  volumes/vol1/30_design/10_design/30_basic.tex
Due: latexindent, latexindent2, check-no-tabs

fix
  sag/dp-par-a.tikz
  sag/dp-par-b.tikz
  sag/dp-series-a.tikz
  sag/dp-series-assoc-a.tikz
  sag/dp-series-assoc-b.tikz
  sag/dp-series-assoc-c.tikz
  sag/dp-series-b.tikz
  sag/series-join-b.tikz
Due: latexindent2

misc
  volumes/vol1/35_interconnections/20_parallelism/23_functorial.tex
Due: latexindent, check-no-tabs

Path conditions:
  latexindent: any of: \.tex$
  latexindent2: any of: \.tikz$
  check-no-tabs: any of: \.tex$
