Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

.pre-commit-config.yaml:

repos:
  # - repo: https://github.com/jonasbb/pre-commit-latex-hooks
  #   rev: v1.2.3
  #   hooks:
  #     - id: american-eg-ie
  #     - id: cleveref-capitalization
  #     - id: consistent-spelling
  #       args:
  #           [
  #             "--emph=et al.",
  #             "--emph=a priori",
  #             "--emph=a posteriori",
  #             '--regex=naive=\bna(i|\\"i)ve',
  #           ]
  #     - id: csquotes
  #     - id: ensure-labels-for-sections
  #     - id: no-space-in-cite
  #     - id: tilde-cite
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    - id: check-merge-conflict
    # - id: check-yaml
    # - id: trailing-whitespace
    #   files: ".*\\.(?:tex|py)$"
-   repo: local
    hooks: 
      - id: latexindent
        name: latexindent
        entry: latexindent.sh
        language: script
        files: \.tex$
        exclude: ^utils/
      - id: latexindent2
        name: latexindent2
        entry: latexindent.sh
        language: script
        files: \.tikz$
        exclude: ^utils/
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.10
    hooks:
    # -   id: forbid-crlf
    # -   id: remove-crlf
    -   id: forbid-tabs
    # -   id: remove-tabs
    #     args: [ '--whitespaces-count', '2' ]  # defaults to: 4

fixes
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent

fixes
  utils/symbols.tex
  volumes/vol1/35_interconnections/10_systems/LTI_systems.tex
Due: latexindent

fixes
  sag/morphism_tup.tikz
  sag/morphism_tup_comp.tikz
  sag/stacking_tup.tikz
  utils/symbols.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent, latexindent2

fixes
  volumes/vol1/35_interconnections/20_parallelism/32_relL.tex
Due: latexindent

fixes
  utils/symbols.tex
  volumes/vol1/35_interconnections/20_parallelism/32_relL.tex
Due: latexindent

jonathan added symbols
  utils/symbols.tex
Due: none

edits
  utils/symbols.tex
  volumes/vol1/35_interconnections/10_systems/modeling_behavior.tex
Due: latexindent

minmax
  volumes/vol1/30_design/15_poset_bounds/chapter.tex
Due: latexindent

...
  dpcatbib.bib
  utils/environments.tex
  utils/symbols.tex
Due: none

...
  dpcatbib.bib
  volumes/vol1/35_interconnections/20_parallelism/32_relL.tex
  volumes/vol1/35_interconnections/20_parallelism/chapter.tex
  volumes/vol1/complete.tex
  volumes/vol1/part-misc/misc/26_spacetime.tex
Due: latexindent

fixed
  volumes/vol1/03_prelims/23_relation/21_relations_compose.tex
Due: latexindent

...
  volumes/vol1/10_arrows/05_graphs/20_graphs_hom.tex
Due: latexindent

edits
  volumes/vol1/35_interconnections/10_systems/modeling_behavior.tex
Due: latexindent

fixed env
  utils/environments.tex
Due: none

edits and additions re behaviors
  volumes/vol1/35_interconnections/10_systems/modeling_behavior.tex
Due: latexindent

edits and additions
  volumes/vol1/35_interconnections/10_systems/modeling_behavior.tex
Due: latexindent

fixing
  volumes/vol1/03_prelims/22_sets/05_logic.tex
  volumes/vol1/03_prelims/22_sets/07_sets.tex
Due: latexindent

fix new sets from old
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
Due: latexindent

fixes
  volumes/vol1/03_prelims/22_sets/11_setoids.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent

fixing symbols
  utils/other_symbols.tex
  utils/symbols.tex
Due: none

misc
  snippets/26_minmax_exercises/26_minmax_exercises-FinitePosetMinMax.texi
  snippets/28_infsup_exercises/28_infsup_exercises-FinitePosetInfSup.texi
  snippets/84_exercises_finitemap/84_exercises_finitemap-FiniteMap.texi
  snippets/incoming/incoming-FiniteMapOperations-as_relation.texi
  snippets/incoming/incoming-FiniteMapOperations.texi
Due: none

fix
  volumes/vol1/part-misc/misc/incoming.tex
Due: latexindent

misc
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: none

fixes
  volumes/vol1/03_prelims/20_overview/015_category_overview.tex
  volumes/vol1/03_prelims/20_overview/Makefile
  volumes/vol1/03_prelims/20_overview/chapter-link-minted
  volumes/vol1/03_prelims/20_overview/chapter-link-snippets
  volumes/vol1/03_prelims/20_overview/chapter-standalone-fast.tex
  volumes/vol1/03_prelims/20_overview/chapter-standalone-noslides-fast.tex
  volumes/vol1/03_prelims/20_overview/chapter-standalone-public-fast.tex
  volumes/vol1/03_prelims/20_overview/chapter-standalone.tex
  volumes/vol1/03_prelims/20_overview/chapter.tex
  volumes/vol1/03_prelims/part.tex
  volumes/vol1/05_pluribus/part.tex
Due: latexindent

fix
  volumes/vol1/03_prelims/23_relation/20_relations.tex
  volumes/vol1/03_prelims/23_relation/22_relations_and_functions.tex
Due: latexindent

fix relations
  volumes/vol1/03_prelims/23_relation/25_relations_properties.tex
  volumes/vol1/03_prelims/23_relation/26_endorelations.tex
Due: latexindent

fixes epluribus
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
Due: latexindent

fixes to mor
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
Due: latexindent

fixes to act
  volumes/vol1/05_pluribus/80_actions/10_matrix_groups.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
Due: latexindent

fix
  volumes/vol1/03_prelims/22_sets/90_exercises_FiniteMapOperations.tex
Due: latexindent

fix prod
  sag/050_example_cartesian_2.tikz
  sag/050_example_prod_conjunction.tikz
  sag/050_example_prod_intersection.tikz
  sag/050_example_prod_min.tikz
  sag/050_example_prod_min_cont.tikz
  sag/50_defproduct.tikz
  sag/50_defproduct_generic.tikz
  utils/symbols.tex
  volumes/vol1/10_arrows/20_cats_structures/10_cat_rel.tex
  volumes/vol1/10_arrows/20_combination/10_products.tex
Due: latexindent, latexindent2

added def of relation composition and removed forward cross refs
  volumes/vol1/03_prelims/23_relation/21_relations_compose.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
Due: latexindent

fix coprod
  sag/050_coprod_disunion_diagram.tikz
  sag/050_example_coprod_max_cont.tikz
  sag/050_example_coprod_union_cont.tikz
  utils/symbols.tex
  volumes/vol1/10_arrows/20_combination/20_coproduct.tex
Due: latexindent, latexindent2

fix coprod
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/10_arrows/75_processes/10_intro_processes.tex
Due: latexindent

fix
  snippets/80_code_exercise/80_code_exercise-FiniteNaturalTransformation.texi
  snippets/80_code_exercise/80_code_exercise-FiniteNaturalTransformationRepresentation.texi
  snippets/80_code_exercise/80_code_exercise-nat1.texi
  snippets/89_setoids/89_setoids-EnumerableSetsOperations-make_set_sequence.texi
  snippets/89_setoids/89_setoids-EnumerableSetsOperations-union_esets.texi
  snippets/89_setoids_union/89_setoids_union-EnumerableSetsOperations.texi
  snippets/90_exercises_FiniteMapOperations/90_exercises_FiniteMapOperations-FiniteMapOperations.texi
Due: none

edits and additions
  utils/environments.tex
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/23_relation/26_transpose.tex
Due: latexindent

fixing some errors in code ex
  Makefile
  sag/dirtree-setup.tikz
  volumes/vol1/00_front/20_exercise/20_setup.tex
  volumes/vol1/00_front/20_exercise/30_exercise_tutorial.tex
  volumes/vol1/Makefile
Due: latexindent, latexindent2
