Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

.pre-commit-config.yaml:

repos:
  # - repo: https://github.com/jonasbb/pre-commit-latex-hooks
  #   rev: v1.2.3
  #   hooks:
  #     - id: american-eg-ie
  #     - id: cleveref-capitalization
  #     - id: consistent-spelling
  #       args:
  #           [
  #             "--emph=et al.",
  #             "--emph=a priori",
  #             "--emph=a posteriori",
  #             '--regex=naive=\bna(i|\\"i)ve',
  #           ]
  #     - id: csquotes
  #     - id: ensure-labels-for-sections
  #     - id: no-space-in-cite
  #     - id: tilde-cite
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    - id: check-merge-conflict
    # - id: check-yaml
    # - id: trailing-whitespace
    #   files: ".*\\.(?:tex|py)$"
-   repo: local
    hooks: 
      - id: latexindent
        name: latexindent
        entry: latexindent.sh
        language: script
        files: \.tex$
        exclude: ^utils/
      - id: latexindent2
        name: latexindent2
        entry: latexindent.sh
        language: script
        files: \.tikz$
        exclude: ^utils/
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.10
    hooks:
    # -   id: forbid-crlf
    # -   id: remove-crlf
    -   id: forbid-tabs
    # -   id: remove-tabs
    #     args: [ '--whitespaces-count', '2' ]  # defaults to: 4

test
  Makefile
Due: none

test
  .pre-commit-config.yaml
Due: none

testing-no-tabs
  .circleci/config.yml
  check_no_tabs.py
Due: none

fix
  volumes/vol1/07_orders/40_monotonicity/chapter.tex
Due: latexindent

fix
  volumes/vol1/07_orders/40_monotonicity/12_embedding.tex
  volumes/vol1/30_design/part.tex
  volumes/vol1/volume.tex
Due: latexindent

[ci skip]
  volumes/vol1/03_prelims/23_relation/22_relations_and_functions.tex
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
  volumes/vol1/30_design/30_feasibility/15_boolean_querying.tex
Due: latexindent

edits and additions
  volumes/vol1/03_prelims/22_sets/10_sets.tex
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/22_sets/chapter.tex
Due: latexindent

edits and additions
  volumes/vol1/03_prelims/22_sets/10_sets.tex
  volumes/vol1/03_prelims/22_sets/chapter.tex
Due: latexindent

added subsection for cardinality
  volumes/vol1/03_prelims/22_sets/10_sets.tex
Due: latexindent

edits and additions
  volumes/vol1/03_prelims/22_sets/10_sets.tex
Due: latexindent

edits and additions
  utils/other_symbols.tex
  volumes/vol1/03_prelims/22_sets/10_sets.tex
Due: latexindent

added section for introducing basic logic things
  volumes/vol1/03_prelims/22_sets/05_logic.tex
  volumes/vol1/03_prelims/22_sets/chapter.tex
Due: latexindent

edits and additions
  volumes/vol1/03_prelims/22_sets/05_logic.tex
Due: latexindent

makefile
  Makefile
Due: none

fix
  Makefile
Due: none

edits and additions
  volumes/vol1/03_prelims/22_sets/05_logic.tex
  volumes/vol1/03_prelims/22_sets/10_sets.tex
Due: latexindent

fix
  sag/affinetrafo.tikz
  sag/comp_graph_ex.tikz
  sag/diagram_as_functor_example.tikz
  sag/dpi_intersection.tikz
  sag/rotation.tikz
  sag/rototranslation.tikz
  sag/scaling.tikz
  sag/translation.tikz
  utils/symbols.tex
  volumes/vol1/25_translation/55_specialization/50_drawings.tex
Due: latexindent, latexindent2

reordering
  volumes/vol1/35_interconnections/20_parallelism/30_mon_cat_nobraided.tex
  volumes/vol1/35_interconnections/20_parallelism/40_DP_monoidal.tex
  volumes/vol1/35_interconnections/20_parallelism/50_premonoidal.tex
  volumes/vol1/35_interconnections/20_parallelism/60_monoidal_functor.tex
  volumes/vol1/35_interconnections/20_parallelism/70_dual_objects.tex
  volumes/vol1/35_interconnections/20_parallelism/chapter.tex
  volumes/vol1/37_naturality/100_generalization/70_dual_objects.tex
  volumes/vol1/37_naturality/100_generalization/chapter.tex
Due: latexindent

fix
  sag/morphism_eff.tikz
  sag/morphism_eff_comp.tikz
  sag/morphism_tup.tikz
  sag/morphism_tup_comp.tikz
  utils/tikz_utils.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/26_spacetime.tex
Due: latexindent, latexindent2

fix
  sag/commuting_stacking_eff.tikz
  sag/commuting_stacking_eff_bis.tikz
  sag/stacking_eff.tikz
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent, latexindent2

fix
  sag/stacking_tup.tikz
  sag/stacking_tup_counterproof.tikz
  sag/stacking_tup_counterproof_bis.tikz
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent, latexindent2

fix
  sag/symmetric_stacking.tikz
  sag/symmetric_stacking_bis.tikz
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent, latexindent2

fix
  volumes/vol1/35_interconnections/20_parallelism/30_mon_cat.tex
  volumes/vol1/35_interconnections/20_parallelism/40_DP_monoidal.tex
  volumes/vol1/35_interconnections/20_parallelism/chapter.tex
  volumes/vol1/35_interconnections/60_feedback/10_categorical_trace.tex
  volumes/vol1/35_interconnections/60_feedback/chapter.tex
  volumes/vol1/37_naturality/100_generalization/10_categorical_trace.tex
  volumes/vol1/37_naturality/100_generalization/30_mon_cat_nobraided.tex
  volumes/vol1/37_naturality/100_generalization/60_monoidal_functor.tex
  volumes/vol1/37_naturality/100_generalization/chapter.tex
Due: latexindent

More introduction
  volumes/vol1/00_front/10_introduction/011_new_introduction.tex
  volumes/vol1/00_front/10_introduction/015_guidebook.tex
  volumes/vol1/00_front/10_introduction/016_departure.tex
  volumes/vol1/00_front/10_introduction/020_acks.tex
  volumes/vol1/00_front/10_introduction/030_sponsors.tex
  volumes/vol1/00_front/10_introduction/chapter.tex
  volumes/vol1/00_front/first_volume1.tex
  volumes/vol1/00_front/part.tex
Due: latexindent

fix
  volumes/vol1/00_front/first_volume1.tex
Due: latexindent

fix
  volumes/vol1/00_front/first_volume1.tex
  volumes/vol1/00_front/part.tex
  volumes/vol1/03_prelims/part.tex
Due: latexindent

edits and additions
  volumes/vol1/03_prelims/22_sets/05_logic.tex
  volumes/vol1/03_prelims/22_sets/10_sets.tex
  volumes/vol1/03_prelims/22_sets/18_product.tex
  volumes/vol1/03_prelims/22_sets/chapter.tex
Due: latexindent

fix
  pics/grapes_bw.png
  pics/red-apple_bw.png
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/07_orders/10_tradeoffs/30_chains_antichains.tex
  volumes/vol1/07_orders/10_tradeoffs/50_measure.tex
  volumes/vol1/22_operations/20_sameness/041_sameness.tex
Due: latexindent

additions edits
  volumes/vol1/03_prelims/22_sets/10_sets.tex
  volumes/vol1/03_prelims/22_sets/18_product.tex
Due: latexindent

additions and edits
  volumes/vol1/03_prelims/22_sets/17_powerset.tex
  volumes/vol1/03_prelims/22_sets/18_product.tex
Due: latexindent

additions and edits
  volumes/vol1/03_prelims/22_sets/17_powerset.tex
  volumes/vol1/03_prelims/22_sets/18_product.tex
  volumes/vol1/03_prelims/22_sets/20_disjoint_union.tex
Due: latexindent
