Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2, check-no-tabs

.pre-commit-config.yaml:

repos:
# - repo: https://github.com/jonasbb/pre-commit-latex-hooks
#   rev: v1.2.3
#   hooks:
#     - id: american-eg-ie
#     - id: cleveref-capitalization
#     - id: consistent-spelling
#       args:
#           [
#             "--emph=et al.",
#             "--emph=a priori",
#             "--emph=a posteriori",
#             '--regex=naive=\bna(i|\\"i)ve',
#           ]
#     - id: csquotes
#     - id: ensure-labels-for-sections
#     - id: no-space-in-cite
#     - id: tilde-cite
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-merge-conflict
- repo: local
  hooks:
  - id: latexindent
    name: latexindent
    entry: ./latexindent.sh
    language: script
    # files: \.tex$
    # files: ".*\\.tex$"
    # files: ^volumes/
    files: \.tex$
    # exclude: ^utils/
  - id: latexindent2
    name: latexindent2
    entry: ./latexindent.sh
    language: script
    files: \.tikz$
    # exclude: ^utils/
  - id: check-no-tabs
    name: check-no-tabs
    entry: ./check_no_tabs.py
    language: python
    files: \.tex$

misc
  dpcatbib.bib
Due: none

misc
  latexindent.yaml
  utils/symbols.tex
Due: latexindent, check-no-tabs

edits and additions
  volumes/vol1/05_pluribus/80_actions/20_actions.tex
  volumes/vol1/05_pluribus/80_actions/40_vector_spaces.tex
Due: latexindent, check-no-tabs

misc
  utils/symbols.tex
Due: latexindent, check-no-tabs

misc
  utils/packages.tex
Due: latexindent, check-no-tabs

misc
  volumes/vol1/35_design/75_lattice_structure/30_lattice.tex
Due: latexindent, check-no-tabs

Update .gitignore
  .gitignore
Due: none

edits
  volumes/vol1/05_pluribus/80_actions/20_actions.tex
  volumes/vol1/05_pluribus/80_actions/40_vector_spaces.tex
  volumes/vol1/05_pluribus/80_actions/60_dynamical_systems.tex
Due: latexindent, check-no-tabs

Update README.md
  README.md
Due: none

Create _2619402FA0135EEB8ECF93C058212785.data.minted
  _2619402FA0135EEB8ECF93C058212785.data.minted
Due: none

misc
  utils/environments-theorems.tex
  utils/environments.tex
  utils/preamble.tex
  utils/symbols.tex
Due: latexindent, check-no-tabs

misc
  utils/other_symbols.tex
  utils/packages.tex
  utils/symbols.tex
Due: latexindent, check-no-tabs

misc
  utils/code.tex
Due: latexindent, check-no-tabs

misc
  utils/packages.tex
  utils/preamble.tex
  utils/symbols.tex
Due: latexindent, check-no-tabs

misc
  utils/preamble.tex
  utils/symbols.tex
Due: latexindent, check-no-tabs

fixed typos in LTI systems category definition
  volumes/vol1/25_translation/40_semicat_actions/30_LTI_systems.tex
Due: latexindent, check-no-tabs

misc
  utils/packages.tex
  utils/preamble.tex
  utils/symbols.tex
  utils/symbols_glyphs.tex
Due: latexindent, check-no-tabs

misc
  .gitignore
  utils/glyphs.tex
  utils/preamble.tex
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent, check-no-tabs

misc
  ACT4E-public-fast.tex
  check_no_multiple_refs.py
  check_no_undefined_refs.py
  utils/environments.tex
Due: latexindent, check-no-tabs

replaced "shaded*" with "shaded" to try to fix latex error i am getting
  utils/environments.tex
  utils/preamble_act.tex
Due: latexindent, check-no-tabs

edits
  _2619402FA0135EEB8ECF93C058212785.data.minted
  utils/packages.tex
  volumes/vol1/30_interconnections/20_parallelism/24_monoidal.tex
Due: latexindent, check-no-tabs

framed packaged included
  utils/packages.tex
Due: latexindent, check-no-tabs

replaced old closing loop doc with james's notes
  volumes/vol1/30_interconnections/60_feedback/20_closing_loop_codesign.tex
  volumes/vol1/30_interconnections/60_feedback/_0FC69F2F8E3929C6680EFEB7D1A29A76.message.minted
  volumes/vol1/35_interconnections/60_feedback/20_closing_loop_codesign.tex
Due: latexindent, check-no-tabs

interconnections part appeared twice, but once empty - fixed
  ACT4E-blurbvol1-slow.tex
  ACT4E-luluvol1-slow.tex
  _B8C56149578306E8D31D0229A646A4D2.data.minted
Due: latexindent, check-no-tabs

removed redundant material (appeared twice)
  volumes/vol1/30_interconnections/60_feedback/20_closing_loop_codesign.tex
Due: latexindent, check-no-tabs

removed irrelevant line
  volumes/vol1/30_interconnections/60_feedback/20_closing_loop_codesign.tex
Due: latexindent, check-no-tabs

trying to resolve multiply defined defs and labels
  volumes/vol1/30_interconnections/60_feedback/20_closing_loop_codesign.tex
Due: latexindent, check-no-tabs

deleted minted error message... wonder if this helps??
  volumes/vol1/30_interconnections/60_feedback/_0FC69F2F8E3929C6680EFEB7D1A29A76.message.minted
Due: none

edit
  volumes/vol1/30_interconnections/60_feedback/20_closing_loop_codesign.tex
Due: latexindent, check-no-tabs

changed redundant lemma name
  volumes/vol1/27_naturality/_939CC99933EF21CD23A339B1F4371778.message.minted
  volumes/vol1/30_interconnections/60_feedback/20_closing_loop_codesign.tex
  volumes/vol1/30_interconnections/60_feedback/_0FC69F2F8E3929C6680EFEB7D1A29A76.data.minted
  volumes/vol1/30_interconnections/_939CC99933EF21CD23A339B1F4371778.message.minted
Due: latexindent, check-no-tabs

misc
  .gitignore
Due: none

misc
  sag/slice-morphism.tikz
  utils/preamble.tex
  volumes/vol1/30_interconnections/60_feedback/17_semicat_trace.tex
Due: latexindent, latexindent2, check-no-tabs

misc
  sag/050_example_coprod_disjunction_bool_cont.tikz
  sag/categorical_product_diagram_morphism.tikz
  sag/categorical_product_diagram_universal_prop.tikz
  sag/coslice-morphism.tikz
  sag/globular_galois_connection.tikz
  sag/horizontal_composition_1.tikz
  sag/horizontal_composition_2.tikz
  sag/ntrafo_associator_cart_prod.tikz
Due: latexindent2
