Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

.pre-commit-config.yaml:

repos:
# - repo: https://github.com/jonasbb/pre-commit-latex-hooks
#   rev: v1.2.3
#   hooks:
#     - id: american-eg-ie
#     - id: cleveref-capitalization
#     - id: consistent-spelling
#       args:
#           [
#             "--emph=et al.",
#             "--emph=a priori",
#             "--emph=a posteriori",
#             '--regex=naive=\bna(i|\\"i)ve',
#           ]
#     - id: csquotes
#     - id: ensure-labels-for-sections
#     - id: no-space-in-cite
#     - id: tilde-cite
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-merge-conflict 
- repo: local
  hooks:
  - id: latexindent
    name: latexindent
    entry: latexindent.sh
    language: script
    # files: \.tex$
    files: ".*\\.tex$"
    exclude: ^utils/
  - id: latexindent2
    name: latexindent2
    entry: latexindent.sh
    language: script
    files: \.tikz$
    exclude: ^utils/

...
  volumes/vol1/30_design/30_feasibility/20_series.tex
Due: latexindent

fix
  volumes/vol1/40_computation/20_solving/20_example_nats.tex
Due: latexindent

fix
  books.yaml
Due: none

try
  .circleci/ACT4E-devel.manifest.yaml
  .circleci/ACT4E-instructors.manifest.yaml
  .circleci/ACT4E-public.manifest.yaml
  .circleci/config.yml
Due: none

dpidp
  utils/symbols.tex
  volumes/vol1/30_design/30_feasibility/30_dp.tex
Due: latexindent

fix
  .circleci/ACT4E-devel-slides.manifest.yaml
  .circleci/config.yml
  books.yaml
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent

...
  volumes/vol1/30_design/30_feasibility/30_dp.tex
Due: latexindent

fix
  .circleci/config.yml
  books.yaml
Due: none

fix
  .circleci/ACT4E-devel-slides.manifest.yaml
  .circleci/ACT4E-instructors.manifest.yaml
Due: none

fix
  utils/symbols.tex
  volumes/vol1/30_design/30_feasibility/30_dp.tex
Due: latexindent

fix
  .circleci/ACT4E-devel-slides.manifest.yaml
  .circleci/ACT4E-devel.manifest.yaml
  .circleci/ACT4E-instructors.manifest.yaml
  .circleci/ACT4E-public.manifest.yaml
  .circleci/config.yml
  books.yaml
Due: none

semigroups/morphisms
  Makefile
  templates/template-part-standalone-noslides-fast.tex
  utils/symbols.tex
  volumes/vol1/00_front/part-standalone-fast.tex
  volumes/vol1/00_front/part-standalone-noslides-fast.tex
  volumes/vol1/03_prelims/part-standalone-fast.tex
  volumes/vol1/03_prelims/part-standalone-noslides-fast.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups_exercise.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/05_pluribus/part-standalone-fast.tex
  volumes/vol1/05_pluribus/part-standalone-noslides-fast.tex
  volumes/vol1/07_orders/part-standalone-fast.tex
  volumes/vol1/07_orders/part-standalone-noslides-fast.tex
  volumes/vol1/10_arrows/part-standalone-fast.tex
  volumes/vol1/10_arrows/part-standalone-noslides-fast.tex
  volumes/vol1/22_operations/part-standalone-fast.tex
  volumes/vol1/22_operations/part-standalone-noslides-fast.tex
  volumes/vol1/25_translation/part-standalone-fast.tex
  volumes/vol1/25_translation/part-standalone-noslides-fast.tex
  volumes/vol1/30_design/part-standalone-fast.tex
  volumes/vol1/30_design/part-standalone-noslides-fast.tex
  volumes/vol1/35_interconnections/part-standalone-fast.tex
  volumes/vol1/35_interconnections/part-standalone-noslides-fast.tex
  volumes/vol1/37_naturality/part-standalone-fast.tex
  volumes/vol1/37_naturality/part-standalone-noslides-fast.tex
  volumes/vol1/40_computation/part-standalone-fast.tex
  volumes/vol1/40_computation/part-standalone-noslides-fast.tex
  volumes/vol1/45_enrich/part-standalone-fast.tex
  volumes/vol1/45_enrich/part-standalone-noslides-fast.tex
  volumes/vol1/50_opera/part-standalone-fast.tex
  volumes/vol1/50_opera/part-standalone-noslides-fast.tex
  volumes/vol1/80_backmatter/part-standalone-fast.tex
  volumes/vol1/80_backmatter/part-standalone-noslides-fast.tex
Due: latexindent

fix
  volumes/vol1/30_design/75_lattice_structure/30_lattice.tex
Due: latexindent

...
  volumes/vol1/30_design/75_lattice_structure/30_lattice.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
Due: latexindent

...
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
Due: latexindent

fix
  sag/ceil_bis.tikz
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
Due: latexindent, latexindent2

fix
  utils/symbols.tex
  volumes/vol1/40_computation/20_solving/10_represent.tex
Due: latexindent

small fixes
  volumes/vol1/40_computation/20_solving/10_represent.tex
Due: latexindent

fixes
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
Due: latexindent

fix
  sag/dp_relax.tikz
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
Due: latexindent, latexindent2

edits
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
Due: latexindent

fixing typo
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
Due: latexindent

misc
  sag/example_dp_composition_xz.tikz
  sag/example_dp_composition_yz.tikz
  volumes/vol1/05_pluribus/25_monoids/05_semigroups_exercise.tex
  volumes/vol1/30_design/75_lattice_structure/20_restrictions.tex
  volumes/vol1/30_design/80_construct_dp/30_creating_DPs.tex
  volumes/vol1/part-misc/misc/155_relations_facts.tex
Due: latexindent, latexindent2

fix
  volumes/vol1/03_prelims/22_sets/86_exercises_setproduct.tex
Due: latexindent

edits
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/03_prelims/23_relation/26_transpose.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
Due: latexindent

edits
  volumes/vol1/07_orders/10_tradeoffs/50_measure.tex
  volumes/vol1/07_orders/30_poset_build/10_product.tex
  volumes/vol1/07_orders/30_poset_build/20_disjoint_union.tex
Due: latexindent

edtis, added figures in parallelism chapter
  pics/parallelism_associative-stacking-1-new.png
  pics/parallelism_associative-stacking-2-new.png
  pics/parallelism_associative-stacking-two-new.png
  pics/parallelism_symmetric-stacking-source-perm.png
  pics/parallelism_symmetric-stacking-target-perm.png
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent

misc
  sag/colors-table.tikz
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/31_posL.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
  volumes/vol1/35_interconnections/60_feedback/08_other_feedback.tex
  volumes/vol1/35_interconnections/60_feedback/20_closing_loop_codesign.tex
Due: latexindent, latexindent2

edits and additions on generators and relations
  volumes/vol1/05_pluribus/50_morphisms/18_equational.tex
Due: latexindent

fix
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/25_translation/50_functors/20_preorders_cat.tex
  volumes/vol1/25_translation/60_up_the_ladder/10_functor_composition.tex
  volumes/vol1/35_interconnections/10_systems/10_intro.tex
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
Due: latexindent

added macros for symmetric stacking
  utils/symbols.tex
  volumes/vol1/05_pluribus/50_morphisms/18_equational.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent

fix
  volumes/vol1/07_orders/30_poset_build/40_intervals.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/10_arrows/96_combination/80_occultism.tex
  volumes/vol1/25_translation/60_up_the_ladder/10_functor_composition.tex
  volumes/vol1/35_interconnections/20_parallelism/32_relL.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
Due: latexindent

fix
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
Due: latexindent

more
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/05_pluribus/50_morphisms/18_equational.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
  volumes/vol1/07_orders/30_poset_build/10_product.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/32_relL.tex
  volumes/vol1/35_interconnections/60_feedback/05_feedback_processes.tex
  volumes/vol1/35_interconnections/60_feedback/08_other_feedback.tex
  volumes/vol1/35_interconnections/60_feedback/20_closing_loop_codesign.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent

fix
  volumes/vol1/03_prelims/22_sets/12_sets_representations_exercises.tex
Due: latexindent

typos
  .vscode/settings.json
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/35_interconnections/20_parallelism/31_posL.tex
Due: latexindent

typos
  volumes/vol1/03_prelims/22_sets/12_sets_representations_exercises.tex
  volumes/vol1/05_pluribus/50_morphisms/18_equational.tex
Due: latexindent
