Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

.pre-commit-config.yaml:

repos:
  # - repo: https://github.com/jonasbb/pre-commit-latex-hooks
  #   rev: v1.2.3
  #   hooks:
  #     - id: american-eg-ie
  #     - id: cleveref-capitalization
  #     - id: consistent-spelling
  #       args:
  #           [
  #             "--emph=et al.",
  #             "--emph=a priori",
  #             "--emph=a posteriori",
  #             '--regex=naive=\bna(i|\\"i)ve',
  #           ]
  #     - id: csquotes
  #     - id: ensure-labels-for-sections
  #     - id: no-space-in-cite
  #     - id: tilde-cite
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    - id: check-merge-conflict
    # - id: check-yaml
    # - id: trailing-whitespace
    #   files: ".*\\.(?:tex|py)$"
-   repo: local
    hooks: 
      - id: latexindent
        name: latexindent
        entry: latexindent.sh
        language: script
        files: \.tex$
        exclude: ^utils/
      - id: latexindent2
        name: latexindent2
        entry: latexindent.sh
        language: script
        files: \.tikz$
        exclude: ^utils/
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.10
    hooks:
    # -   id: forbid-crlf
    # -   id: remove-crlf
    -   id: forbid-tabs
    # -   id: remove-tabs
    #     args: [ '--whitespaces-count', '2' ]  # defaults to: 4

fixing some errors in code ex
  volumes/vol1/00_front/20_exercise/40_theory_ex.tex
Due: latexindent

edits and additions
  sag/30_example_rel_2.tikz
  volumes/vol1/00_front/07_instructors/chapter.tex
Due: latexindent, latexindent2

minor
  volumes/vol1/00_front/20_exercise/30_exercise_tutorial.tex
Due: latexindent

misc
  volumes/vol1/03_prelims/21_things_together/015_category_overview.tex
  volumes/vol1/03_prelims/21_things_together/Makefile
  volumes/vol1/03_prelims/21_things_together/chapter-link-minted
  volumes/vol1/03_prelims/21_things_together/chapter-link-snippets
  volumes/vol1/03_prelims/21_things_together/chapter-standalone-fast.tex
  volumes/vol1/03_prelims/21_things_together/chapter-standalone-noslides-fast.tex
  volumes/vol1/03_prelims/21_things_together/chapter-standalone-public-fast.tex
  volumes/vol1/03_prelims/21_things_together/chapter-standalone.tex
  volumes/vol1/03_prelims/21_things_together/chapter.tex
  volumes/vol1/03_prelims/part.tex
  volumes/vol1/05_pluribus/part.tex
Due: latexindent

fix
  snippets/80_code_exercise/80_code_exercise-FiniteNaturalTransformation.texi
  snippets/80_code_exercise/80_code_exercise-FiniteNaturalTransformationRepresentation.texi
  snippets/80_code_exercise/80_code_exercise-nat1.texi
Due: none

moved
  volumes/vol1/00_front/19_things/015_category_overview.tex
  volumes/vol1/00_front/19_things/Makefile
  volumes/vol1/00_front/19_things/chapter-link-minted
  volumes/vol1/00_front/19_things/chapter-link-snippets
  volumes/vol1/00_front/19_things/chapter-standalone-fast.tex
  volumes/vol1/00_front/19_things/chapter-standalone-noslides-fast.tex
  volumes/vol1/00_front/19_things/chapter-standalone-public-fast.tex
  volumes/vol1/00_front/19_things/chapter-standalone.tex
  volumes/vol1/00_front/19_things/chapter.tex
  volumes/vol1/00_front/part.tex
  volumes/vol1/03_prelims/21_things_together/015_category_overview.tex
  volumes/vol1/03_prelims/21_things_together/Makefile
  volumes/vol1/03_prelims/21_things_together/chapter-link-minted
  volumes/vol1/03_prelims/21_things_together/chapter-link-snippets
  volumes/vol1/03_prelims/21_things_together/chapter-standalone-fast.tex
  volumes/vol1/03_prelims/21_things_together/chapter-standalone-noslides-fast.tex
  volumes/vol1/03_prelims/21_things_together/chapter-standalone-public-fast.tex
  volumes/vol1/03_prelims/21_things_together/chapter-standalone.tex
  volumes/vol1/03_prelims/21_things_together/chapter.tex
  volumes/vol1/03_prelims/22_sets/chapter.tex
  volumes/vol1/03_prelims/part.tex
Due: latexindent

latexindent
  sag/050_example_coprod_max_cont.tikz
  sag/050_example_coprod_union_cont.tikz
  sag/050_example_prod_min_cont.tikz
  sag/50_defproduct.tikz
  volumes/vol1/00_front/10_introduction/016_departure.tex
  volumes/vol1/03_prelims/23_relation/22_relations_and_functions.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/07_orders/10_tradeoffs/10_intro.tex
  volumes/vol1/07_orders/10_tradeoffs/60_moregeneral.tex
  volumes/vol1/10_arrows/20_combination/10_products.tex
  volumes/vol1/10_arrows/75_processes/10_intro_processes.tex
  volumes/vol1/10_arrows/75_processes/Moore_different_actions.tex
  volumes/vol1/35_interconnections/10_systems/10_intro.tex
  volumes/vol1/35_interconnections/10_systems/chapter.tex
  volumes/vol1/35_interconnections/10_systems/modeling_behavior.tex
  volumes/vol1/35_interconnections/10_systems/properties_behaviors.tex
  volumes/vol1/40_computation/15_query_equiv/05_intro.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
  volumes/vol1/40_computation/20_solving/chapter.tex
  volumes/vol1/40_computation/part.tex
Due: latexindent, latexindent2

edits and additions
  volumes/vol1/00_front/07_instructors/chapter.tex
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent

more hints for exercises
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/11_setoids.tex
  volumes/vol1/03_prelims/22_sets/12_sets_representations_exercises.tex
  volumes/vol1/03_prelims/22_sets/17_powerset_exercises.tex
  volumes/vol1/03_prelims/22_sets/20_disjoint_union_exercises.tex
  volumes/vol1/03_prelims/22_sets/86_exercises_setproduct.tex
  volumes/vol1/03_prelims/22_sets/88_exercises_setunion.tex
  volumes/vol1/03_prelims/22_sets/chapter.tex
  volumes/vol1/03_prelims/23_relation/20_relations_exercises.tex
  volumes/vol1/03_prelims/23_relation/21_relations_compose_exercises.tex
  volumes/vol1/03_prelims/23_relation/28_transitive_exercises.tex
  volumes/vol1/03_prelims/23_relation/chapter.tex
Due: latexindent

fix
  utils/symbols.tex
Due: none

fix
  snippets/20_disjoint_union_exercises/20_disjoint_union_exercises-MakeSetDisjointUnion.texi
  snippets/20_disjoint_union_exercises/20_disjoint_union_exercises-SetDisjointUnion.texi
  snippets/86_exercises_setproduct/86_exercises_setproduct-FiniteSetProduct.texi
  volumes/vol1/03_prelims/22_sets/12_sets_representations_exercises.tex
Due: latexindent

edits and additions
  utils/symbols.tex
  volumes/vol1/00_front/07_instructors/chapter.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent

semigroups pass
  utils/environments.tex
  utils/symbols.tex
  utils/tikz_utils.tex
  volumes/vol1/05_pluribus/25_monoids/03_structures.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups_exercise.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
Due: latexindent

pass over monoids
  volumes/vol1/03_prelims/22_sets/17_powerset_exercises.tex
  volumes/vol1/03_prelims/22_sets/82_exercises_finitesetproperties.tex
  volumes/vol1/03_prelims/23_relation/28_transitive_exercises.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/05_pluribus/25_monoids/15_rope_goldberg.tex
  volumes/vol1/07_orders/10_tradeoffs/30_chains_antichains.tex
  volumes/vol1/07_orders/10_tradeoffs/70_powerposet.tex
  volumes/vol1/07_orders/10_tradeoffs/71_powerposet_exercises.tex
Due: latexindent

fix
  volumes/vol1/00_front/20_exercise/20_setup.tex
Due: latexindent

better spacing
  volumes/vol1/07_orders/30_poset_build/11_product_exercises.tex
  volumes/vol1/07_orders/30_poset_build/21_disjoint_union_exercises.tex
  volumes/vol1/07_orders/30_poset_build/40_intervals.tex
  volumes/vol1/07_orders/30_poset_build/41_intervals_exercises.tex
Due: latexindent

intervals
  volumes/vol1/07_orders/30_poset_build/40_intervals.tex
  volumes/vol1/07_orders/30_poset_build/41_intervals_exercises.tex
  volumes/vol1/07_orders/30_poset_build/50_intervals2.tex
  volumes/vol1/07_orders/30_poset_build/51_intervals2_exercises.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps_exercise.tex
  volumes/vol1/07_orders/40_monotonicity/20_composition.tex
Due: latexindent

fix
  snippets/20_relations_exercises/20_relations_exercises-FiniteRelation.texi
  snippets/20_relations_exercises/20_relations_exercises-Relation.texi
  volumes/vol1/03_prelims/22_sets/88_exercises_setunion.tex
  volumes/vol1/03_prelims/22_sets/chapter.tex
  volumes/vol1/05_pluribus/25_monoids/15_rope_goldberg.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
  volumes/vol1/07_orders/10_tradeoffs/21_tradeoffs_exercises.tex
  volumes/vol1/07_orders/10_tradeoffs/71_powerposet_exercises.tex
  volumes/vol1/07_orders/30_poset_build/11_product_exercises.tex
  volumes/vol1/07_orders/30_poset_build/41_intervals_exercises.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps_exercise.tex
Due: latexindent

fix
  volumes/vol1/03_prelims/22_sets/12_sets_representations_exercises.tex
  volumes/vol1/07_orders/10_tradeoffs/70_powerposet.tex
Due: latexindent

experiment
  volumes/vol1/03_prelims/22_sets/05_logic.tex
Due: latexindent

minor
  snippets/21_disjoint_union_exercises/21_disjoint_union_exercises-PosetDisjointUnion.texi
  snippets/88_exercises_setunion/88_exercises_setunion-SetUnion.texi
Due: none

minor notation
  snippets/12_sets_representations_exercises/12_sets_representations_exercises-act4e_book_examples.empty.texi
  snippets/12_sets_representations_exercises/12_sets_representations_exercises-act4e_book_examples.f1.texi
  snippets/12_sets_representations_exercises/12_sets_representations_exercises-act4e_book_examples.f2.texi
  snippets/86_exercises_setproduct/86_exercises_setproduct-set_product10.texi
  snippets/86_exercises_setproduct/86_exercises_setproduct-set_product111.texi
  snippets/88_exercises_setunion/88_exercises_setunion-set_union_empty1.texi
  snippets/88_exercises_setunion/88_exercises_setunion-set_union_empty2.texi
  snippets/89_setoids/89_setoids-SetoidOperations.texi
  snippets/89_setoids_union/89_setoids_union-SetoidOperations.texi
  utils/environments.tex
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/86_exercises_setproduct.tex
  volumes/vol1/03_prelims/22_sets/89_setoids_union.tex
  volumes/vol1/07_orders/30_poset_build/40_intervals.tex
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/35_interconnections/10_systems/LTI_systems.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
Due: latexindent

merge
  volumes/vol1/00_front/07_instructors/chapter.tex
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/22_sets/17_powerset_exercises.tex
  volumes/vol1/03_prelims/22_sets/chapter.tex
  volumes/vol1/03_prelims/23_relation/21_relations_compose.tex
  volumes/vol1/03_prelims/23_relation/26_transpose.tex
  volumes/vol1/03_prelims/23_relation/28_transitive_exercises.tex
  volumes/vol1/35_interconnections/10_systems/modeling_behavior.tex
Due: latexindent

space
  volumes/vol1/03_prelims/22_sets/89_setoids_union.tex
Due: latexindent

more exercises
  snippets/05_semigroups_exercise/05_semigroups_exercise-FiniteSemigroupRepresentation.texi
  snippets/10_monoids_exercise/10_monoids_exercise-FiniteMonoidRepresentation.texi
  snippets/18_equational_exercise/18_equational_exercise-FiniteGroupMorphismRepresentation.texi
  snippets/18_equational_exercise/18_equational_exercise-FiniteMonoidMorphismRepresentation.texi
  snippets/18_equational_exercise/18_equational_exercise-FiniteSemigroupMorphismRepresentation.texi
  snippets/18_equational_exercise/18_equational_exercise-FiniteSemigroupMorphismsChecks.texi
  snippets/18_equational_exercise/18_equational_exercise-FiniteSemigroupMorphismsOperations.texi
  snippets/18_equational_exercise/18_equational_exercise-GroupMorphism.texi
  snippets/18_equational_exercise/18_equational_exercise-MonoidMorphism.texi
  snippets/18_equational_exercise/18_equational_exercise-SemigroupMorphism.texi
  snippets/20_disjoint_union_exercises/20_disjoint_union_exercises-SetDisjointUnion.texi
  snippets/20_groups_exercise/20_groups_exercise-FiniteGroupRepresentation.texi
  snippets/20_twisted_exercise/20_twisted_exercise-FiniteCategoryOperations-twisted_arrow.texi
  snippets/21_disjoint_union_exercises/21_disjoint_union_exercises-PosetDisjointUnion.texi
  snippets/25_arrow_exercise/25_arrow_exercise-FiniteCategoryOperations-arrow.texi
  snippets/26_transpose_exercises/26_transpose_exercises-FiniteRelationOperations.texi
  snippets/28_transitive/28_transitive-FiniteRelationOperations.texi
  snippets/50_functor_code/50_functor_code-FiniteFunctor.texi
  snippets/60_code_adjunctions/60_code_adjunctions-FiniteAdjunction.texi
  snippets/60_code_adjunctions/60_code_adjunctions-FiniteAdjunctionsOperations-compose.texi
  snippets/60_code_adjunctions/60_code_adjunctions-FiniteAdjunctionsOperations-is_adjunction.texi
  snippets/80_code_exercise/80_code_exercise-DPConstructors-companion.texi
  snippets/80_code_exercise/80_code_exercise-DPConstructors-conjoint.texi
  snippets/80_code_exercise/80_code_exercise-FiniteNaturalTransformation.texi
  snippets/80_exercise/80_exercise-FiniteCategory.texi
  snippets/80_exercise/80_exercise-FiniteCategoryOperations-disjoint_union.texi
  snippets/80_exercise/80_exercise-FiniteCategoryOperations-product.texi
  snippets/80_exercise/80_exercise-FiniteCategoryOperations.texi
  snippets/80_exercise/80_exercise-FiniteSemiCategory.texi
  snippets/90_exercises_FiniteMapOperations/90_exercises_FiniteMapOperations-FiniteMapOperations.texi
  snippets/incoming/incoming-FiniteMapOperations-as_relation.texi
  snippets/incoming/incoming-FiniteMapOperations.texi
  volumes/vol1/05_pluribus/50_morphisms/18_equational_exercise.tex
Due: latexindent

edits and additions
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/60_feedback/10_categorical_trace.tex
  volumes/vol1/35_interconnections/60_feedback/chapter.tex
  volumes/vol1/37_naturality/100_generalization/10_categorical_trace.tex
Due: latexindent

added an axiom to definition of symmetric stacking
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent

fix for multiplied defined labels
  volumes/vol1/35_interconnections/60_feedback/10_categorical_trace.tex
Due: latexindent

undid \devel because it broke references
  volumes/vol1/35_interconnections/60_feedback/chapter.tex
Due: latexindent

devcontainer
  .devcontainer-old/Dockerfile
  .devcontainer-old/devcontainer.json
  .devcontainer-old/docker-compose.yml
  .devcontainer-old/requirements.txt
  .devcontainer/.dockerignore
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .dockerignore
  .gitignore
  Makefile
Due: none

misc
  .devcontainer/Dockerfile
  utils/code.tex
Due: none

misc
  utils/code.tex
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/60_feedback/10_categorical_trace.tex
  volumes/vol1/35_interconnections/60_feedback/chapter.tex
Due: latexindent

space
  latexindent.yaml
  snippets/86_exercises_setproduct/86_exercises_setproduct-SetProduct.texi
  utils/code.tex
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/00_front/20_exercise/30_exercise_tutorial.tex
  volumes/vol1/03_prelims/22_sets/12_sets_representations_exercises.tex
Due: latexindent

fix
  latexindent.yaml
  volumes/vol1/00_front/20_exercise/30_exercise_tutorial.tex
Due: latexindent

should have been links
  .devcontainer-old/Dockerfile
  .devcontainer-old/devcontainer.json
  .devcontainer-old/docker-compose.yml
  .devcontainer-old/requirements.txt
  snippets/88_exercises_setunion/88_exercises_setunion-set_union_empty1.texi
  snippets/88_exercises_setunion/88_exercises_setunion-set_union_empty2.texi
  snippets/88_exercises_setunion/88_exercises_setunion-set_union_zero.texi
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
Due: latexindent

should have been links
  .gitignore
  latexindent.yaml
Due: none
