Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2, check-no-tabs

latexindent:
  name: latexindent
  entry: ./latexindent.sh
  language: script

latexindent2:
  name: latexindent2
  entry: ./latexindent.sh
  language: script

check-no-tabs:
  name: check-no-tabs
  entry: ./check_no_tabs.py
  language: python

minor typos
  volumes/vol1/05_pluribus/25_monoids/12_dynamical.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
  volumes/vol1/05_pluribus/80_actions/50_matrix_groups.tex
Due: latexindent, check-no-tabs

edits and additions in chapters on natural trafos and universal properties
  volumes/vol1/22_operations/21_universal/25_more-constructions.tex
  volumes/vol1/22_operations/21_universal/50_limits-and-colimits.tex
  volumes/vol1/22_operations/21_universal/chapter.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, check-no-tabs

edits and additions to natural trafo chapterr
  ACT4E-devel-slow.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, check-no-tabs

fix
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, check-no-tabs

edits
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, check-no-tabs

testing if issue local or not
  ACT4E-devel-fast.tex
Due: latexindent, check-no-tabs

Update ACT4E-devel-fast.tex
  ACT4E-devel-fast.tex
Due: latexindent, check-no-tabs

minor edits
  volumes/vol1/37_naturality/100_generalization/70_dual_objects.tex
Due: latexindent, check-no-tabs

misc
  Makefile
  utils/labels.tex
  utils/packages.tex
  utils/preamble.tex
  utils/symbols.tex
Due: latexindent, check-no-tabs

misc
  .gitignore
Due: none

misc
  troubleshooting.md
  utils/preamble.tex
  utils/solutions.tex
  utils/solutions_fake.tex
Due: latexindent, check-no-tabs

re-enabled author instructions
  utils/labels.tex
  utils/packages.tex
  utils/preamble.tex
  utils/symbols.tex
  utils/symbols_decoration.tex
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/40_computation/30_monads/20_monads.tex
Due: latexindent, check-no-tabs

fixed bad option
  equations/head.txt
  sag/30_example_rel_2.pdf
  sag/display/30_rel_fun_graph.pdf
  sag/head.txt
Due: none

additions on terminal and initial objects
  utils/symbols.tex
  volumes/vol1/22_operations/21_universal/05_initial-terminal.tex
  volumes/vol1/22_operations/21_universal/10_products.tex
  volumes/vol1/22_operations/21_universal/50_limits-and-colimits.tex
Due: latexindent, check-no-tabs

additions and changed title of part and of a chapter
  volumes/vol1/22_operations/21_universal/05_initial-terminal.tex
  volumes/vol1/22_operations/21_universal/chapter.tex
  volumes/vol1/22_operations/part.tex
Due: latexindent, check-no-tabs

edits and additions
  sag/050_digits_1.tikz
  sag/050_digits_3.tikz
  sag/50_defproduct.tikz
  sag/50_defproduct_generic.tikz
  sag/categorical_product_diagram_generic.tikz
  sag/categorical_product_diagram_generic_bis.tikz
  sag/categorical_product_diagram_morphism.tikz.tex
  sag/categorical_product_diagram_test.tikz
  sag/categorical_product_diagram_universal_prop.tikz.tex
  utils/symbols.tex
  volumes/vol1/22_operations/21_universal/10_products.tex
  volumes/vol1/22_operations/21_universal/50_limits-and-colimits.tex
Due: latexindent, latexindent2, check-no-tabs

fixed two multiple labels
  volumes/vol1/22_operations/21_universal/05_initial-terminal.tex
  volumes/vol1/22_operations/21_universal/50_limits-and-colimits.tex
Due: latexindent, check-no-tabs

restructuring a bit to add chapter on universal properties
  volumes/vol1/22_operations/21_limits_colimits/05_initial-terminal.tex
  volumes/vol1/22_operations/21_limits_colimits/10_products.tex
  volumes/vol1/22_operations/21_limits_colimits/20_coproduct.tex
  volumes/vol1/22_operations/21_limits_colimits/25_more-constructions.tex
  volumes/vol1/22_operations/21_limits_colimits/30_examples.tex
  volumes/vol1/22_operations/21_limits_colimits/50_limits-and-colimits.tex
  volumes/vol1/22_operations/21_limits_colimits/80_occultism.tex
  volumes/vol1/22_operations/21_limits_colimits/Makefile
  volumes/vol1/22_operations/21_limits_colimits/chapter-link-minted
  volumes/vol1/22_operations/21_limits_colimits/chapter-link-snippets
  volumes/vol1/22_operations/21_limits_colimits/chapter-standalone-fast.tex
  volumes/vol1/22_operations/21_limits_colimits/chapter-standalone-noslides-fast.tex
  volumes/vol1/22_operations/21_limits_colimits/chapter-standalone-public-fast.tex
  volumes/vol1/22_operations/21_limits_colimits/chapter-standalone.tex
  volumes/vol1/22_operations/21_limits_colimits/chapter.tex
  volumes/vol1/22_operations/21_limits_colimits/forslides_combination.tex
  volumes/vol1/22_operations/21_universal/045_universal_properties_TBPLACED.tex
  volumes/vol1/22_operations/23_universal_properties/10_yoneda.tex
  volumes/vol1/22_operations/23_universal_properties/20_universal_properties.tex
  volumes/vol1/22_operations/23_universal_properties/Makefile
  volumes/vol1/22_operations/23_universal_properties/chapter-standalone-fast.tex
  volumes/vol1/22_operations/23_universal_properties/chapter-standalone-noslides-fast.tex
  volumes/vol1/22_operations/23_universal_properties/chapter-standalone-public-fast.tex
  volumes/vol1/22_operations/23_universal_properties/chapter-standalone.tex
  volumes/vol1/22_operations/23_universal_properties/chapter.tex
  volumes/vol1/22_operations/part.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, check-no-tabs

edits and additions
  sag/50_defproduct_generic.tikz
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/22_operations/21_limits_colimits/10_products.tex
  volumes/vol1/22_operations/21_limits_colimits/chapter.tex
  volumes/vol1/35_interconnections/60_feedback/05_feedback_processes.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent, latexindent2, check-no-tabs

edits
  volumes/vol1/22_operations/21_limits_colimits/05_initial-terminal.tex
  volumes/vol1/22_operations/21_limits_colimits/10_products.tex
Due: latexindent, check-no-tabs

edits
  sag/60_defcoproduct.tikz
  sag/60_defcoproduct_generic.tikz
  sag/categorical_product_diagram_morphism.tikz.tex
  volumes/vol1/22_operations/21_limits_colimits/10_products.tex
  volumes/vol1/22_operations/21_limits_colimits/20_coproduct.tex
  volumes/vol1/22_operations/21_limits_colimits/chapter.tex
Due: latexindent, latexindent2, check-no-tabs

comment/questions added re def of equivalence of LTI systems
  ACT4E-devel-fast.tex
  volumes/vol1/10_arrows/75_processes/30_LTI_systems.tex
Due: latexindent, check-no-tabs

Update README.md
  README.md
Due: none

edits, additions, transitivity no longer its own section
  utils/packages.tex
  volumes/vol1/03_prelims/22_sets/05_logic.tex
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/03_prelims/22_sets/20_more_constructions.tex
  volumes/vol1/03_prelims/23_relation/26_endorelations.tex
  volumes/vol1/03_prelims/23_relation/28_transitive.tex
  volumes/vol1/03_prelims/23_relation/29_equiv_partitions.tex
  volumes/vol1/03_prelims/23_relation/chapter.tex
Due: latexindent, check-no-tabs

edits
  volumes/vol1/03_prelims/23_relation/26_endorelations.tex
  volumes/vol1/03_prelims/23_relation/29_equiv_partitions.tex
Due: latexindent, check-no-tabs

old fixes to figures
  book-proposal/main.pdf
Due: none

remove tab
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
Due: latexindent, check-no-tabs

fixed erroneous typed symbol
  ACT4E-devel-fast.tex
Due: latexindent, check-no-tabs

solution png file for cospan multicat graded exercise
  sag/HwkCospanMulticat.png
Due: none

testing JWB
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, check-no-tabs

commit test
  volumes/vol1/03_prelims/23_relation/10_distribution_networks.tex
Due: latexindent, check-no-tabs

test ok
  volumes/vol1/03_prelims/23_relation/10_distribution_networks.tex
Due: latexindent, check-no-tabs

x
  volumes/vol1/03_prelims/23_relation/10_distribution_networks.tex
Due: latexindent, check-no-tabs

added material to subsection "arithmetic with sets"
  ACT4E-devel-fast.tex
  volumes/vol1/03_prelims/22_sets/12_sets_representations_exercises.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/22_sets/88_exercises_setunion.tex
  volumes/vol1/03_prelims/22_sets/89_setoids_union.tex
  volumes/vol1/03_prelims/22_sets/chapter-standalone.tex
  volumes/vol1/03_prelims/22_sets/chapter.tex
Due: latexindent, check-no-tabs

changed wording / added labels to two exercises
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent, check-no-tabs

Path conditions:
  latexindent: any of: \.tex$
  latexindent2: any of: \.tikz$
  check-no-tabs: any of: \.tex$
