Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

latexindent:
  name: latexindent
  entry: latexindent.sh
  language: script

latexindent2:
  name: latexindent2
  entry: latexindent.sh
  language: script

misc
  t1xbtt.pfb.ttf
  toread/1-s2.0-S0304397514001819-main.pdf
  toread/Setoids_JFP_2003.pdf
  tricks.md
  view.php?id=730556
Due: none

mods
  utils/other_symbols.tex
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/100_foundations.tex
  volumes/vol1/03_prelims/22_sets/11_setoids.tex
  volumes/vol1/05_pluribus/25_monoids/15_rope_goldberg.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/07_orders/10_tradeoffs/10_intro.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/07_orders/10_tradeoffs/30_chains_antichains.tex
  volumes/vol1/07_orders/10_tradeoffs/31_chains_antichains_exercises.tex
  volumes/vol1/07_orders/10_tradeoffs/50_measure.tex
  volumes/vol1/07_orders/10_tradeoffs/51_measure_exercises.tex
  volumes/vol1/07_orders/10_tradeoffs/70_powerposet.tex
  volumes/vol1/07_orders/30_poset_build/10_product.tex
  volumes/vol1/07_orders/30_poset_build/40_intervals.tex
  volumes/vol1/07_orders/40_monotonicity/11_antitone.tex
  volumes/vol1/07_orders/Makefile
  volumes/vol1/10_arrows/05_graphs/10_graphs.tex
  volumes/vol1/10_arrows/05_graphs/20_graphs_hom.tex
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
  volumes/vol1/10_arrows/20_cats_structures/50_cat_gr.tex
  volumes/vol1/10_arrows/50_connection/chapter.tex
  volumes/vol1/10_arrows/95_construct_cat/10_cat_from_graph.tex
  volumes/vol1/10_arrows/96_combination/10_products.tex
  volumes/vol1/10_arrows/96_combination/20_coproduct.tex
  volumes/vol1/10_arrows/99_culture/10_goals.tex
  volumes/vol1/22_operations/20_sameness/041_sameness.tex
  volumes/vol1/25_translation/50_functors/10_functors.tex
  volumes/vol1/25_translation/50_functors/20_preorders_cat.tex
  volumes/vol1/25_translation/55_specialization/50_drawings.tex
  volumes/vol1/25_translation/55_specialization/60_other_subcategories.tex
  volumes/vol1/30_design/15_poset_bounds/40_antiupper.tex
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
  volumes/vol1/40_computation/20_solving/20_example_nats.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
  volumes/vol1/45_enrich/40_profunctors/20_hom.tex
  volumes/vol1/45_enrich/45_enrichment/30_setenricheddp.tex
  volumes/vol1/50_opera/50_operads/10_op.tex
  volumes/vol1/part-misc/misc/100_pos_not_sufficient.tex
Due: latexindent

fix
  sag/40_dpcatfig_exmonotone.tikz
  sag/40_dpcatfig_power_antichains_bis.tikz
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/07_orders/30_poset_build/10_product.tex
  volumes/vol1/07_orders/30_poset_build/20_disjoint_union.tex
  volumes/vol1/07_orders/30_poset_build/30_opposite.tex
  volumes/vol1/07_orders/30_poset_build/31_opposite_exercises.tex
  volumes/vol1/07_orders/30_poset_build/40_intervals.tex
  volumes/vol1/07_orders/30_poset_build/50_intervals2.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/07_orders/40_monotonicity/11_antitone.tex
  volumes/vol1/07_orders/40_monotonicity/14_monotone_maps_exercise.tex
  volumes/vol1/07_orders/40_monotonicity/30_composition.tex
  volumes/vol1/07_orders/40_monotonicity/40_order_on_monotone_maps.tex
  volumes/vol1/07_orders/40_monotonicity/chapter.tex
  volumes/vol1/25_translation/55_specialization/60_other_subcategories.tex
  volumes/vol1/40_computation/10_from_math_to_imp/10_from_math_to_imp.tex
  volumes/vol1/40_computation/20_solving/10_represent.tex
Due: latexindent, latexindent2

fix
  sag/20_wheel_motor_options.pdf
  sag/30_dpcatfig_e1.pdf
  sag/30_dpcatfig_e10.pdf
  sag/30_dpcatfig_e2.pdf
  sag/30_dpcatfig_e3.pdf
  sag/30_dpcatfig_e4.pdf
  sag/30_dpcatfig_e5.pdf
  sag/30_dpcatfig_e6.pdf
  sag/30_dpcatfig_e7.pdf
  sag/40_dpcatfig_exmonotone.pdf
  sag/40_dpcatfig_power_antichains_bis.pdf
  sag/headpho_charge.pdf
  sag/poset_representation_2.pdf
  sag/res_small.pdf
Due: none

fixes
  sag/070_fast_good_cheap.tikz
  sag/30_dpcatfig_e11.tikz
  sag/30_dpcatfig_e13.tikz
  sag/30_dpcatfig_e8.tikz
  volumes/vol1/07_orders/10_tradeoffs/10_intro.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/20_design.tex
Due: latexindent, latexindent2

fixes
  sag/20_ellipses_mat.tikz
  sag/20_mat_order.tikz
  sag/headpho_charge.tikz
  sag/headpho_fun.tikz
  sag/headpho_price.tikz
  sag/headpho_wires.tikz
  volumes/vol1/07_orders/10_tradeoffs/10_intro.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
Due: latexindent, latexindent2

fixes
  sag/40_dpcatfig_power_antichains.tikz
  sag/40_dpcatfig_power_antichains_bis.tikz
  sag/40_dpcatfig_power_chains.tikz
  sag/70_antichain_2.tikz
  volumes/vol1/07_orders/10_tradeoffs/30_chains_antichains.tex
Due: latexindent, latexindent2

fix
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
Due: latexindent

fixes
  sag/arr_pos_fig.tikz
  sag/int_pos_fig.tikz
  sag/tw_int_fig.tikz
  volumes/vol1/07_orders/30_poset_build/40_intervals.tex
  volumes/vol1/07_orders/30_poset_build/50_intervals2.tex
Due: latexindent, latexindent2

fixes
  volumes/vol1/07_orders/30_poset_build/50_intervals2.tex
Due: latexindent

more todos
  utils/other_symbols.tex
  volumes/vol1/00_front/05_developers/10_instructions.tex
  volumes/vol1/10_arrows/75_processes/17_Moore_different_actions.tex
  volumes/vol1/10_arrows/75_processes/20_More_machines.tex
  volumes/vol1/25_translation/60_up_the_ladder/10_functor_composition.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent

more todos
  snippets/80_code_exercise/80_code_exercise-FiniteNaturalTransformation.texi
  snippets/80_code_exercise/80_code_exercise-FiniteNaturalTransformationRepresentation.texi
  snippets/80_code_exercise/80_code_exercise-nat1.texi
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
  volumes/vol1/40_computation/20_solving/20_example_nats.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
  volumes/vol1/45_enrich/40_profunctors/10_profunctors.tex
Due: latexindent

latexindent
  sag/070_fast_good_cheap.tikz
  sag/20_mat_order.tikz
  sag/20_wheel_motor_options.tikz
  sag/30_dpcatfig_e1.tikz
  sag/30_dpcatfig_e10.tikz
  sag/30_dpcatfig_e13.tikz
  sag/30_dpcatfig_e2.tikz
  sag/30_dpcatfig_e4.tikz
  sag/30_dpcatfig_e5.tikz
  sag/40_dpcatfig_power.tikz
  sag/40_dpcatfig_power_chains.tikz
  sag/endo_trace_gen.tikz
  sag/enrichment_assoc2.tikz
  volumes/vol1/07_orders/10_tradeoffs/31_chains_antichains_exercises.tex
  volumes/vol1/07_orders/10_tradeoffs/50_measure.tex
  volumes/vol1/07_orders/10_tradeoffs/51_measure_exercises.tex
  volumes/vol1/07_orders/30_poset_build/10_product.tex
  volumes/vol1/07_orders/30_poset_build/20_disjoint_union.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/07_orders/40_monotonicity/14_monotone_maps_exercise.tex
  volumes/vol1/10_arrows/05_graphs/10_graphs.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/75_processes/04_intro_processes.tex
  volumes/vol1/10_arrows/75_processes/20_More_machines.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/35_interconnections/10_systems/20_modeling_behavior.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/37_naturality/100_generalization/10_categorical_trace.tex
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
  volumes/vol1/40_computation/30_monads/50_monads_in_CS.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
Due: latexindent, latexindent2

fix
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
Due: latexindent

fixes
  sag/arr_pos_fig.tikz
Due: latexindent2

misc
  .vscode/settings.json
  volumes/vol1/00_front/05_developers/40_exercises.tex
  volumes/vol1/00_front/10_introduction/011_new_introduction.tex
  volumes/vol1/00_front/20_exercise/30_exercise_tutorial.tex
  volumes/vol1/03_prelims/23_relation/21_relations_compose_exercises.tex
  volumes/vol1/03_prelims/23_relation/25_relations_properties_exercises.tex
  volumes/vol1/07_orders/10_tradeoffs/21_tradeoffs_exercises.tex
  volumes/vol1/07_orders/40_monotonicity/40_order_on_monotone_maps.tex
  volumes/vol1/10_arrows/05_graphs/10_graphs.tex
  volumes/vol1/10_arrows/96_combination/20_coproduct.tex
  volumes/vol1/30_design/30_feasibility/30_dp.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/60_feedback/04_modeling_feedback.tex
  volumes/vol1/35_interconnections/60_feedback/05_feedback_processes.tex
  volumes/vol1/35_interconnections/70_interactions_composition/10_order_interactions_composition.tex
  volumes/vol1/35_interconnections/70_interactions_composition/20_lattice_interaction_composition.tex
  volumes/vol1/37_naturality/100_generalization/10_categorical_trace.tex
  volumes/vol1/37_naturality/100_generalization/70_dual_objects.tex
  volumes/vol1/40_computation/10_from_math_to_imp/10_from_math_to_imp.tex
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
  volumes/vol1/40_computation/20_solving/70_examples.tex
  volumes/vol1/40_computation/20_solving/75_complexity.tex
Due: latexindent

fix
  sag/arr_pos_fig.pdf
  sag/arr_pos_fig.tikz
  utils/other_symbols.tex
  volumes/vol1/07_orders/30_poset_build/40_intervals.tex
  volumes/vol1/07_orders/30_poset_build/50_intervals2.tex
  volumes/vol1/10_arrows/05_graphs/10_graphs.tex
  volumes/vol1/10_arrows/05_graphs/20_graphs_hom.tex
Due: latexindent, latexindent2

misc
  .gitignore
  .vscode/settings.json
  utils/other_symbols.tex
  volumes/vol1/10_arrows/05_graphs/10_graphs.tex
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
  volumes/vol1/10_arrows/10_cats/25_cords.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/10_cats/35_diagrams.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/10_mobility.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/chapter.tex
  volumes/vol1/10_arrows/Makefile
Due: latexindent

fixes
  .vscode/settings.json
  utils/symbols.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/50_procedures.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/chapter.tex
  volumes/vol1/10_arrows/70_mapping/chapter.tex
  volumes/vol1/10_arrows/75_processes/04_intro_processes.tex
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/10_arrows/75_processes/10_Moore_3rd_attempt.tex
  volumes/vol1/10_arrows/95_construct_cat/05_disjoint_union_category.tex
  volumes/vol1/10_arrows/95_construct_cat/05_opposite.tex
  volumes/vol1/10_arrows/95_construct_cat/20_twisted.tex
  volumes/vol1/10_arrows/95_construct_cat/25_arrow.tex
  volumes/vol1/10_arrows/95_construct_cat/30_slice.tex
  volumes/vol1/10_arrows/96_combination/30_examples.tex
  volumes/vol1/10_arrows/part.tex
  volumes/vol1/30_design/72_lattices/51_monoidal_posets_proc.tex
  volumes/vol1/30_design/72_lattices/chapter.tex
Due: latexindent

symbols
  volumes/vol1/00_front/05_developers/20_style_guide.tex
Due: latexindent

fix
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
Due: latexindent

misc
  utils/symbols.tex
  volumes/vol1/00_front/10_introduction/016_departure.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/07_orders/30_poset_build/20_disjoint_union.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/10_cats/35_diagrams.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/20_design.tex
  volumes/vol1/10_arrows/75_processes/04_intro_processes.tex
  volumes/vol1/10_arrows/75_processes/10_Moore_3rd_attempt.tex
  volumes/vol1/10_arrows/75_processes/14_action_on_sequences.tex
  volumes/vol1/10_arrows/75_processes/15_cat_action.tex
  volumes/vol1/10_arrows/75_processes/20_More_machines.tex
  volumes/vol1/10_arrows/99_culture/20_matternot.tex
  volumes/vol1/22_operations/20_sameness/041_sameness.tex
  volumes/vol1/25_translation/50_functors/10_functors.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/25_translation/50_functors/35_diagrams_via_functors.tex
  volumes/vol1/25_translation/55_specialization/20_specialization.tex
  volumes/vol1/25_translation/55_specialization/60_other_subcategories.tex
  volumes/vol1/25_translation/55_specialization/70_berg.tex
  volumes/vol1/25_translation/60_up_the_ladder/10_functor_composition.tex
  volumes/vol1/30_design/72_lattices/80_lat_cat.tex
  volumes/vol1/30_design/80_construct_dp/20_companion_and_conjoint.tex
  volumes/vol1/30_design/80_construct_dp/25_sum.tex
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
  volumes/vol1/35_interconnections/20_parallelism/10_intro.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/37_naturality/100_generalization/70_dual_objects.tex
  volumes/vol1/37_naturality/90_adjunctions/20_counit.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
  volumes/vol1/40_computation/30_monads/10_generalized.tex
  volumes/vol1/40_computation/30_monads/20_monads.tex
  volumes/vol1/40_computation/40_uncertainty/30_LU_monads.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
  volumes/vol1/45_enrich/40_profunctors/20_hom.tex
  volumes/vol1/45_enrich/45_enrichment/20_enriched_categories.tex
Due: latexindent

misc
  volumes/vol1/30_design/72_lattices/50_monoidal_posets.tex
Due: latexindent

misc
  equations/Makefile
  utils/symbols.tex
  volumes/vol1/07_orders/10_tradeoffs/10_intro.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/07_orders/10_tradeoffs/30_chains_antichains.tex
  volumes/vol1/07_orders/10_tradeoffs/50_measure.tex
  volumes/vol1/07_orders/10_tradeoffs/60_moregeneral.tex
  volumes/vol1/07_orders/10_tradeoffs/70_powerposet.tex
  volumes/vol1/07_orders/10_tradeoffs/chapter.tex
  volumes/vol1/07_orders/30_poset_build/10_product.tex
  volumes/vol1/07_orders/30_poset_build/20_disjoint_union.tex
  volumes/vol1/07_orders/30_poset_build/30_opposite.tex
  volumes/vol1/07_orders/30_poset_build/40_intervals.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
  volumes/vol1/35_interconnections/60_feedback/06_feedback_design.tex
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_trace.tex
  volumes/vol1/35_interconnections/60_feedback/20_closing_loop_codesign.tex
  volumes/vol1/35_interconnections/60_feedback/chapter.tex
  volumes/vol1/37_naturality/90_adjunctions/20_counit.tex
Due: latexindent

fix
  volumes/vol1/07_orders/10_tradeoffs/50_measure.tex
  volumes/vol1/07_orders/10_tradeoffs/60_moregeneral.tex
  volumes/vol1/07_orders/40_monotonicity/11_antitone.tex
  volumes/vol1/10_arrows/05_graphs/20_graphs_hom.tex
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/10_arrows/75_processes/10_Moore_3rd_attempt.tex
  volumes/vol1/10_arrows/75_processes/17_Moore_different_actions.tex
  volumes/vol1/10_arrows/95_construct_cat/05_disjoint_union_category.tex
  volumes/vol1/10_arrows/95_construct_cat/05_opposite.tex
  volumes/vol1/10_arrows/95_construct_cat/25_arrow.tex
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_trace.tex
  volumes/vol1/37_naturality/90_adjunctions/20_counit.tex
  volumes/vol1/45_enrich/40_profunctors/20_hom.tex
Due: latexindent

misc
  equations/head.txt
  sag/display/70_antichain_2.pdf
  sag/display/identity.pdf
  sag/identity.pdf
  sag/identity.tikz
  utils/symbols.tex
  volumes/vol1/03_prelims/23_relation/20_relations.tex
  volumes/vol1/03_prelims/23_relation/26_endorelations.tex
  volumes/vol1/03_prelims/23_relation/28_transitive.tex
  volumes/vol1/03_prelims/23_relation/29_equiv_partitions.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/07_orders/40_monotonicity/30_composition.tex
  volumes/vol1/07_orders/40_monotonicity/40_order_on_monotone_maps.tex
  volumes/vol1/30_design/20_design_problems/60_dpi.tex
  volumes/vol1/30_design/30_feasibility/30_dp.tex
Due: latexindent, latexindent2

fixed definition of <| Set |>
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
Due: latexindent

fix
  sag/40_dpcatfig_power_1.pdf
  sag/40_dpcatfig_power_1.tikz
  sag/display/40_dpcatfig_power_1.pdf
  sag/display/floorceilhasse.pdf
  sag/display/identity.pdf
  sag/floorceilhasse.pdf
  sag/identity.pdf
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/03_prelims/22_sets/20_more_constructions.tex
  volumes/vol1/03_prelims/23_relation/20_relations.tex
  volumes/vol1/03_prelims/23_relation/22_relations_and_functions.tex
  volumes/vol1/03_prelims/23_relation/26_endorelations.tex
  volumes/vol1/03_prelims/23_relation/26_transpose.tex
  volumes/vol1/03_prelims/23_relation/28_transitive.tex
  volumes/vol1/03_prelims/23_relation/28_transitive_exercises.tex
  volumes/vol1/03_prelims/23_relation/29_equiv_partitions.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/07_orders/10_tradeoffs/50_measure.tex
  volumes/vol1/07_orders/40_monotonicity/11_antitone.tex
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
  volumes/vol1/30_design/30_feasibility/15_boolean_querying.tex
  volumes/vol1/35_interconnections/10_systems/20_modeling_behavior.tex
  volumes/vol1/35_interconnections/10_systems/50_other_machines.tex
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
Due: latexindent, latexindent2

fix
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/07_orders/40_monotonicity/40_order_on_monotone_maps.tex
Due: latexindent

fix
  .vscode/settings.json
  volumes/vol1/10_arrows/05_graphs/10_graphs.tex
Due: latexindent

edits, fix of composition def for disjoint union of cats
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/10_arrows/05_graphs/20_graphs_hom.tex
  volumes/vol1/10_arrows/10_cats/35_diagrams.tex
  volumes/vol1/10_arrows/95_construct_cat/05_disjoint_union_category.tex
Due: latexindent

Path conditions:
  latexindent: any of: .*\.tex$, but not: ^utils/
  latexindent2: any of: \.tikz$, but not: ^utils/
