Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

latexindent:
  name: latexindent
  entry: latexindent.sh
  language: script

latexindent2:
  name: latexindent2
  entry: latexindent.sh
  language: script

fix
  utils/symbols.tex
Due: none

fix
  volumes/vol1/30_design/30_feasibility/30_dp.tex
  volumes/vol1/30_design/30_feasibility/99_slides.tex
  volumes/vol1/30_design/30_feasibility/chapter.tex
Due: latexindent

more
  sag/display/080_hasse_filtering_bis.pdf
  sag/display/10_moore_comp_listy.pdf
  sag/display/20_dyn_2_3.pdf
  sag/display/40_dpcatfig_power_1.pdf
  sag/display/50_engine_graph.pdf
  sag/display/50_trace2.pdf
  sag/display/50_yanking1.pdf
  sag/display/70_pos_2_1.pdf
  sag/display/70_pos_3_1.pdf
  sag/display/av_scooter_bis.pdf
  sag/display/berg-paths-lengths-a.pdf
  sag/display/berg-paths-lengths-b.pdf
  sag/display/commutative_pr.pdf
  sag/display/lag_dperf.pdf
  sag/display/nor-compose-const-a.pdf
  sag/display/nor-compose-const-b.pdf
  sag/display/symmetric_stacking_bis.pdf
  sag/display/syst-nor-a.pdf
  sag/display/syst-nor-b.pdf
  sag/display/syst-nor-c.pdf
  sag/display/syst-nor-d.pdf
  sag/nor-compose-const-a.pdf
  sag/nor-compose-const-b.pdf
  sag/symmetric_stacking_bis.pdf
  sag/syst-nor-a.pdf
  sag/syst-nor-b.pdf
  sag/syst-nor-c.pdf
  sag/syst-nor-d.pdf
Due: none

misc
  Makefile
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/30_design/30_feasibility/chapter.tex
  volumes/vol1/30_design/75_lattice_structure/10_ordering_dps.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
Due: latexindent

another element symbol
  utils/symbols.tex
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
Due: latexindent

more
  ACT4E-blurbvol1-slow.tex
  ACT4E-devel-fast-a4.tex
  ACT4E-devel-fast-onlydp.tex
  ACT4E-devel-fast.tex
  ACT4E-devel-fastslides.tex
  ACT4E-devel-slow.tex
  ACT4E-instructors-fast.tex
  ACT4E-instructors-slow.tex
  ACT4E-lulu-fast.tex
  ACT4E-luluvol1-slow.tex
  ACT4E-public-fast-overfull.tex
  ACT4E-public-fast.tex
  ACT4E-public-slow.tex
  ACT4Eplay-devel-fast.tex
  equations/head.txt
  snippets/18_equational_exercise/18_equational_exercise-FiniteSemigroupMorphismsOperations.texi
  templates/template-chapter-standalone-fast.tex
  templates/template-chapter-standalone-noslides-fast.tex
  templates/template-chapter-standalone-public-fast.tex
  templates/template-chapter-standalone.tex
  templates/template-part-standalone-fast.tex
  templates/template-part-standalone-noslides-fast.tex
  templates/template-part-standalone-public-fast.tex
  templates/template-part-standalone.tex
  utils/packages.tex
  utils/packages_act.tex
  volumes/vol1/07_orders/10_tradeoffs/30_chains_antichains.tex
  volumes/vol1/07_orders/30_poset_build/30_opposite.tex
  volumes/vol1/07_orders/30_poset_build/40_intervals.tex
  volumes/vol1/07_orders/40_monotonicity/11_antitone.tex
  volumes/vol1/10_arrows/75_processes/15_cat_action.tex
  volumes/vol1/10_arrows/75_processes/chapter.tex
  volumes/vol1/10_arrows/99_culture/20_matternot.tex
  volumes/vol1/25_translation/50_functors/20_preorders_cat.tex
  volumes/vol1/25_translation/55_specialization/20_specialization.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/37_naturality/100_generalization/80_categorical_trace.tex
Due: latexindent

.texi things
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
Due: none

more
  ACT4E-public-fast-a4.tex
  volumes/vol1/30_design/15_poset_bounds/35_upperlowersets.tex
  volumes/vol1/30_design/72_lattices/50_monoidal_posets.tex
  volumes/vol1/30_design/80_construct_dp/30_creating_DPs.tex
  volumes/vol1/30_design/80_construct_dp/chapter.tex
Due: latexindent

fixing typos
  volumes/vol1/40_computation/15_query_equiv/30_queries_are_functors.tex
Due: latexindent

fix
  Makefil
  sag/feedback_axiomatic-semicat-trace-superposing.tikz
  sag/feedback_axiomatic-semicat-trace-vanishing-I.tikz
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_trace.tex
  volumes/vol1/35_interconnections/60_feedback/15_semicat_trace_examples.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
Due: latexindent, latexindent2

fix
  sag/feedback_axiomatic-semicat-trace-nat-X.tikz
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_trace.tex
Due: latexindent, latexindent2

edits
  utils/symbols.tex
  volumes/vol1/35_interconnections/20_parallelism/chapter.tex
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_semitrace.tex
  volumes/vol1/35_interconnections/60_feedback/15_semicat_trace_examples.tex
  volumes/vol1/35_interconnections/60_feedback/17_semicategorical_trace.tex
  volumes/vol1/35_interconnections/60_feedback/chapter.tex
Due: latexindent

misc
  utils/packages_act.tex
Due: none

fix
  Makefil
Due: none

edits
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_semitrace.tex
  volumes/vol1/35_interconnections/60_feedback/17_semicategorical_trace.tex
  volumes/vol1/35_interconnections/60_feedback/chapter.tex
Due: latexindent

fix
  snippets/14_monotone_maps_exercise/14_monotone_maps_exercise-MonotoneMap.texi
Due: none

fix
  .circleci/config.yml
Due: none

fixes
  .circleci/config.yml
Due: none

fix
  Makefile
Due: none

misc
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/03_prelims/23_relation/22_relations_and_functions.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
Due: latexindent

better checks of no tabs
  .pre-commit-config.yaml
  check_no_tabs.py
Due: none

misc
  .pre-commit-config.yaml
Due: none

misc
  snippets/80_exercise/80_exercise-cat_Single.texi
Due: none

misc
  ACT4E-devel-fast-a4.tex
  snippets/14_monotone_maps_exercise/14_monotone_maps_exercise-FiniteMonotoneMap.texi
  snippets/80_exercise/80_exercise-cat_single.texi
Due: latexindent

fix
  volumes/vol1/35_interconnections/60_feedback/17_semicategorical_trace.tex
Due: latexindent

added subsection on block permuations, added axiom for compatibility with permutation identities
  volumes/vol1/35_interconnections/20_parallelism/30_parallelism-and-permutations.tex
Due: latexindent

added axiom for compatibility with block permutations
  volumes/vol1/35_interconnections/20_parallelism/30_parallelism-and-permutations.tex
Due: latexindent

bugs
  volumes/vol1/00_front/20_exercise/20_setup.tex
  volumes/vol1/07_orders/10_tradeoffs/51_measure_exercises.tex
Due: latexindent

fix
  utils/other_symbols.tex
  utils/packages.tex
Due: none

long arrow
  utils/symbols.tex
Due: none

...
  .gitignore
  sag/syst-nor-c.tikz
Due: latexindent2

misc
  sag/syst-nor2-a.tikz
  sag/syst-nor2-b.tikz
  sag/syst-nor2-c.tikz
  sag/syst-nor2-d.tikz
  utils/environments.tex
  utils/symbols.tex
Due: latexindent2

misc
  sag/syst-nor2-c.tikz
  sag/syst-nor2-d.tikz
Due: latexindent2

fix papers figs
  .gitignore
  sag/berg-paths-lengths-b.tikz
  sag/syst-nor2-c.tikz
  sag/syst-nor2-d.tikz
Due: latexindent2

misc
  sag/syst-nor2-c.tikz
  utils/environments.tex
  utils/other_symbols.tex
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent2

fix
  utils/symbols.tex
  volumes/vol1/37_naturality/100_generalization/80_categorical_trace.tex
  volumes/vol1/45_enrich/40_profunctors/20_hom.tex
  volumes/vol1/part-misc/misc/155_relations_facts.tex
Due: latexindent

commented out command that was causing to not compile
  utils/packages.tex
Due: none

fix
  utils/packages.tex
  utils/packages_act.tex
Due: none

fixes
  utils/symbols.tex
Due: none

Path conditions:
  latexindent: any of: .*\.tex$, but not: ^utils/
  latexindent2: any of: \.tikz$, but not: ^utils/
