Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

.pre-commit-config.yaml:

repos:
# - repo: https://github.com/jonasbb/pre-commit-latex-hooks
#   rev: v1.2.3
#   hooks:
#     - id: american-eg-ie
#     - id: cleveref-capitalization
#     - id: consistent-spelling
#       args:
#           [
#             "--emph=et al.",
#             "--emph=a priori",
#             "--emph=a posteriori",
#             '--regex=naive=\bna(i|\\"i)ve',
#           ]
#     - id: csquotes
#     - id: ensure-labels-for-sections
#     - id: no-space-in-cite
#     - id: tilde-cite
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-merge-conflict 
- repo: local
  hooks:
  - id: latexindent
    name: latexindent
    entry: latexindent.sh
    language: script
    # files: \.tex$
    files: ".*\\.tex$"
    exclude: ^utils/
  - id: latexindent2
    name: latexindent2
    entry: latexindent.sh
    language: script
    files: \.tikz$
    exclude: ^utils/

table
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/10_arrows/25_modeling_with_cats/20_design.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
Due: latexindent

fix
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: none

minor
  utils/symbols.tex
  volumes/vol1/07_orders/30_poset_build/30_opposite.tex
  volumes/vol1/10_arrows/96_combination/30_examples.tex
Due: latexindent

comments on setproduct
  volumes/vol1/03_prelims/22_sets/86_exercises_setproduct.tex
Due: latexindent

a couple more images
  pics/parallelism_triple-stacked-merged.png
  pics/parallelism_triple-stacked.png
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent

clarifies programming exercises and some suggestions
  volumes/vol1/03_prelims/22_sets/12_sets_representations_exercises.tex
  volumes/vol1/03_prelims/22_sets/17_powerset_exercises.tex
  volumes/vol1/03_prelims/22_sets/82_exercises_finitesetproperties.tex
  volumes/vol1/03_prelims/22_sets/84_exercises_finitemap.tex
  volumes/vol1/03_prelims/22_sets/86_exercises_setproduct.tex
  volumes/vol1/03_prelims/23_relation/20_relations_exercises.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups_exercise.tex
  volumes/vol1/05_pluribus/50_morphisms/18_equational_exercise.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
Due: latexindent

...
  utils/other_symbols.tex
  utils/symbols.tex
Due: none

fix
  sag/fig_menu_options_a.tikz
Due: latexindent2

fix
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent

symbols
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/30_design/20_design_problems/60_dpi.tex
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/30_design/30_feasibility/30_dp.tex
  volumes/vol1/30_design/70_ordering/15_compositions.tex
  volumes/vol1/30_design/75_lattice_structure/30_lattice.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
  volumes/vol1/40_computation/15_query_equiv/30_queries_are_functors.tex
Due: latexindent

misc
  sag/30_rel_3.tikz
  sag/function_comp_figure.tikz
  sag/function_comp_figure_b.tikz
  volumes/vol1/00_front/07_instructors/chapter.tex
  volumes/vol1/03_prelims/22_sets/12_sets_representations_exercises.tex
  volumes/vol1/03_prelims/22_sets/17_powerset_exercises.tex
  volumes/vol1/03_prelims/22_sets/84_exercises_finitemap.tex
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
  volumes/vol1/03_prelims/23_relation/20_relations_exercises.tex
  volumes/vol1/03_prelims/23_relation/26_transpose.tex
  volumes/vol1/03_prelims/23_relation/forslides_relations.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/07_orders/10_tradeoffs/50_measure.tex
  volumes/vol1/07_orders/30_poset_build/10_product.tex
  volumes/vol1/07_orders/30_poset_build/20_disjoint_union.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/chapter.tex
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/35_interconnections/10_systems/40_xx_lti.tex
  volumes/vol1/35_interconnections/60_feedback/04_modeling_feedback.tex
  volumes/vol1/35_interconnections/60_feedback/05_feedback_processes.tex
  volumes/vol1/35_interconnections/60_feedback/06_feedback_design.tex
  volumes/vol1/35_interconnections/60_feedback/chapter.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
Due: latexindent, latexindent2

misc
  volumes/vol1/00_front/05_developers/10_instructions.tex
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/00_front/20_exercise/20_setup.tex
  volumes/vol1/00_front/snippets-link/10_comp-FiniteSetOperations.py
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
  volumes/vol1/03_prelims/23_relation/forslides_relations.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/07_orders/10_tradeoffs/10_intro.tex
  volumes/vol1/07_orders/10_tradeoffs/50_measure.tex
  volumes/vol1/07_orders/10_tradeoffs/60_moregeneral.tex
  volumes/vol1/07_orders/10_tradeoffs/70_powerposet.tex
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/20_cats_structures/20_set.tex
  volumes/vol1/10_arrows/20_cats_structures/40_cat_pos.tex
  volumes/vol1/10_arrows/20_cats_structures/50_cat_gr.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/20_design.tex
  volumes/vol1/10_arrows/75_processes/04_intro_processes.tex
  volumes/vol1/25_translation/50_functors/10_functors.tex
  volumes/vol1/25_translation/55_specialization/20_specialization.tex
  volumes/vol1/25_translation/55_specialization/60_other_subcategories.tex
  volumes/vol1/25_translation/55_specialization/97_forgetful.tex
  volumes/vol1/25_translation/60_up_the_ladder/10_functor_composition.tex
  volumes/vol1/30_design/20_design_problems/50_related.tex
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
  volumes/vol1/30_design/30_feasibility/30_dp.tex
  volumes/vol1/30_design/72_lattices/80_lat_cat.tex
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
  volumes/vol1/35_interconnections/60_feedback/05_feedback_processes.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
  volumes/vol1/book-devel-fast.tex
Due: latexindent

replaced \id
  utils/symbols.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/95_construct_cat/10_cat_from_graph.tex
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/30_design/30_feasibility/30_dp.tex
  volumes/vol1/30_design/80_construct_dp/20_companion_and_conjoint.tex
  volumes/vol1/35_interconnections/20_parallelism/30_mon_cat_nobraided.tex
  volumes/vol1/35_interconnections/60_feedback/20_closing_loop_codesign.tex
  volumes/vol1/37_naturality/100_generalization/10_categorical_trace.tex
  volumes/vol1/37_naturality/100_generalization/30_mon_cat_nobraided.tex
  volumes/vol1/40_computation/15_query_equiv/30_queries_are_functors.tex
  volumes/vol1/45_enrich/45_enrichment/30_setenricheddp.tex
  volumes/vol1/part-misc/misc/155_relations_facts.tex
Due: latexindent

misc
  sag/60_dependent.tikz
  sag/60_dependent_bis.tikz
  sag/60_dependent_series.tikz
  utils/symbols.tex
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
  volumes/vol1/30_design/30_feasibility/30_dp.tex
  volumes/vol1/30_design/80_construct_dp/20_companion_and_conjoint.tex
  volumes/vol1/30_design/80_construct_dp/25_sum.tex
  volumes/vol1/30_design/80_construct_dp/30_creating_DPs.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
Due: latexindent, latexindent2

fix
  sag/chassis_execeval.tikz
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/30_design/20_design_problems/60_dpi.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent, latexindent2

fix
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/30_design/80_construct_dp/25_sum.tex
Due: latexindent

fix
  volumes/vol1/03_prelims/22_sets/86_exercises_setproduct.tex
  volumes/vol1/10_arrows/20_cats_structures/10_cat_rel.tex
Due: latexindent

fix
  .vscode/settings.json
  volumes/vol1/10_arrows/20_cats_structures/10_cat_rel.tex
Due: latexindent

fix
  .vscode/settings.json
Due: none

reordered
  ACT4E-devel-fast-onlydp.tex
  sag/series_join_dp.tikz
  sag/series_meet_dp.tikz
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/30_design/72_lattices/80_lat_cat.tex
  volumes/vol1/30_design/75_lattice_structure/10_ordering_dps.tex
  volumes/vol1/30_design/75_lattice_structure/15_compositions.tex
  volumes/vol1/30_design/75_lattice_structure/20_restrictions.tex
  volumes/vol1/30_design/75_lattice_structure/chapter.tex
  volumes/vol1/30_design/80_construct_dp/30_creating_DPs.tex
  volumes/vol1/30_design/part.tex
Due: latexindent, latexindent2

fix
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
Due: latexindent

fix
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
Due: latexindent

fix
  sag/example_dp_composition_xy.tikz
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
Due: latexindent, latexindent2

fixing
  sag/example_dp_graph_xy_feas.tikz
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
Due: latexindent, latexindent2

...
  sag/example_dp_composition_xy.tikz
  sag/example_dp_composition_xyz.tikz
  sag/example_dp_composition_xz.tikz
  sag/example_dp_composition_yz.tikz
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
  volumes/vol1/30_design/30_feasibility/20_series.tex
Due: latexindent, latexindent2

fixing
  sag/example_dp_composition_xyz.tikz
  sag/example_dp_composition_xz.tikz
  sag/example_dp_composition_yz.tikz
  volumes/vol1/30_design/30_feasibility/20_series.tex
Due: latexindent, latexindent2

...
  volumes/vol1/30_design/30_feasibility/20_series.tex
Due: latexindent

fix
  utils/code.tex
  utils/pysnip.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
  volumes/vol1/37_naturality/part-link-snippets/60_code_adjunctions/60_code_adjunctions-FiniteAdjunction.py
  volumes/vol1/37_naturality/part-link-snippets/60_code_adjunctions/60_code_adjunctions-FiniteAdjunctionRepresentation.py
  volumes/vol1/37_naturality/part-link-snippets/60_code_adjunctions/60_code_adjunctions-FiniteAdjunctionsOperations-compose.py
  volumes/vol1/37_naturality/part-link-snippets/60_code_adjunctions/60_code_adjunctions-FiniteAdjunctionsOperations-from_relation.py
  volumes/vol1/37_naturality/part-link-snippets/60_code_adjunctions/60_code_adjunctions-FiniteAdjunctionsOperations-is_adjunction.py
  volumes/vol1/37_naturality/part-link-snippets/80_code_exercise/80_code_exercise-FiniteNaturalTransformation.py
  volumes/vol1/37_naturality/part-link-snippets/80_code_exercise/80_code_exercise-FiniteNaturalTransformationRepresentation.py
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent

...
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/30_design/30_feasibility/20_series.tex
Due: latexindent

corrects my typo I made - sorry
  volumes/vol1/03_prelims/22_sets/12_sets_representations_exercises.tex
Due: latexindent

typo
  volumes/vol1/03_prelims/22_sets/86_exercises_setproduct.tex
Due: latexindent

adds todos
  volumes/vol1/03_prelims/22_sets/12_sets_representations_exercises.tex
  volumes/vol1/03_prelims/22_sets/88_exercises_setunion.tex
Due: latexindent

adds
  snippets/12_sets_representations_exercises/12_sets_representations_exercises-act4e_book_examples.f2.texi
  volumes/vol1/03_prelims/22_sets/12_sets_representations_exercises.tex
Due: latexindent

adds
  volumes/vol1/03_prelims/22_sets/12_sets_representations_exercises.tex
Due: latexindent

fixes
  .vscode/settings.json
  volumes/vol1/03_prelims/22_sets/17_powerset_exercises.tex
  volumes/vol1/03_prelims/22_sets/82_exercises_finitesetproperties.tex
  volumes/vol1/30_design/20_design_problems/40_codesign_problems.tex
  volumes/vol1/30_design/20_design_problems/41_expressivity.tex
  volumes/vol1/30_design/20_design_problems/chapter.tex
  volumes/vol1/30_design/72_lattices/80_lat_cat.tex
Due: latexindent

fix
  volumes/vol1/03_prelims/22_sets/86_exercises_setproduct.tex
Due: latexindent

fix
  .vscode/settings.json
  volumes/vol1/03_prelims/22_sets/86_exercises_setproduct.tex
Due: latexindent

fix
  volumes/vol1/03_prelims/22_sets/12_sets_representations_exercises.tex
Due: latexindent
