Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

.pre-commit-config.yaml:

repos:
# - repo: https://github.com/jonasbb/pre-commit-latex-hooks
#   rev: v1.2.3
#   hooks:
#     - id: american-eg-ie
#     - id: cleveref-capitalization
#     - id: consistent-spelling
#       args:
#           [
#             "--emph=et al.",
#             "--emph=a priori",
#             "--emph=a posteriori",
#             '--regex=naive=\bna(i|\\"i)ve',
#           ]
#     - id: csquotes
#     - id: ensure-labels-for-sections
#     - id: no-space-in-cite
#     - id: tilde-cite
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-merge-conflict 
- repo: local
  hooks:
  - id: latexindent
    name: latexindent
    entry: latexindent.sh
    language: script
    # files: \.tex$
    files: ".*\\.tex$"
    exclude: ^utils/
  - id: latexindent2
    name: latexindent2
    entry: latexindent.sh
    language: script
    files: \.tikz$
    exclude: ^utils/

parametric colors
  sag/gmcdptro_cdpi.tikz
  volumes/vol1/30_design/20_design_problems/40_codesign_problems.tex
  volumes/vol1/30_design/20_design_problems/60_dpi.tex
Due: latexindent, latexindent2

typos and suggestions
  volumes/vol1/05_pluribus/25_monoids/05_semigroups_exercise.tex
  volumes/vol1/05_pluribus/50_morphisms/18_equational_exercise.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
Due: latexindent

technical problems with ellipsoid example
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
Due: latexindent

fix
  sag/520_dp_gearbox.tikz
  volumes/vol1/03_prelims/23_relation/26_endorelations.tex
Due: latexindent, latexindent2

minor
  .vscode/settings.json
  volumes/vol1/30_design/20_design_problems/40_codesign_problems.tex
  volumes/vol1/40_computation/30_monads/10_generalized.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
  volumes/vol1/45_enrich/45_enrichment/20_enriched_categories.tex
  volumes/vol1/45_enrich/45_enrichment/30_setenricheddp.tex
  volumes/vol1/50_opera/50_operads/10_op.tex
  volumes/vol1/part-misc/misc/100_pos_not_sufficient.tex
Due: latexindent

edits and additions mostly for theory exercises
  volumes/vol1/00_front/07_instructors/chapter.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/07_orders/10_tradeoffs/50_measure.tex
  volumes/vol1/07_orders/30_poset_build/10_product.tex
  volumes/vol1/07_orders/30_poset_build/20_disjoint_union.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
Due: latexindent

fix
  utils/symbols.tex
  volumes/vol1/03_prelims/23_relation/26_endorelations.tex
  volumes/vol1/30_design/20_design_problems/60_dpi.tex
Due: latexindent

onlydp
  ACT4E-devel-fast-onlydp.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
Due: latexindent

removed tabs
  volumes/vol1/07_orders/10_tradeoffs/50_measure.tex
Due: latexindent

fixing
  volumes/vol1/30_design/20_design_problems/60_dpi.tex
Due: latexindent

fix
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
  volumes/vol1/30_design/70_ordering/10_ordering_dps.tex
Due: latexindent

getting the chapter on trace set up a bit / structured
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/10_arrows/75_processes/10_Moore_3rd_attempt.tex
  volumes/vol1/35_interconnections/60_feedback/04_modeling_feedback.tex
  volumes/vol1/35_interconnections/60_feedback/05_feedback_processes.tex
  volumes/vol1/35_interconnections/60_feedback/06_feedback_design.tex
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_trace.tex
  volumes/vol1/35_interconnections/60_feedback/chapter.tex
Due: latexindent

fix fig
  sag/dp_order_bubble.tikz
  volumes/vol1/30_design/70_ordering/10_ordering_dps.tex
Due: latexindent, latexindent2

added def of trace for moore machines
  volumes/vol1/35_interconnections/60_feedback/05_feedback_processes.tex
Due: latexindent

misc
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/30_design/30_feasibility/chapter.tex
Due: latexindent

...
  sag/diagram_as_functor_example.pdf
  sag/dp_order_bubble.pdf
Due: none

fix
  sag/diagram_as_functor_example.pdf
  sag/diagram_as_functor_example.tikz
Due: latexindent2

fix
  sag/diagram_as_functor_example.tikz
Due: latexindent2

fix
  utils/symbols.tex
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/30_design/30_feasibility/alternative.tex
  volumes/vol1/30_design/30_feasibility/chapter.tex
  volumes/vol1/30_design/80_construct_dp/25_sum.tex
Due: latexindent

misc
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/20_cats_structures/10_cat_rel.tex
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/10_arrows/75_processes/10_Moore_3rd_attempt.tex
  volumes/vol1/10_arrows/75_processes/15_cat_action.tex
  volumes/vol1/10_arrows/75_processes/20_More_machines.tex
  volumes/vol1/30_design/20_design_problems/40_codesign_problems.tex
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/30_design/30_feasibility/30_dp.tex
  volumes/vol1/30_design/30_feasibility/alternative.tex
  volumes/vol1/30_design/30_feasibility/chapter.tex
  volumes/vol1/35_interconnections/10_systems/20_modeling_behavior.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/31_posL.tex
  volumes/vol1/35_interconnections/20_parallelism/32_relL.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
  volumes/vol1/37_naturality/90_adjunctions/50_relating.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
  volumes/vol1/40_computation/15_query_equiv/30_queries_are_functors.tex
  volumes/vol1/40_computation/30_monads/20_monads.tex
  volumes/vol1/45_enrich/40_profunctors/10_dpi_span.tex
  volumes/vol1/45_enrich/40_profunctors/10_profunctors.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/part-misc/misc/10_databases.tex
Due: latexindent

figs
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
Due: latexindent

edits of Moore
  volumes/vol1/10_arrows/75_processes/10_Moore_3rd_attempt.tex
Due: latexindent

typo fix
  volumes/vol1/10_arrows/75_processes/10_Moore_3rd_attempt.tex
Due: latexindent

fixing macros
  .vscode/settings.json
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
Due: latexindent

missing example
  volumes/vol1/03_prelims/23_relation/29_equiv_partitions.tex
Due: latexindent

misc
  sag/30_cartprod_repr.tikz
  sag/diagram_as_functor_example.tikz
  volumes/vol1/10_arrows/20_cats_structures/10_cat_rel.tex
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/30_design/30_feasibility/30_dp.tex
  volumes/vol1/30_design/30_feasibility/alternative.tex
  volumes/vol1/40_computation/15_query_equiv/30_queries_are_functors.tex
Due: latexindent, latexindent2

fix
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
Due: latexindent

...
  sag/party_invite_rel.tikz
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
Due: latexindent, latexindent2

def of trace for proper LTI systems
  utils/symbols.tex
  volumes/vol1/35_interconnections/60_feedback/05_feedback_processes.tex
Due: latexindent

fixing macros
  volumes/vol1/40_computation/20_solving/18_handling_loops.tex
Due: latexindent

fix
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
  volumes/vol1/10_arrows/20_cats_structures/30_cats_of_alg_gadgets.tex
  volumes/vol1/10_arrows/95_construct_cat/chapter.tex
Due: latexindent

fix
  volumes/vol1/30_design/30_feasibility/20_series.tex
Due: latexindent

adds
  sag/toydiagram_tree.tikz
  volumes/vol1/40_computation/20_solving/18_handling_loops.tex
  volumes/vol1/40_computation/20_solving/20_example_nats.tex
Due: latexindent, latexindent2

better indices?
  ACT4E-devel-fast-onlydp.tex
  utils/code.tex
  utils/other_symbols.tex
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/23_relation/26_transpose.tex
  volumes/vol1/10_arrows/20_cats_structures/20_set.tex
  volumes/vol1/10_arrows/20_cats_structures/40_cat_pos.tex
  volumes/vol1/10_arrows/20_cats_structures/50_cat_gr.tex
  volumes/vol1/10_arrows/20_combination/70_biproducts.tex
  volumes/vol1/25_translation/50_functors/10_functors.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/25_translation/55_specialization/20_specialization.tex
  volumes/vol1/25_translation/55_specialization/60_other_subcategories.tex
  volumes/vol1/25_translation/60_up_the_ladder/10_functor_composition.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/30_design/20_design_problems/40_codesign_problems.tex
  volumes/vol1/30_design/30_feasibility/15_boolean_querying.tex
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/30_design/30_feasibility/30_dp.tex
  volumes/vol1/30_design/72_lattices/80_lat_cat.tex
  volumes/vol1/30_design/80_construct_dp/25_sum.tex
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
  volumes/vol1/35_interconnections/20_parallelism/30_mon_cat_nobraided.tex
  volumes/vol1/37_naturality/100_generalization/30_mon_cat_nobraided.tex
  volumes/vol1/40_computation/15_query_equiv/30_queries_are_functors.tex
  volumes/vol1/40_computation/20_solving/20_example_nats.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
  volumes/vol1/45_enrich/45_enrichment/30_setenricheddp.tex
Due: latexindent

...
  utils/symbols.tex
  volumes/vol1/40_computation/20_solving/18_handling_loops.tex
  volumes/vol1/40_computation/20_solving/20_example_nats.tex
Due: latexindent

...
  volumes/vol1/40_computation/20_solving/20_example_nats.tex
  volumes/vol1/40_computation/20_solving/75_complexity.tex
Due: latexindent

added some string diagrams for stacking semicategories
  pics/parallelism_associative-stacking-1.png
  pics/parallelism_associative-stacking-2.png
  pics/parallelism_morphisms-to-be-stacked.png
  pics/parallelism_stacked-morphisms-diagram.png
  pics/parallelism_stacked-morphisms.png
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/60_feedback/05_feedback_processes.tex
Due: latexindent

misc
  utils/symbols.tex
  volumes/vol1/25_translation/50_functors/20_preorders_cat.tex
Due: latexindent
