Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

.pre-commit-config.yaml:

repos:
  # - repo: https://github.com/jonasbb/pre-commit-latex-hooks
  #   rev: v1.2.3
  #   hooks:
  #     - id: american-eg-ie
  #     - id: cleveref-capitalization
  #     - id: consistent-spelling
  #       args:
  #           [
  #             "--emph=et al.",
  #             "--emph=a priori",
  #             "--emph=a posteriori",
  #             '--regex=naive=\bna(i|\\"i)ve',
  #           ]
  #     - id: csquotes
  #     - id: ensure-labels-for-sections
  #     - id: no-space-in-cite
  #     - id: tilde-cite
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    - id: check-merge-conflict
    # - id: check-yaml
    # - id: trailing-whitespace
    #   files: ".*\\.(?:tex|py)$"
-   repo: local
    hooks: 
      - id: latexindent
        name: latexindent
        entry: latexindent.sh
        language: script
        files: \.tex$
        exclude: ^utils/
      - id: latexindent2
        name: latexindent2
        entry: latexindent.sh
        language: script
        files: \.tikz$
        exclude: ^utils/
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.10
    hooks:
    # -   id: forbid-crlf
    # -   id: remove-crlf
    -   id: forbid-tabs
    # -   id: remove-tabs
    #     args: [ '--whitespaces-count', '2' ]  # defaults to: 4

edit for debugging purposes
  volumes/vol1/03_prelims/22_sets/18_product.tex
Due: latexindent

edits removing def of cart prd and ref to def
  volumes/vol1/03_prelims/22_sets/18_product.tex
  volumes/vol1/07_orders/30_poset_build/10_product.tex
Due: latexindent

edits
  volumes/vol1/03_prelims/22_sets/18_product.tex
  volumes/vol1/22_operations/20_combination/10_products.tex
Due: latexindent

adds
  sag/pos_order_graph.tikz
  sag/pre_order_graph.tikz
  sag/second_poset_intervals.tikz
  sag/tot_order_graph.tikz
  volumes/vol1/00_front/10_introduction/015_guidebook.tex
  volumes/vol1/00_front/10_introduction/020_acks.tex
  volumes/vol1/00_front/10_introduction/030_sponsors.tex
  volumes/vol1/00_front/10_introduction/chapter.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/07_orders/30_poset_build/50_intervals2.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
Due: latexindent, latexindent2

edits and additions
  volumes/vol1/03_prelims/22_sets/10_sets.tex
Due: latexindent

fix
  pics/NCCR_Logo.pdf
  pics/SNF_Logo.pdf
  sag/180_twistedarrow_comp_unitality_a.tikz
  sag/180_twistedarrow_comp_unitality_b.tikz
  volumes/vol1/00_front/10_introduction/030_sponsors.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/07_orders/30_poset_build/40_intervals.tex
  volumes/vol1/10_arrows/75_processes/10_intro_processes.tex
  volumes/vol1/22_operations/95_construct_cat/04_product_category.tex
  volumes/vol1/22_operations/95_construct_cat/20_twisted.tex
Due: latexindent, latexindent2

edits and additions
  volumes/vol1/03_prelims/22_sets/17_powerset.tex
Due: latexindent

additions and edits
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/22_sets/11_setoids.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/22_sets/chapter.tex
Due: latexindent

fix
  pics/lattice.png
  sag/lattice_wood.tikz
  utils/tikz_utils.tex
  volumes/vol1/22_operations/20_sameness/041_sameness.tex
  volumes/vol1/30_design/70_ordering/10_ordering_dps.tex
  volumes/vol1/30_design/72_lattices/70_lattices.tex
Due: latexindent, latexindent2

additions and edtis
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent

additions and edits
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
Due: latexindent

fix
  sag/series_join_dp.tikz
  sag/series_meet_dp.tikz
  volumes/vol1/30_design/75_lattice_structure/30_lattice.tex
Due: latexindent, latexindent2

additions and edits
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
Due: latexindent

additions and edits
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent

edits to try to remove references to def:power-set
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/07_orders/10_tradeoffs/70_powerposet.tex
Due: latexindent

deleted unneeded sections
  volumes/vol1/03_prelims/22_sets/17_powerset.tex
  volumes/vol1/03_prelims/22_sets/18_product.tex
  volumes/vol1/03_prelims/22_sets/20_disjoint_union.tex
Due: latexindent

edit of ref to disjoint union
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/part-misc/misc/155_relations_facts.tex
Due: latexindent

fix
  volumes/vol1/00_front/10_introduction/030_sponsors.tex
Due: latexindent

removed exercise to see if would compile at CI
  volumes/vol1/00_front/05_developers/10_instructions.tex
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
Due: latexindent

added solution macro for exercise so it should hopefully compile
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
Due: latexindent

additions and edits
  sag/square_function_table.tikz
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent, latexindent2

CI complained about using a tab - deleted now
  sag/square_function_table.tikz
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
Due: latexindent, latexindent2

additions
  volumes/vol1/03_prelims/22_sets/05_logic.tex
Due: latexindent

additions and edits
  volumes/vol1/03_prelims/22_sets/05_logic.tex
  volumes/vol1/03_prelims/22_sets/07_sets.tex
Due: latexindent

adds
  sag/raa_circular.tikz
  sag/raa_example_allocation.tikz
  sag/raa_feedback_dp.tikz
  sag/robot_visually_guided_a.tikz
  sag/robot_visually_guided_b.tikz
Due: latexindent2

edits and additions
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/22_sets/20_more_constructions.tex
  volumes/vol1/03_prelims/22_sets/20_technical_terms.tex
  volumes/vol1/03_prelims/22_sets/chapter.tex
Due: latexindent

edits and additions
  volumes/vol1/03_prelims/22_sets/05_logic.tex
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/25_translation/60_up_the_ladder/20_cat.tex
Due: latexindent

additions and edits
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/22_sets/20_more_constructions.tex
Due: latexindent

additions and edits
  volumes/vol1/03_prelims/22_sets/20_more_constructions.tex
  volumes/vol1/03_prelims/22_sets/chapter.tex
Due: latexindent

additions and edits
  volumes/vol1/00_front/20_exercise/chapter.tex
  volumes/vol1/03_prelims/22_sets/05_logic.tex
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/23_relation/20_relations.tex
Due: latexindent

edit
  volumes/vol1/25_translation/60_up_the_ladder/20_cat.tex
Due: latexindent

first batch of changes and todos added
  volumes/vol1/03_prelims/23_relation/22_relations_and_functions.tex
  volumes/vol1/10_arrows/70_mapping/15_funcs_as_rels.tex
  volumes/vol1/10_arrows/70_mapping/40_monoidal.tex
  volumes/vol1/10_arrows/70_mapping/50_exercises.tex
  volumes/vol1/10_arrows/70_mapping/chapter.tex
  volumes/vol1/10_arrows/75_processes/05_setstar.tex
  volumes/vol1/10_arrows/75_processes/10_intro_processes.tex
  volumes/vol1/10_arrows/75_processes/15_cat_action.tex
  volumes/vol1/10_arrows/75_processes/chapter.tex
Due: latexindent

adds
  volumes/vol1/10_arrows/70_mapping/chapter.tex
Due: latexindent

third batch of changes and todos added
  volumes/vol1/22_operations/part.tex
  volumes/vol1/37_naturality/100_generalization/chapter.tex
  volumes/vol1/37_naturality/part.tex
  volumes/vol1/complete.tex
  volumes/vol1/part-misc/misc/10_databases.tex
  volumes/vol1/part-misc/misc/40_propositions.tex
  volumes/vol1/volume.tex
Due: latexindent

third batch of changes and todos added
  sag/semicat_ac_comm.tikz
  utils/tikz_utils.tex
  volumes/vol1/10_arrows/75_processes/15_cat_action.tex
  volumes/vol1/22_operations/20_combination/10_products.tex
  volumes/vol1/22_operations/20_combination/20_coproduct.tex
Due: latexindent, latexindent2

moved stuff
  volumes/vol1/10_arrows/95_construct_cat/04_product_category.tex
  volumes/vol1/10_arrows/95_construct_cat/05_disjoint_union_category.tex
  volumes/vol1/22_operations/20_combination/10_products.tex
  volumes/vol1/22_operations/20_combination/20_coproduct.tex
Due: latexindent
