Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

latexindent:
  name: latexindent
  entry: latexindent.sh
  language: script

latexindent2:
  name: latexindent2
  entry: latexindent.sh
  language: script

edits
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/10_arrows/75_processes/10_intro_processes.tex
  volumes/vol1/10_arrows/75_processes/chapter.tex
Due: latexindent

fix
  pics/jungfraujoch.jpg
  sag/080_hasse_filtering_bis.tikz
  sag/first_poset_intervals.tikz
  utils/symbols.tex
  volumes/vol1/03_prelims/23_relation/chapter.tex
  volumes/vol1/07_orders/30_poset_build/40_intervals.tex
  volumes/vol1/07_orders/30_poset_build/50_intervals2.tex
  volumes/vol1/10_arrows/50_connection/20_trekking.tex
  volumes/vol1/part-misc/misc/30_relational.tex
Due: latexindent, latexindent2

fix
  volumes/vol1/10_arrows/95_construct_cat/20_twisted.tex
  volumes/vol1/10_arrows/95_construct_cat/25_arrow.tex
Due: latexindent

fix
  utils/symbols.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
Due: latexindent

fix
  volumes/vol1/25_translation/50_functors/20_preorders_cat.tex
Due: latexindent

edits to use lists instead of strings
  utils/symbols.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/50_morphisms/18_equational.tex
  volumes/vol1/10_arrows/75_processes/12_Moore_semicategorically.tex
  volumes/vol1/10_arrows/75_processes/Moore_3rd_attempt.tex
  volumes/vol1/10_arrows/75_processes/chapter.tex
Due: latexindent

edit
  volumes/vol1/03_prelims/22_sets/07_sets.tex
Due: latexindent

edits
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent

edits + writing in Moore action section
  volumes/vol1/10_arrows/75_processes/10_intro_processes.tex
  volumes/vol1/10_arrows/75_processes/13_More_machines.tex
  volumes/vol1/10_arrows/75_processes/14_action_on_sequences.tex
  volumes/vol1/10_arrows/75_processes/Moore_3rd_attempt.tex
Due: latexindent

edits
  volumes/vol1/10_arrows/75_processes/14_action_on_sequences.tex
Due: latexindent

removed two redundant labels
  volumes/vol1/10_arrows/75_processes/14_action_on_sequences.tex
Due: latexindent

fix
  sag/example_res_graph.tikz
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
Due: latexindent, latexindent2

test
  check_no_multiple_refs.py
  check_no_tabs.py
  check_no_undefined_refs.py
  latexindent-all.sh
  latexindent-changes-what.sh
  latexindent.sh
  latexmkrc
Due: none

added macros for "strict cartesian category construction"
  utils/symbols.tex
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
Due: latexindent

edits, and hopefully tabs removed
  utils/symbols.tex
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
Due: latexindent

edits
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
Due: latexindent

edits and additions
  utils/symbols.tex
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/10_arrows/75_processes/14_action_on_sequences.tex
  volumes/vol1/10_arrows/75_processes/Moore_3rd_attempt.tex
Due: latexindent

edits and additions
  volumes/vol1/10_arrows/75_processes/13_More_machines.tex
  volumes/vol1/10_arrows/75_processes/Moore_3rd_attempt.tex
Due: latexindent

Update 13_More_machines.tex
  volumes/vol1/10_arrows/75_processes/13_More_machines.tex
Due: latexindent

fix
  check_no_multiple_refs.py
  check_no_tabs.py
  check_no_undefined_refs.py
  latexindent-all.sh
  latexindent-changes-what.sh
  latexindent.sh
Due: none

latexindent
  latexindent-all.sh
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/50_morphisms/18_equational.tex
  volumes/vol1/10_arrows/50_connection/20_trekking.tex
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/10_arrows/75_processes/10_intro_processes.tex
  volumes/vol1/10_arrows/75_processes/13_More_machines.tex
  volumes/vol1/10_arrows/75_processes/14_action_on_sequences.tex
  volumes/vol1/10_arrows/75_processes/Moore_3rd_attempt.tex
  volumes/vol1/10_arrows/75_processes/chapter.tex
  volumes/vol1/10_arrows/95_construct_cat/25_arrow.tex
  volumes/vol1/35_interconnections/10_systems/10_intro.tex
Due: latexindent

latexindent
  latexindent-all.sh
Due: none

..
  volumes/vol1/35_interconnections/20_parallelism/40_DP_monoidal.tex
Due: latexindent

fix
  utils/symbols.tex
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/40_DP_monoidal.tex
Due: latexindent

fix
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent

edit and additions re lists and tuples
  utils/environments.tex
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
Due: latexindent

fix
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/40_DP_monoidal.tex
Due: latexindent

dock
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/50_morphisms/18_equational.tex
  volumes/vol1/10_arrows/50_connection/20_trekking.tex
  volumes/vol1/10_arrows/75_processes/10_intro_processes.tex
  volumes/vol1/10_arrows/75_processes/13_More_machines.tex
  volumes/vol1/10_arrows/75_processes/14_action_on_sequences.tex
  volumes/vol1/10_arrows/75_processes/Moore_3rd_attempt.tex
  volumes/vol1/10_arrows/75_processes/chapter.tex
  volumes/vol1/10_arrows/95_construct_cat/25_arrow.tex
  volumes/vol1/35_interconnections/10_systems/10_intro.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/40_DP_monoidal.tex
Due: latexindent

dock
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent

edits and additions
  utils/environments.tex
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
Due: latexindent

fix
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/20_more_constructions.tex
  volumes/vol1/07_orders/30_poset_build/10_product.tex
  volumes/vol1/07_orders/30_poset_build/40_intervals.tex
  volumes/vol1/07_orders/30_poset_build/50_intervals2.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/07_orders/40_monotonicity/20_composition.tex
Due: latexindent

fix
  sag/graph_homo_a.tikz
  sag/graph_homo_b.tikz
  sag/graph_homo_ex_a.tikz
  sag/graph_homo_ex_b.tikz
  utils/symbols.tex
  volumes/vol1/10_arrows/05_graphs/20_graphs_hom.tex
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
Due: latexindent, latexindent2

edits and additions - lists, semigroups, monoids
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
Due: latexindent

fix
  utils/symbols.tex
  volumes/vol1/10_arrows/20_cats_structures/20_set.tex
  volumes/vol1/10_arrows/20_cats_structures/50_cat_gr.tex
  volumes/vol1/10_arrows/50_connection/10_mobility.tex
Due: latexindent

fix
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
Due: latexindent

edits and additions
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
Due: latexindent

fix
  sag/180_arrow_comp.tikz
  sag/arrow_cat.tikz
  utils/symbols.tex
  volumes/vol1/10_arrows/95_construct_cat/25_arrow.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
Due: latexindent, latexindent2

fix
  sag/example_dp_composition_xy.tikz
  sag/example_dp_composition_xyz.tikz
  sag/example_dp_composition_xz.tikz
  sag/example_dp_composition_yz.tikz
  utils/symbols.tex
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
  volumes/vol1/30_design/72_lattices/50_monoidal_posets.tex
Due: latexindent, latexindent2

fix
  utils/symbols.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/40_DP_monoidal.tex
Due: latexindent

Path conditions:
  latexindent: any of: \.tex$, but not: ^utils/
  latexindent2: any of: \.tikz$, but not: ^utils/
