Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

latexindent:
  name: latexindent
  entry: latexindent.sh
  language: script

latexindent2:
  name: latexindent2
  entry: latexindent.sh
  language: script

figures
  sag/display/graph_homo_ex_b.pdf
  sag/graph_homo_ex_b.pdf
Due: none

blurb version
  ACT4E-blurbvol1-slow.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/23_relation/20_relations.tex
  volumes/vol1/03_prelims/23_relation/22_relations_and_functions.tex
  volumes/vol1/03_prelims/23_relation/28_transitive.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/05_pluribus/50_morphisms/18_equational.tex
  volumes/vol1/07_orders/40_monotonicity/40_order_on_monotone_maps.tex
  volumes/vol1/10_arrows/10_cats/chapter.tex
  volumes/vol1/10_arrows/20_cats_structures/50_cat_gr.tex
  volumes/vol1/10_arrows/20_cats_structures/chapter.tex
  volumes/vol1/10_arrows/96_combination/chapter.tex
  volumes/vol1/complete.tex
  volumes/vol1/title.tex
Due: latexindent

fix
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent

minor
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent

fixes
  sag/60_coprod_batt_bis.tikz
  sag/60_coprod_batt_bis_turn.tikz
  volumes/vol1/10_arrows/96_combination/20_coproduct.tex
Due: latexindent, latexindent2

fixes
  sag/60_coprod_batt_2_bis_turn.tikz
  volumes/vol1/10_arrows/96_combination/20_coproduct.tex
Due: latexindent, latexindent2

new sections for level shifts, posets as cats, monoids as cats
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/10_arrows/20_cats_structures/60_level_shifts.tex
  volumes/vol1/10_arrows/20_cats_structures/70_posets_as_cats.tex
  volumes/vol1/10_arrows/20_cats_structures/80_monoids_as_cats.tex
  volumes/vol1/10_arrows/20_cats_structures/chapter.tex
  volumes/vol1/25_translation/50_functors/20_preorders_cat.tex
Due: latexindent

new sections for rings/fields and vector spaces. other fixes
  utils/symbols.tex
  volumes/vol1/05_pluribus/25_monoids/30_rings_fields.tex
  volumes/vol1/05_pluribus/25_monoids/40_vector_spaces.tex
  volumes/vol1/05_pluribus/25_monoids/chapter.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
Due: latexindent

misc
  .backups/.gitignore
  snippets/05_semigroups_exercise/05_semigroups_exercise-sm_min3.monoid.yaml.texi
  snippets/10_monoids_exercise/10_monoids_exercise-monoid2.monoid.yaml.texi
  snippets/10_monotone_maps_exercise/10_monotone_maps_exercise-FiniteMonotoneMap.texi
  snippets/10_monotone_maps_exercise/10_monotone_maps_exercise-FiniteMonotoneMapProperties.texi
  snippets/10_monotone_maps_exercise/10_monotone_maps_exercise-MonotoneMap.texi
  snippets/20_groups_exercise/20_groups_exercise-G2_.group.yaml.texi
  snippets/20_relations_exercises/20_relations_exercises-rel1.finrel.yaml.texi
  snippets/21_tradeoffs_exercises/21_tradeoffs_exercises-poset1.poset.yaml.texi
  snippets/26_endorelations/26_endorelations-FiniteEndorelationOperations.texi
  snippets/26_endorelations/26_endorelations-FiniteEndorelationProperties.texi
  snippets/28_transitive/28_transitive-FiniteRelationOperations.texi
  snippets/28_transitive_exercises/28_transitive_exercises-FiniteEndorelationOperations.texi
  snippets/30_exercise_tutorial/30_exercise_tutorial-act4e_book_examples.empty.texi
  snippets/30_exercise_tutorial/30_exercise_tutorial-act4e_book_examples.f1.texi
  snippets/30_exercise_tutorial/30_exercise_tutorial-act4e_book_examples.f2.texi
  snippets/50_code_exercises/50_code_exercises-FiniteRelationProperties.texi
  snippets/50_code_exercises/50_code_exercises-rel1.finrel.yaml.texi
  snippets/80_exercise/80_exercise-SemiCategory.texi
  snippets/84_exercises_finitemap/84_exercises_finitemap-FiniteMap.texi
  snippets/84_exercises_finitemap/84_exercises_finitemap-FiniteMapRepresentation.texi
  snippets/89_setoids/89_setoids-EnumerableSetsOperations-make_set_sequence.texi
  snippets/89_setoids/89_setoids-EnumerableSetsOperations-union_esets.texi
  snippets/89_setoids/89_setoids-SetoidOperations.texi
  snippets/90_exercises_FiniteMapOperations/90_exercises_FiniteMapOperations-FiniteMapOperations.texi
  snippets/90_exercises_currency/90_exercises_currency-AllCurrencyExchangers.texi
  snippets/90_exercises_currency/90_exercises_currency-CurrencyOptimization.texi
  snippets/90_exercises_currency/90_exercises_currency-currency_exchange_compose.texi
  snippets/incoming/incoming-FiniteMapOperations.texi
  tricks.md
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/22_sets/84_exercises_finitemap.tex
  volumes/vol1/03_prelims/22_sets/chapter.tex
  volumes/vol1/05_pluribus/80_actions/10_matrix_groups.tex
  volumes/vol1/07_orders/40_monotonicity/40_order_on_monotone_maps.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
Due: latexindent

misc
  .backups/.gitignore
  snippets/84_exercises_finitemap/84_exercises_finitemap-FiniteMap.texi
  snippets/84_exercises_finitemap/84_exercises_finitemap-FiniteMapRepresentation.texi
  snippets/90_exercises_FiniteMapOperations/90_exercises_FiniteMapOperations-FiniteMapOperations.texi
  volumes/vol1/03_prelims/22_sets/chapter.tex
Due: latexindent

more
  .backups/.gitignore
  sag/60_coprod_batt_2_bis_turn.pdf
  sag/60_coprod_batt_bis.pdf
  sag/60_coprod_batt_bis_turn.pdf
  sag/display/60_coprod_batt_2_bis_turn.pdf
  sag/display/60_coprod_batt_bis.pdf
  sag/display/60_coprod_batt_bis_turn.pdf
Due: none

fixes, edits
  utils/symbols.tex
  volumes/vol1/10_arrows/20_cats_structures/70_posets_as_cats.tex
  volumes/vol1/25_translation/50_functors/10_functors.tex
  volumes/vol1/25_translation/50_functors/20_preorders_cat.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/25_translation/50_functors/99_translation_slides.tex
  volumes/vol1/25_translation/50_functors/chapter.tex
Due: latexindent

experiments with pagination
  utils/packages.tex
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/03_prelims/22_sets/chapter.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups_exercise.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/05_pluribus/50_morphisms/18_equational_exercise.tex
  volumes/vol1/07_orders/10_tradeoffs/10_intro.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/07_orders/10_tradeoffs/30_chains_antichains.tex
  volumes/vol1/07_orders/30_poset_build/10_product.tex
  volumes/vol1/07_orders/30_poset_build/40_intervals.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
  volumes/vol1/10_arrows/10_cats/80_exercise.tex
  volumes/vol1/10_arrows/96_combination/30_examples.tex
  volumes/vol1/10_arrows/99_culture/20_matternot.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
Due: latexindent

fix
  sag/095_functor.tikz
  sag/095_functor_detail.tikz
  volumes/vol1/25_translation/50_functors/10_functors.tex
Due: latexindent, latexindent2

fixing alignment
  sag/ass_diss_red_red_red.tikz
  sag/assemble_red_red_red.tikz
  sag/color_and_shape.tikz
  sag/colors-additive-rgb.tikz
  sag/colors-assoc-lego_1.tikz
  sag/colors-assoc-lego_2.tikz
  sag/colors-associativity.tikz
  sag/colors-commutativity.tikz
  sag/colors-quoting.tikz
  sag/colors-theorems1.tikz
  sag/comma_pairs_composition.tikz
  sag/composing_lego_red_white.tikz
  sag/composing_lego_red_white_blue.tikz
  sag/composing_lego_white_red.tikz
  sag/decompose_legos.tikz
  sag/dissemble_red_red_red.tikz
  sag/lego_melt.tikz
  sag/lego_purists_horrible.tikz
  sag/lego_recipe_theorem.tikz
  sag/permute_legos.tikz
  sag/red_red_makes_red.tikz
  sag/white_and_red_makes_horrible.tikz
  sag/white_white_makes_white.tikz
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/00_front/19_things/015_category_overview.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/96_combination/10_products.tex
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/30_design/75_lattice_structure/20_restrictions.tex
  volumes/vol1/30_design/75_lattice_structure/30_lattice.tex
  volumes/vol1/30_design/80_construct_dp/30_creating_DPs.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
  volumes/vol1/45_enrich/40_profunctors/10_profunctors.tex
  volumes/vol1/45_enrich/45_enrichment/30_setenricheddp.tex
Due: latexindent, latexindent2

fixing alignment
  sag/comma_pairs_composition.tikz
  sag/compose_decompose_permute.tikz
  volumes/vol1/00_front/19_things/015_category_overview.tex
Due: latexindent, latexindent2

fix
  volumes/vol1/03_prelims/22_sets/11_setoids.tex
  volumes/vol1/07_orders/40_monotonicity/14_monotone_maps_exercise.tex
Due: latexindent

typographical
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/11_setoids.tex
  volumes/vol1/10_arrows/20_cats_structures/50_cat_gr.tex
  volumes/vol1/10_arrows/95_construct_cat/30_slice.tex
  volumes/vol1/25_translation/50_functors/10_functors.tex
  volumes/vol1/30_design/20_design_problems/60_dpi.tex
  volumes/vol1/35_interconnections/60_feedback/05_feedback_processes.tex
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_trace.tex
  volumes/vol1/37_naturality/100_generalization/80_categorical_trace.tex
  volumes/vol1/40_computation/30_monads/10_generalized.tex
  volumes/vol1/40_computation/30_monads/20_monads.tex
  volumes/vol1/40_computation/30_monads/30_kleisli.tex
  volumes/vol1/part-misc/misc/155_relations_facts.tex
Due: latexindent

fix
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
Due: latexindent

misc
  volumes/vol1/10_arrows/10_cats/99_for_slides.tex
  volumes/vol1/10_arrows/20_cats_structures/50_cat_gr.tex
  volumes/vol1/22_operations/20_sameness/041_sameness.tex
Due: latexindent

fixed vect
  sag/nat-trafo-ddual.tikz
  utils/symbols_decoration.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/10_arrows/96_combination/70_biproducts.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/37_naturality/100_generalization/70_dual_objects.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
  volumes/vol1/37_naturality/90_adjunctions/40_free.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent, latexindent2

fixes
  sag/display/swarm_op.pdf
  sag/display/symmetric_stacking.pdf
  sag/display/symmetric_stacking_bis.pdf
  sag/display/tot_order_graph.pdf
  sag/display/total_manufacturing.pdf
  sag/display/toydiagram_tree.pdf
  sag/display/transitive_clos_a.pdf
  sag/display/transitive_clos_b.pdf
  sag/display/translation.pdf
  sag/display/tw_int_fig.pdf
  sag/display/two_pairs_comma.pdf
  sag/display/uml_semigroup.pdf
  sag/display/unc_atoms_g_v_graph.pdf
  sag/display/unit_manufacturing.pdf
  sag/display/upper_bound_1.pdf
  sag/display/upper_bound_2.pdf
  sag/display/upper_lower_bounds_a.pdf
  sag/display/upper_lower_bounds_b.pdf
  sag/display/upper_lower_bounds_c.pdf
  sag/display/upper_lower_bounds_d.pdf
  sag/display/vedividivici.pdf
  sag/nat-trafo-ddual.pdf
  sag/nat-trafo-ddual.tikz
  utils/symbols.tex
Due: latexindent2

fixes-for-nats
  volumes/vol1/37_naturality/100_generalization/35_symmetric_mon_cat.tex
  volumes/vol1/37_naturality/100_generalization/70_dual_objects.tex
  volumes/vol1/37_naturality/100_generalization/80_categorical_trace.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
  volumes/vol1/37_naturality/80_naturality/chapter.tex
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
Due: latexindent

fix
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent

edits, slides sections, ...
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/10_arrows/75_processes/14_action_on_sequences.tex
  volumes/vol1/10_arrows/75_processes/15_cat_action.tex
  volumes/vol1/10_arrows/75_processes/99_processes_slides.tex
  volumes/vol1/10_arrows/75_processes/chapter.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/25_translation/50_functors/99_translation_slides.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent

fix
  utils/symbols.tex
Due: none

fix
  volumes/vol1/10_arrows/10_cats/35_diagrams.tex
  volumes/vol1/10_arrows/75_processes/04_intro_processes.tex
Due: latexindent

fix
  volumes/vol1/10_arrows/75_processes/04_intro_processes.tex
Due: latexindent

edits, slides stuff
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/10_arrows/75_processes/10_Moore_3rd_attempt.tex
  volumes/vol1/10_arrows/75_processes/14_action_on_sequences.tex
  volumes/vol1/10_arrows/75_processes/17_Moore_different_actions.tex
  volumes/vol1/10_arrows/75_processes/99_processes_slides.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
Due: latexindent

edits
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/25_translation/50_functors/99_translation_slides.tex
Due: latexindent

edits, slides stuff
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/25_translation/50_functors/99_translation_slides.tex
Due: latexindent

fixes
  volumes/vol1/10_arrows/05_graphs/20_graphs_hom.tex
Due: latexindent

fixes
  sag/graph_hom_cd.tikz
  volumes/vol1/10_arrows/05_graphs/20_graphs_hom.tex
Due: latexindent, latexindent2

small fixes
  .vscode/settings.json
  sag/display/nat-trafo-ddual.pdf
  sag/nat-trafo-ddual.pdf
  volumes/vol1/03_prelims/22_sets/11_setoids.tex
  volumes/vol1/03_prelims/22_sets/84_exercises_finitemap.tex
  volumes/vol1/05_pluribus/25_monoids/30_rings_fields.tex
  volumes/vol1/05_pluribus/25_monoids/40_vector_spaces.tex
  volumes/vol1/05_pluribus/25_monoids/chapter.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
  volumes/vol1/07_orders/40_monotonicity/14_monotone_maps_exercise.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/20_cats_structures/70_posets_as_cats.tex
  volumes/vol1/10_arrows/20_cats_structures/80_monoids_as_cats.tex
  volumes/vol1/10_arrows/20_cats_structures/chapter.tex
  volumes/vol1/10_arrows/75_processes/99_processes_slides.tex
  volumes/vol1/10_arrows/75_processes/chapter.tex
  volumes/vol1/10_arrows/95_construct_cat/30_slice.tex
  volumes/vol1/10_arrows/96_combination/10_products.tex
  volumes/vol1/25_translation/50_functors/10_functors.tex
  volumes/vol1/25_translation/50_functors/20_preorders_cat.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/25_translation/50_functors/99_translation_slides.tex
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/37_naturality/100_generalization/70_dual_objects.tex
  volumes/vol1/37_naturality/100_generalization/80_categorical_trace.tex
  volumes/vol1/37_naturality/90_adjunctions/20_counit.tex
  volumes/vol1/40_computation/10_from_math_to_imp/10_from_math_to_imp.tex
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
  volumes/vol1/40_computation/30_monads/10_generalized.tex
  volumes/vol1/40_computation/30_monads/20_monads.tex
  volumes/vol1/40_computation/30_monads/40_eilenberg_moore.tex
  volumes/vol1/45_enrich/45_enrichment/30_setenricheddp.tex
  volumes/vol1/part-misc/misc/155_relations_facts.tex
Due: latexindent

edits and slides stuff
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/10_arrows/75_processes/15_cat_action.tex
  volumes/vol1/10_arrows/75_processes/17_Moore_different_actions.tex
  volumes/vol1/10_arrows/75_processes/99_processes_slides.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
Due: latexindent

fix
  sag/20_ex_graph_hom.tikz
  sag/20_ex_graph_hom_mor.tikz
  sag/20_ex_graph_hom_ob.tikz
  utils/tikz_utils.tex
  volumes/vol1/10_arrows/05_graphs/20_graphs_hom.tex
Due: latexindent, latexindent2

pdfs
  sag/20_ex_graph_hom.pdf
  sag/20_ex_graph_hom_mor.pdf
  sag/20_ex_graph_hom_ob.pdf
  sag/display/20_ex_graph_hom.pdf
  sag/display/20_ex_graph_hom_mor.pdf
  sag/display/20_ex_graph_hom_ob.pdf
  sag/display/graph_hom_cd.pdf
  sag/graph_hom_cd.pdf
Due: none

Path conditions:
  latexindent: any of: .*\.tex$, but not: ^utils/
  latexindent2: any of: \.tikz$, but not: ^utils/
