Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

latexindent:
  name: latexindent
  entry: latexindent.sh
  language: script

latexindent2:
  name: latexindent2
  entry: latexindent.sh
  language: script

fix
  volumes/vol1/00_front/05_developers/table.texi
Due: none

edits, slides stuff
  volumes/vol1/10_arrows/75_processes/99_processes_slides.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/25_translation/50_functors/99_translation_slides.tex
  volumes/vol1/25_translation/55_specialization/80_embeddings.tex
  volumes/vol1/25_translation/60_up_the_ladder/10_functor_composition.tex
Due: latexindent

fix
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
Due: latexindent

fix
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
Due: latexindent

fix
  volumes/vol1/25_translation/60_up_the_ladder/10_functor_composition.tex
Due: latexindent

fix
  volumes/vol1/30_design/75_lattice_structure/10_ordering_dps.tex
Due: latexindent

fix
  utils/symbols_act.tex
  volumes/vol1/00_front/05_developers/table.texi
Due: none

edits, slides stuff
  volumes/vol1/10_arrows/75_processes/99_processes_slides.tex
  volumes/vol1/25_translation/50_functors/99_translation_slides.tex
  volumes/vol1/25_translation/60_up_the_ladder/10_functor_composition.tex
Due: latexindent

fix
  volumes/vol1/10_arrows/75_processes/04_intro_processes.tex
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
Due: latexindent

fixes
  utils/symbols_act.tex
  volumes/vol1/30_design/75_lattice_structure/30_lattice.tex
Due: latexindent

fix
  sag/50_snacks_3.tikz
  sag/graph_cat_1.tikz
  sag/graph_cat_2.tikz
  utils/symbols.tex
  volumes/vol1/10_arrows/05_graphs/20_graphs_hom.tex
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
  volumes/vol1/10_arrows/96_combination/10_products.tex
Due: latexindent, latexindent2

fix
  sag/graph_cat_1.tikz
  sag/graph_cat_2.tikz
Due: latexindent2

fix
  utils/packages_act.tex
  utils/preamble_act.tex
  utils/symbols.tex
Due: none

misc
  snippets/14_monotone_maps_exercise/14_monotone_maps_exercise-FiniteMonotoneMap.texi
  snippets/14_monotone_maps_exercise/14_monotone_maps_exercise-MonotoneMap.texi
  snippets/18_equational_exercise/18_equational_exercise-FiniteSemigroupMorphismsOperations.texi
Due: none

added some graded exercises
  utils/symbols.tex
  volumes/vol1/10_arrows/10_cats/35_diagrams.tex
  volumes/vol1/10_arrows/95_construct_cat/20_twisted.tex
  volumes/vol1/10_arrows/95_construct_cat/30_slice.tex
Due: latexindent

...
  utils/symbols.tex
  volumes/vol1/25_translation/55_specialization/20_specialization.tex
  volumes/vol1/25_translation/55_specialization/60_other_subcategories.tex
  volumes/vol1/25_translation/55_specialization/70_berg.tex
Due: latexindent

Update 15_LTI_systems.tex
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
Due: latexindent

edits and additions for LTI
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
Due: latexindent

fix
  utils/symbols.tex
Due: none

fix
  sag/function_comp_figure.tikz
  sag/inj_function.tikz
  sag/surj_function.tikz
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/00_front/19_things/015_category_overview.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/23_relation/20_relations.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
Due: latexindent, latexindent2

fix
  sag/function_comp_figure.tikz
  sag/function_comp_figure_b.tikz
  sag/identity_function.tikz
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent, latexindent2

fix
  sag/cat_natnotzero.tikz
  sag/cat_one_ob_mor_eq.tikz
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/10_arrows/10_cats/80_exercise.tex
Due: latexindent, latexindent2

fix
  volumes/vol1/10_arrows/10_cats/80_exercise.tex
Due: latexindent

fix
  utils/packages_act.tex
  utils/preamble_act.tex
  utils/symbols.tex
  utils/tikz_utils.tex
Due: none

deleted multiple instance of graded exercise
  volumes/vol1/10_arrows/95_construct_cat/20_twisted.tex
Due: latexindent

added a concrete LTI example + edits
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
Due: latexindent

forgot devel environment
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
Due: latexindent

edits / comments
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
Due: latexindent

edits
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent

fixes
  utils/symbols.tex
Due: none

edits and editions, restructuring of parallelism chapter
  pics/LTI-example_two-springs-one-mass.png
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/26_strict-monoidal-semicats.tex
  volumes/vol1/35_interconnections/20_parallelism/27_strict-monoidal-cats.tex
  volumes/vol1/35_interconnections/20_parallelism/30_parallelism-and-permutations.tex
  volumes/vol1/35_interconnections/20_parallelism/chapter.tex
Due: latexindent

fixes
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent

fixing issue
  volumes/vol1/10_arrows/75_processes/04_intro_processes.tex
Due: latexindent

fix
  utils/symbols.tex
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_trace.tex
Due: latexindent

fix
  volumes/vol1/35_interconnections/60_feedback/05_feedback_processes.tex
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_trace.tex
Due: latexindent

edits
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/30_parallelism-and-permutations.tex
  volumes/vol1/35_interconnections/60_feedback/05_feedback_processes.tex
Due: latexindent

trace
  volumes/vol1/35_interconnections/60_feedback/05_feedback_processes.tex
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_trace.tex
Due: latexindent

Path conditions:
  latexindent: any of: .*\.tex$, but not: ^utils/
  latexindent2: any of: \.tikz$, but not: ^utils/
