Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2, check-no-tabs

.pre-commit-config.yaml:

repos:
# - repo: https://github.com/jonasbb/pre-commit-latex-hooks
#   rev: v1.2.3
#   hooks:
#     - id: american-eg-ie
#     - id: cleveref-capitalization
#     - id: consistent-spelling
#       args:
#           [
#             "--emph=et al.",
#             "--emph=a priori",
#             "--emph=a posteriori",
#             '--regex=naive=\bna(i|\\"i)ve',
#           ]
#     - id: csquotes
#     - id: ensure-labels-for-sections
#     - id: no-space-in-cite
#     - id: tilde-cite
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-merge-conflict
- repo: local
  hooks:
  - id: latexindent
    name: latexindent
    entry: ./latexindent.sh
    language: script
    # files: \.tex$
    # files: ".*\\.tex$"
    # files: ^volumes/
    files: \.tex$
    # exclude: ^utils/
  - id: latexindent2
    name: latexindent2
    entry: ./latexindent.sh
    language: script
    files: \.tikz$
    # exclude: ^utils/
  - id: check-no-tabs
    name: check-no-tabs
    entry: ./check_no_tabs.py
    language: python
    files: \.tex$

Clarify proof Lemma upper sets and fix typos
  volumes/vol1/30_design/72_lattices/70_lattices.tex
Due: latexindent, check-no-tabs

Clarify proof Lemma lower sets and fix typos
  volumes/vol1/30_design/72_lattices/70_lattices.tex
Due: latexindent, check-no-tabs

small expository fix.
  volumes/vol1/10_arrows/95_construct_cat/05_opposite.tex
Due: latexindent, check-no-tabs

minor edits, creation of slides section
  volumes/vol1/40_computation/30_monads/40_eilenberg_moore.tex
  volumes/vol1/40_computation/30_monads/99_slides.tex
  volumes/vol1/40_computation/30_monads/chapter.tex
Due: latexindent, check-no-tabs

first modifications to chapter
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, check-no-tabs

Fix typo
  volumes/vol1/25_translation/55_specialization/20_specialization.tex
Due: latexindent, check-no-tabs

Fix definition cartesian product of categories
  volumes/vol1/10_arrows/95_construct_cat/04_product_category.tex
Due: latexindent, check-no-tabs

misc
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/25_translation/50_functors/99_translation_slides.tex
  volumes/vol1/37_naturality/100_generalization/99_traced_monoidal_slides.tex
Due: latexindent, check-no-tabs

small fixes re slides
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
  volumes/vol1/37_naturality/80_naturality/99_naturality_slides.tex
  volumes/vol1/40_computation/30_monads/99_slides.tex
Due: latexindent, check-no-tabs

fix of monads slide sectoin
  volumes/vol1/40_computation/30_monads/99_slides.tex
Due: latexindent, check-no-tabs

fix of tikz file not in correct place
  sag/50_engine_tensor_1_2.tikz
  sag/string_diag.tikz
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
Due: latexindent, latexindent2, check-no-tabs

new changes: horz comp
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, check-no-tabs

slides material / minor edit
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/99_slides_parallelism.tex
Due: latexindent, check-no-tabs

fixes and edits in stacking chapter
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/35_interconnections/20_parallelism/31_posL.tex
  volumes/vol1/35_interconnections/20_parallelism/32_relL.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
  volumes/vol1/35_interconnections/20_parallelism/99_slides_parallelism.tex
Due: latexindent, check-no-tabs

edits
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent, check-no-tabs

slides additions
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/35_interconnections/20_parallelism/99_slides_parallelism.tex
  volumes/vol1/35_interconnections/60_feedback/99_slides_feedback.tex
Due: latexindent, check-no-tabs

renaming some of the book parts
  volumes/vol1/03_prelims/part.tex
  volumes/vol1/05_pluribus/part.tex
  volumes/vol1/10_arrows/part.tex
  volumes/vol1/25_translation/part.tex
Due: latexindent, check-no-tabs

edits, added some missing tikz files from solutions repo
  sag/exam_battery.tikz
  sag/exam_battery_dp.tikz
  sag/exam_create_batteries.tikz
  sag/exam_dp_saving.tikz
  sag/exam_dp_veh.tikz
  sag/exam_pos_money.tikz
  sag/exam_pos_size.tikz
  sag/exam_pos_speed.tikz
  sag/exam_pos_time.tikz
  sag/exam_string_diag.tikz
  volumes/vol1/30_design/30_feasibility/15_boolean_querying.tex
  volumes/vol1/30_design/30_feasibility/chapter.tex
  volumes/vol1/40_computation/15_query_equiv/05_intro.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
Due: latexindent, latexindent2, check-no-tabs

Fix compilation of standalone chapters
  sag/20_dpcatfig_example_graphs copy.tikz
  sag/30_spring_series copy.tikz
  sag/exam_battery.tikz
  sag/exam_battery_dp.tikz
  sag/exam_create_batteries.tikz
  sag/exam_dp_saving.tikz
  sag/exam_dp_veh.tikz
  sag/exam_f1 copy.tikz
  sag/exam_f2 copy.tikz
  sag/exam_f3 copy.tikz
  sag/exam_f4 copy.tikz
  sag/exam_pos_money copy.tikz
  sag/exam_pos_money.tikz
  sag/exam_pos_size copy.tikz
  sag/exam_pos_size.tikz
  sag/exam_pos_speed copy.tikz
  sag/exam_pos_speed.tikz
  sag/exam_pos_time copy.tikz
  sag/exam_pos_time.tikz
  sag/exam_posets copy.tikz
  sag/exam_string_diag.tikz
  volumes/vol1/30_design/70_ordering/chapter.tex
Due: latexindent, latexindent2, check-no-tabs

Remove duplicated sag
  sag/20_dpcatfig_example_graphs copy.tikz
  sag/30_spring_series copy.tikz
  sag/exam_f1 copy.tikz
  sag/exam_f2 copy.tikz
  sag/exam_f3 copy.tikz
  sag/exam_f4 copy.tikz
  sag/exam_pos_money copy.tikz
  sag/exam_pos_size copy.tikz
  sag/exam_pos_speed copy.tikz
  sag/exam_pos_time copy.tikz
  sag/exam_posets copy.tikz
Due: latexindent2

added section for guide to mathematical proofs
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/06_short-guide-to-proofs.tex
  volumes/vol1/03_prelims/22_sets/chapter.tex
  volumes/vol1/80_backmatter/part.tex
Due: latexindent, check-no-tabs

fixed erroneous subimport call
  volumes/vol1/80_backmatter/part.tex
Due: latexindent, check-no-tabs

added section for traced strict symmetric monoidal cats
  volumes/vol1/35_interconnections/60_feedback/07_traced-strict-monoidal-cats.tex
  volumes/vol1/35_interconnections/60_feedback/chapter.tex
Due: latexindent, check-no-tabs

edits
  volumes/vol1/35_interconnections/60_feedback/07_traced-strict-monoidal-cats.tex
Due: latexindent, check-no-tabs

new diagrams + structure
  pics/cone-over-G.png
  pics/cone-under-F.png
  pics/representable-functor.jpeg
  pics/warmup-NTs.png
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, check-no-tabs

yoneda start
  pics/representable-functor.png
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, check-no-tabs

fixes and book proposal
  book-proposal/main.pdf
  book-proposal/main.tex
  book-proposal/pics/ethlogo.pdf
  volumes/vol1/00_front/10_introduction/016_departure.tex
Due: latexindent, check-no-tabs

fix
  book-proposal/main.pdf
  book-proposal/main.tex
Due: latexindent, check-no-tabs

edits in competition section
  book-proposal/main.pdf
  book-proposal/main.tex
Due: latexindent, check-no-tabs

added description of lawvere schanuel
  book-proposal/main.pdf
  book-proposal/main.tex
Due: latexindent, check-no-tabs

representable functors
  pics/cone-over-G.png
  pics/cone-under-F.png
  pics/rep-functor-1.png
  pics/rep-functor-2.png
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, check-no-tabs

fix
  book-proposal/main.pdf
  book-proposal/main.tex
  volumes/vol1/07_orders/10_tradeoffs/30_chains_antichains.tex
Due: latexindent, check-no-tabs

fix
  sag/40_dpcatfig_opposite_a.tikz
  sag/40_dpcatfig_opposite_b.tikz
  volumes/vol1/07_orders/30_poset_build/30_opposite.tex
Due: latexindent, latexindent2, check-no-tabs

fix
  volumes/vol1/07_orders/10_tradeoffs/30_chains_antichains.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/07_orders/40_monotonicity/11_antitone.tex
  volumes/vol1/07_orders/40_monotonicity/30_composition.tex
Due: latexindent, check-no-tabs

fix
  sag/semicat_ac_comm.tikz
  volumes/vol1/10_arrows/75_processes/15_cat_action.tex
Due: latexindent, latexindent2, check-no-tabs

fixes
  sag/fast_strong.tikz
  sag/strong_training.tikz
  volumes/vol1/07_orders/10_tradeoffs/10_intro.tex
Due: latexindent, latexindent2, check-no-tabs

fix
  volumes/vol1/25_translation/60_up_the_ladder/10_functor_composition.tex
  volumes/vol1/25_translation/60_up_the_ladder/25_prods_sums_functors.tex
Due: latexindent, check-no-tabs

fix
  sag/60_dependent_bis.tikz
  sag/example_dp_composition_xyz.tikz
  sag/party_invite_rel.tikz
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/30_design/80_construct_dp/30_creating_DPs.tex
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
Due: latexindent, latexindent2, check-no-tabs

fix
  volumes/vol1/40_computation/30_monads/40_eilenberg_moore.tex
Due: latexindent, check-no-tabs
