Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

.pre-commit-config.yaml:

repos:
# - repo: https://github.com/jonasbb/pre-commit-latex-hooks
#   rev: v1.2.3
#   hooks:
#     - id: american-eg-ie
#     - id: cleveref-capitalization
#     - id: consistent-spelling
#       args:
#           [
#             "--emph=et al.",
#             "--emph=a priori",
#             "--emph=a posteriori",
#             '--regex=naive=\bna(i|\\"i)ve',
#           ]
#     - id: csquotes
#     - id: ensure-labels-for-sections
#     - id: no-space-in-cite
#     - id: tilde-cite
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.1.0
  hooks:
  - id: check-merge-conflict 
- repo: local
  hooks:
  - id: latexindent
    name: latexindent
    entry: latexindent.sh
    language: script
    # files: \.tex$
    files: ".*\\.tex$"
    exclude: ^utils/
  - id: latexindent2
    name: latexindent2
    entry: latexindent.sh
    language: script
    files: \.tikz$
    exclude: ^utils/

more todos
  volumes/vol1/00_front/19_things/015_category_overview.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/25_translation/50_functors/40_functor_db.tex
  volumes/vol1/25_translation/55_specialization/50_drawings.tex
  volumes/vol1/30_design/15_poset_bounds/chapter.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/35_interconnections/10_systems/10_intro.tex
  volumes/vol1/35_interconnections/10_systems/chapter.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
  volumes/vol1/35_interconnections/60_feedback/04_modeling_feedback.tex
  volumes/vol1/35_interconnections/60_feedback/06_feedback_design.tex
  volumes/vol1/35_interconnections/60_feedback/20_closing_loop_codesign.tex
  volumes/vol1/40_computation/10_from_math_to_imp/10_from_math_to_imp.tex
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
  volumes/vol1/40_computation/40_uncertainty/chapter.tex
  volumes/vol1/45_enrich/40_profunctors/50_dpi.tex
  volumes/vol1/45_enrich/40_profunctors/chapter.tex
  volumes/vol1/45_enrich/45_enrichment/30_setenricheddp.tex
  volumes/vol1/45_enrich/45_enrichment/chapter.tex
  volumes/vol1/50_opera/60_wiring_diagrams/chapter.tex
  volumes/vol1/50_opera/70_linear_logic/chapter.tex
  volumes/vol1/80_backmatter/97_summaries/category_map.tex
  volumes/vol1/part-misc/misc/100_pos_not_sufficient.tex
  volumes/vol1/part-misc/misc/26_spacetime.tex
  volumes/vol1/part-misc/misc/30_relational.tex.old
  volumes/vol1/part-misc/misc/40_propositions.tex
Due: latexindent

fixing typos
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
Due: latexindent

new diagrams and some text for symmetric stacking
  pics/parallelism_compatibility-perm-comp-1.png
  pics/parallelism_compatibility-perm-comp-2.png
  pics/parallelism_compatibility-with-stacking-1.png
  pics/parallelism_compatibility-with-stacking-2.png
  pics/parallelism_symmetric-stacking-comp-compat-1.png
  pics/parallelism_symmetric-stacking-comp-compat-2.png
  pics/parallelism_symmetric-stacking-source-perm-evaluated.png
  pics/parallelism_symmetric-stacking-source-perm.png
  pics/parallelism_symmetric-stacking-target-perm-evaluated.png
  pics/parallelism_symmetric-stacking-target-perm.png
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent

fix
  utils/code.tex
  utils/packages.tex
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/22_sets/11_setoids.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups_exercise.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent

misc
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/07_sets.tex
Due: latexindent

more throughput
  .circleci/config.yml
Due: none

fix
  utils/symbols.tex
Due: none

diagrams for one of the naturality laws for the axiomatic semicat trace
  pics/feedback_axiomatic-semicat-trace-nat-X.png
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_trace.tex
Due: latexindent

more diagrams for semicat trace axioms
  pics/feedback_axiomatic-semicat-trace-superposing.png
  pics/feedback_axiomatic-semicat-trace-vanishing-I.png
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_trace.tex
Due: latexindent

fix
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent

fix
  utils/other_symbols.tex
  volumes/vol1/03_prelims/22_sets/05_logic.tex
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/22_sets/20_more_constructions.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups_exercise.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/07_orders/10_tradeoffs/10_intro.tex
  volumes/vol1/10_arrows/05_graphs/10_graphs.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/20_trekking.tex
  volumes/vol1/10_arrows/75_processes/17_Moore_different_actions.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
  volumes/vol1/40_computation/30_monads/40_eilenberg_moore.tex
Due: latexindent

fixes
  volumes/vol1/00_front/19_things/015_category_overview.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
  volumes/vol1/05_pluribus/50_morphisms/18_equational_exercise.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/20_trekking.tex
  volumes/vol1/10_arrows/75_processes/15_cat_action.tex
  volumes/vol1/10_arrows/95_construct_cat/25_arrow.tex
  volumes/vol1/22_operations/20_sameness/041_sameness.tex
  volumes/vol1/25_translation/55_specialization/50_drawings.tex
  volumes/vol1/30_design/15_poset_bounds/40_antiupper.tex
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
  volumes/vol1/30_design/30_feasibility/15_boolean_querying.tex
  volumes/vol1/30_design/30_feasibility/20_series.tex
  volumes/vol1/30_design/72_lattices/75_lattice_homo.tex
  volumes/vol1/30_design/75_lattice_structure/20_restrictions.tex
  volumes/vol1/30_design/75_lattice_structure/30_lattice.tex
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
  volumes/vol1/35_interconnections/60_feedback/20_closing_loop_codesign.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
  volumes/vol1/45_enrich/45_enrichment/30_setenricheddp.tex
  volumes/vol1/part-misc/misc/10_databases.tex
Due: latexindent

fix
  snippets/12_sets_representations_exercises/12_sets_representations_exercises-act4e_book_examples.f2.texi
  snippets/18_equational_exercise/18_equational_exercise-FiniteSemigroupMorphismsOperations.texi
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
Due: latexindent

fix
  volumes/vol1/00_front/10_introduction/016_departure.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
  volumes/vol1/03_prelims/23_relation/22_relations_and_functions.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/07_orders/40_monotonicity/20_composition.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/20_design.tex
  volumes/vol1/10_arrows/75_processes/10_Moore_3rd_attempt.tex
  volumes/vol1/10_arrows/75_processes/14_action_on_sequences.tex
  volumes/vol1/10_arrows/75_processes/15_cat_action.tex
  volumes/vol1/10_arrows/96_combination/70_biproducts.tex
  volumes/vol1/25_translation/50_functors/10_functors.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/30_design/72_lattices/75_lattice_homo.tex
  volumes/vol1/35_interconnections/10_systems/20_modeling_behavior.tex
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_trace.tex
  volumes/vol1/37_naturality/100_generalization/10_categorical_trace.tex
  volumes/vol1/37_naturality/100_generalization/30_mon_cat_nobraided.tex
  volumes/vol1/40_computation/30_monads/40_eilenberg_moore.tex
  volumes/vol1/part-misc/misc/dp_reference.tex
Due: latexindent

removing \id and \then
  .vscode/settings.json
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/10_instructions.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/03_prelims/22_sets/11_setoids.tex
  volumes/vol1/03_prelims/23_relation/10_distribution_networks.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/30_design/80_construct_dp/20_companion_and_conjoint.tex
  volumes/vol1/35_interconnections/10_systems/40_xx_lti.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/30_mon_cat_nobraided.tex
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_trace.tex
  volumes/vol1/37_naturality/100_generalization/10_categorical_trace.tex
  volumes/vol1/37_naturality/100_generalization/70_dual_objects.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
  volumes/vol1/40_computation/30_monads/20_monads.tex
  volumes/vol1/40_computation/40_uncertainty/30_LU_monads.tex
  volumes/vol1/45_enrich/45_enrichment/20_enriched_categories.tex
  volumes/vol1/45_enrich/45_enrichment/30_setenricheddp.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
  volumes/vol1/part-misc/misc/155_relations_facts.tex
  volumes/vol1/part-misc/misc/200_computations.tex
Due: latexindent

adds todos for exercises
  volumes/vol1/03_prelims/22_sets/84_exercises_finitemap.tex
  volumes/vol1/03_prelims/22_sets/88_exercises_setunion.tex
  volumes/vol1/07_orders/10_tradeoffs/21_tradeoffs_exercises.tex
  volumes/vol1/07_orders/30_poset_build/11_product_exercises.tex
  volumes/vol1/07_orders/30_poset_build/21_disjoint_union_exercises.tex
Due: latexindent

fix
  volumes/vol1/03_prelims/22_sets/88_exercises_setunion.tex
  volumes/vol1/03_prelims/22_sets/chapter.tex
  volumes/vol1/03_prelims/23_relation/22_relations_and_functions.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
Due: latexindent

fix
  volumes/vol1/03_prelims/22_sets/84_exercises_finitemap.tex
Due: latexindent

fix
  volumes/vol1/30_design/20_design_problems/60_dpi.tex
  volumes/vol1/30_design/30_feasibility/15_boolean_querying.tex
  volumes/vol1/30_design/72_lattices/70_lattices.tex
  volumes/vol1/40_computation/30_monads/50_monads_in_CS.tex
  volumes/vol1/40_computation/40_uncertainty/30_LU_monads.tex
Due: latexindent

fix
  README.md
  sag/40_dpcatfig_exmonotone.tikz
  sag/40_dpcatfig_power_1.tikz
  sag/40_dpcatfig_power_2.tikz
  sag/40_dpcatfig_power_chains.tikz
  sag/setop_mon_r.tikz
  snippets/14_monotone_maps_exercise/14_monotone_maps_exercise-FiniteMonotoneMap.texi
  snippets/14_monotone_maps_exercise/14_monotone_maps_exercise-FiniteMonotoneMapProperties.texi
  snippets/14_monotone_maps_exercise/14_monotone_maps_exercise-MonotoneMap.texi
  snippets/18_equational_exercise/18_equational_exercise-FiniteSemigroupMorphismsOperations.texi
  snippets/80_code_exercise/80_code_exercise-FiniteNaturalTransformation.texi
  snippets/80_code_exercise/80_code_exercise-FiniteNaturalTransformationRepresentation.texi
  snippets/80_code_exercise/80_code_exercise-nat1.texi
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/07_orders/30_poset_build/20_disjoint_union.tex
  volumes/vol1/07_orders/30_poset_build/30_opposite.tex
  volumes/vol1/07_orders/40_monotonicity/30_composition.tex
Due: latexindent, latexindent2

misc
  .vscode/settings.json
  dpcatbib.bib
  sag/060_powerset_coprod.tikz
  sag/40_dpcatfig_power.tikz
  sag/40_dpcatfig_power_3.tikz
  sag/40_dpcatfig_power_antichains.tikz
  sag/40_dpcatfig_power_antichains_bis.tikz
  sag/40_dpcatfig_power_chains_bis.tikz
  sag/accu_1.tikz
  sag/setop_mon_l.tikz
  sag/setop_mon_r.tikz
  sag/setop_mon_tri_a.tikz
  sag/setop_mon_tri_b.tikz
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/07_orders/10_tradeoffs/30_chains_antichains.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/07_orders/40_monotonicity/40_order_on_monotone_maps.tex
  volumes/vol1/07_orders/40_monotonicity/chapter.tex
  volumes/vol1/30_design/30_feasibility/10_boolean.tex
Due: latexindent, latexindent2

fixes
  volumes/vol1/03_prelims/22_sets/10_sets_building.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent

fixing typos
  volumes/vol1/03_prelims/22_sets/07_sets.tex
  volumes/vol1/03_prelims/22_sets/11_setoids.tex
  volumes/vol1/03_prelims/22_sets/12_sets_representations_exercises.tex
Due: latexindent

fix
  volumes/vol1/35_interconnections/20_parallelism/31_posL.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
Due: latexindent

fixing
  sag/poset_representation_2.tikz
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/07_orders/10_tradeoffs/30_chains_antichains.tex
Due: latexindent, latexindent2

fix
  sag/40_dpcatfig_exmonotone.tikz
  volumes/vol1/07_orders/30_poset_build/10_product.tex
  volumes/vol1/07_orders/30_poset_build/20_disjoint_union.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
Due: latexindent, latexindent2

fixes
  sag/floorceilhasse.tikz
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/07_orders/40_monotonicity/40_order_on_monotone_maps.tex
Due: latexindent, latexindent2

fix
  sag/20_wheel_motor_options.tikz
  sag/30_dpcatfig_e1.tikz
  sag/30_dpcatfig_e10.tikz
  sag/30_dpcatfig_e2.tikz
  sag/30_dpcatfig_e3.tikz
  sag/30_dpcatfig_e4.tikz
  sag/30_dpcatfig_e5.tikz
  sag/30_dpcatfig_e6.tikz
  sag/30_dpcatfig_e7.tikz
Due: latexindent2

fix
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
Due: latexindent

new enrichment
  sag/enrichment_assoc2.tikz
  sag/enrichment_unital2.tikz
  utils/symbols.tex
  volumes/vol1/45_enrich/45_enrichment/20_enriched_categories.tex
Due: latexindent, latexindent2

catid
  sag/enrichment_unital2.tikz
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
  volumes/vol1/03_prelims/23_relation/26_transpose.tex
  volumes/vol1/03_prelims/23_relation/forslides_relations.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/10_cats/35_diagrams.tex
  volumes/vol1/10_arrows/20_cats_structures/50_cat_gr.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/20_trekking.tex
  volumes/vol1/10_arrows/95_construct_cat/05_disjoint_union_category.tex
  volumes/vol1/10_arrows/95_construct_cat/05_opposite.tex
  volumes/vol1/10_arrows/95_construct_cat/10_cat_from_graph.tex
  volumes/vol1/22_operations/20_sameness/041_sameness.tex
  volumes/vol1/25_translation/50_functors/10_functors.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/25_translation/60_up_the_ladder/10_functor_composition.tex
  volumes/vol1/35_interconnections/20_parallelism/30_mon_cat_nobraided.tex
  volumes/vol1/37_naturality/100_generalization/30_mon_cat_nobraided.tex
  volumes/vol1/37_naturality/100_generalization/35_symmetric_mon_cat.tex
  volumes/vol1/37_naturality/100_generalization/70_dual_objects.tex
  volumes/vol1/37_naturality/90_adjunctions/20_counit.tex
  volumes/vol1/37_naturality/90_adjunctions/30_product_hom.tex
  volumes/vol1/37_naturality/90_adjunctions/50_relating.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
  volumes/vol1/40_computation/15_query_equiv/30_queries_are_functors.tex
  volumes/vol1/40_computation/40_uncertainty/30_LU_monads.tex
  volumes/vol1/45_enrich/40_profunctors/10_profunctors.tex
  volumes/vol1/45_enrich/40_profunctors/20_hom.tex
  volumes/vol1/45_enrich/45_enrichment/20_enriched_categories.tex
  volumes/vol1/50_opera/50_operads/10_op.tex
Due: latexindent, latexindent2

other fixes
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
  volumes/vol1/03_prelims/23_relation/20_relations.tex
  volumes/vol1/03_prelims/23_relation/21_relations_compose.tex
  volumes/vol1/03_prelims/23_relation/26_transpose.tex
  volumes/vol1/03_prelims/23_relation/29_equiv_partitions.tex
  volumes/vol1/03_prelims/23_relation/forslides_relations.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/07_orders/30_poset_build/50_intervals2.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/40_currency.tex
  volumes/vol1/10_arrows/96_combination/10_products.tex
  volumes/vol1/10_arrows/96_combination/20_coproduct.tex
  volumes/vol1/10_arrows/96_combination/30_examples.tex
  volumes/vol1/22_operations/20_sameness/041_sameness.tex
  volumes/vol1/25_translation/50_functors/30_functors_examples.tex
  volumes/vol1/25_translation/55_specialization/50_drawings.tex
  volumes/vol1/25_translation/55_specialization/60_other_subcategories.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
  volumes/vol1/35_interconnections/10_systems/20_modeling_behavior.tex
  volumes/vol1/35_interconnections/20_parallelism/30_mon_cat_nobraided.tex
  volumes/vol1/35_interconnections/60_feedback/20_closing_loop_codesign.tex
  volumes/vol1/37_naturality/100_generalization/30_mon_cat_nobraided.tex
  volumes/vol1/37_naturality/90_adjunctions/30_product_hom.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
  volumes/vol1/40_computation/15_query_equiv/30_queries_are_functors.tex
  volumes/vol1/50_opera/50_operads/10_op.tex
Due: latexindent

other tos
  volumes/vol1/00_front/10_introduction/016_departure.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/22_sets/20_more_constructions.tex
  volumes/vol1/03_prelims/22_sets/forslides_sets-and-functions.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/07_orders/40_monotonicity/40_order_on_monotone_maps.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/75_processes/04_intro_processes.tex
  volumes/vol1/10_arrows/75_processes/15_cat_action.tex
  volumes/vol1/10_arrows/75_processes/17_Moore_different_actions.tex
  volumes/vol1/10_arrows/96_combination/70_biproducts.tex
  volumes/vol1/10_arrows/99_culture/20_matternot.tex
Due: latexindent

before
  sag/res_small.tikz
  volumes/vol1/00_front/05_developers/20_style_guide.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/23_relation/29_equiv_partitions.tex
  volumes/vol1/07_orders/10_tradeoffs/10_intro.tex
  volumes/vol1/07_orders/30_poset_build/10_product.tex
  volumes/vol1/07_orders/30_poset_build/20_disjoint_union.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/10_arrows/20_cats_structures/10_cat_rel.tex
  volumes/vol1/10_arrows/20_cats_structures/50_cat_gr.tex
  volumes/vol1/25_translation/55_specialization/70_berg.tex
  volumes/vol1/30_design/20_design_problems/60_dpi.tex
  volumes/vol1/30_design/30_feasibility/30_dp.tex
  volumes/vol1/30_design/75_lattice_structure/30_lattice.tex
  volumes/vol1/35_interconnections/10_systems/50_other_machines.tex
  volumes/vol1/35_interconnections/20_parallelism/31_posL.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
  volumes/vol1/40_computation/20_solving/10_represent.tex
  volumes/vol1/40_computation/20_solving/15_domain_theory.tex
  volumes/vol1/40_computation/20_solving/18_handling_loops.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
Due: latexindent, latexindent2
