Repository ACT4E/ACT4E: changes, and which pre-commit hooks are due for each by the changed paths.
All: latexindent, latexindent2

latexindent:
  name: latexindent
  entry: latexindent.sh
  language: script

latexindent2:
  name: latexindent2
  entry: latexindent.sh
  language: script

misc
  volumes/vol1/03_prelims/23_relation/20_relations.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
Due: latexindent

fmisc
  volumes/vol1/07_orders/40_monotonicity/40_order_on_monotone_maps.tex
Due: latexindent

edits, made new section for symmetric monoidal semicats
  sag/180_twistedarrow_comp_unitality_b.tikz
  volumes/vol1/10_arrows/95_construct_cat/05_opposite.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/26_strict-monoidal-semicats.tex
  volumes/vol1/35_interconnections/20_parallelism/chapter.tex
Due: latexindent, latexindent2

fix
  volumes/vol1/10_arrows/20_cats_structures/30_cats_of_alg_gadgets.tex
  volumes/vol1/45_enrich/45_enrichment/30_setenricheddp.tex
Due: latexindent

added conditions for strict monoidal cats
  volumes/vol1/35_interconnections/20_parallelism/26_strict-monoidal-semicats.tex
Due: latexindent

edits, def of symmetric strict monoidal semicategory
  volumes/vol1/35_interconnections/20_parallelism/26_strict-monoidal-semicats.tex
Due: latexindent

edits - corrected the one notion to "commutative" instead of "symmetric"
  volumes/vol1/35_interconnections/20_parallelism/26_strict-monoidal-semicats.tex
Due: latexindent

...
  volumes/vol1/00_front/05_developers/table.texi
Due: none

fix
  sag/endo_trace.tikz
  sag/endo_trace_gen.tikz
  utils/other_symbols.tex
  utils/symbols.tex
  volumes/vol1/22_operations/20_sameness/041_sameness.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
  volumes/vol1/37_naturality/100_generalization/10_generalization.tex
  volumes/vol1/37_naturality/100_generalization/20_mon_cat_nobraided.tex
  volumes/vol1/37_naturality/100_generalization/70_dual_objects.tex
  volumes/vol1/37_naturality/100_generalization/80_categorical_trace.tex
  volumes/vol1/37_naturality/100_generalization/chapter.tex
  volumes/vol1/37_naturality/80_naturality/10_naturality.tex
Due: latexindent, latexindent2

fmisc
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/31_posL.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
Due: latexindent

fix
  utils/other_symbols.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/31_posL.tex
  volumes/vol1/35_interconnections/20_parallelism/32_relL.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
Due: latexindent

fix
  sag/commuting_stacking_eff.pdf
  sag/commuting_stacking_eff.tikz
  sag/commuting_stacking_eff_bis.pdf
  sag/commuting_stacking_eff_bis.tikz
  sag/display/commuting_stacking_eff.pdf
  sag/display/commuting_stacking_eff_bis.pdf
  sag/display/endo_trace.pdf
  sag/display/endo_trace_gen.pdf
  sag/display/stacking_tup_counterproof.pdf
  sag/display/stacking_tup_counterproof_bis.pdf
  sag/endo_trace.pdf
  sag/endo_trace_gen.pdf
  sag/stacking_tup_counterproof.pdf
  sag/stacking_tup_counterproof.tikz
  sag/stacking_tup_counterproof_bis.pdf
  sag/stacking_tup_counterproof_bis.tikz
  utils/symbols.tex
  utils/tikz_utils.tex
Due: latexindent2

better colors
  sag/20_dyn_1.pdf
  sag/20_dyn_1.tikz
  sag/20_dyn_12_3.pdf
  sag/20_dyn_12_3.tikz
  sag/20_dyn_1_2.pdf
  sag/20_dyn_1_2.tikz
  sag/20_dyn_1_23.pdf
  sag/20_dyn_1_23.tikz
  sag/20_dyn_2.pdf
  sag/20_dyn_2.tikz
  sag/20_dyn_2_3.tikz
  sag/20_dyn_3.pdf
  sag/20_dyn_3.tikz
  sag/20_iso_diags_2.pdf
  sag/20_iso_diags_2.tikz
  sag/20_iso_diags_3.pdf
  sag/commuting_stacking_eff_bis.pdf
  sag/display/20_dyn_1_2.pdf
  sag/display/20_dyn_2.pdf
  sag/morphism_eff.pdf
  sag/morphism_eff.tikz
  sag/morphism_eff_comp.pdf
  sag/morphism_eff_comp.tikz
  sag/morphism_tup.pdf
  sag/morphism_tup.tikz
  sag/morphism_tup_comp.pdf
  sag/morphism_tup_comp.tikz
  sag/stacking_eff.pdf
  sag/stacking_eff.tikz
  sag/stacking_tup.pdf
  sag/stacking_tup.tikz
  utils/tikz_utils.tex
  volumes/vol1/10_arrows/99_culture/20_matternot.tex
  volumes/vol1/35_interconnections/20_parallelism/32_relL.tex
Due: latexindent, latexindent2

fix
  sag/apollinaire.tikz
  sag/opposite_mor_2.tikz
  utils/symbols.tex
  volumes/vol1/03_prelims/22_sets/15_functions.tex
  volumes/vol1/03_prelims/23_relation/28_transitive.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/10_arrows/95_construct_cat/05_disjoint_union_category.tex
  volumes/vol1/10_arrows/95_construct_cat/05_opposite.tex
  volumes/vol1/10_arrows/95_construct_cat/20_twisted.tex
  volumes/vol1/10_arrows/96_combination/10_products.tex
  volumes/vol1/10_arrows/96_combination/20_coproduct.tex
  volumes/vol1/10_arrows/99_culture/20_matternot.tex
  volumes/vol1/30_design/20_design_problems/10_design_problems.tex
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
  volumes/vol1/45_enrich/40_profunctors/10_dpi_span.tex
  volumes/vol1/part-misc/misc/155_relations_facts.tex
Due: latexindent, latexindent2

reformatting
  latexindent-all.sh
  volumes/vol1/10_arrows/95_construct_cat/05_opposite.tex
  volumes/vol1/10_arrows/96_combination/10_products.tex
  volumes/vol1/10_arrows/96_combination/20_coproduct.tex
  volumes/vol1/10_arrows/99_culture/20_matternot.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/32_relL.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
  volumes/vol1/37_naturality/100_generalization/10_generalization.tex
  volumes/vol1/45_enrich/40_profunctors/10_dpi_span.tex
Due: latexindent

misc
  utils/symbols.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/05_pluribus/80_actions/10_matrix_groups.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
  volumes/vol1/07_orders/10_tradeoffs/20_tradeoffs.tex
  volumes/vol1/07_orders/40_monotonicity/10_monotone_maps.tex
  volumes/vol1/10_arrows/05_graphs/20_graphs_hom.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/95_construct_cat/04_product_category.tex
  volumes/vol1/10_arrows/95_construct_cat/05_disjoint_union_category.tex
  volumes/vol1/10_arrows/95_construct_cat/25_arrow.tex
  volumes/vol1/10_arrows/96_combination/10_products.tex
  volumes/vol1/10_arrows/96_combination/20_coproduct.tex
  volumes/vol1/25_translation/55_specialization/50_drawings.tex
  volumes/vol1/35_interconnections/10_systems/15_LTI_systems.tex
  volumes/vol1/35_interconnections/10_systems/40_xx_lti.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/60_feedback/05_feedback_processes.tex
  volumes/vol1/37_naturality/90_adjunctions/07_galois.tex
  volumes/vol1/40_computation/20_solving/70_examples.tex
  volumes/vol1/40_computation/20_solving/75_complexity.tex
  volumes/vol1/40_computation/45_udp/10_udp_intro.tex
  volumes/vol1/45_enrich/45_enrichment/20_enriched_categories.tex
Due: latexindent

reformatting
  volumes/vol1/07_orders/10_tradeoffs/50_measure.tex
  volumes/vol1/07_orders/10_tradeoffs/60_moregeneral.tex
  volumes/vol1/10_arrows/05_graphs/20_graphs_hom.tex
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
  volumes/vol1/10_arrows/10_cats/35_diagrams.tex
  volumes/vol1/10_arrows/75_processes/05_LSet.tex
  volumes/vol1/10_arrows/75_processes/10_Moore_3rd_attempt.tex
  volumes/vol1/10_arrows/75_processes/14_action_on_sequences.tex
  volumes/vol1/10_arrows/75_processes/17_Moore_different_actions.tex
  volumes/vol1/10_arrows/95_construct_cat/05_disjoint_union_category.tex
  volumes/vol1/10_arrows/95_construct_cat/05_opposite.tex
  volumes/vol1/10_arrows/95_construct_cat/25_arrow.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/26_strict-monoidal-semicats.tex
  volumes/vol1/35_interconnections/20_parallelism/33_dpL.tex
  volumes/vol1/35_interconnections/60_feedback/10_semicategorical_trace.tex
  volumes/vol1/37_naturality/100_generalization/70_dual_objects.tex
  volumes/vol1/37_naturality/90_adjunctions/20_counit.tex
  volumes/vol1/40_computation/15_query_equiv/10_uposlpos.tex
  volumes/vol1/45_enrich/40_profunctors/20_hom.tex
  volumes/vol1/45_enrich/45_enrichment/30_setenricheddp.tex
Due: latexindent

merge
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
  volumes/vol1/35_interconnections/20_parallelism/26_strict-monoidal-semicats.tex
  volumes/vol1/35_interconnections/20_parallelism/chapter.tex
Due: latexindent

fix
  utils/symbols.tex
Due: none

fixes
  sag/function_comp_figure.tikz
  sag/function_comp_figure_b.tikz
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent, latexindent2

fix
  sag/transitive_clos_b.tikz
  utils/symbols.tex
  volumes/vol1/03_prelims/23_relation/28_transitive.tex
Due: latexindent, latexindent2

minor
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/03_prelims/22_sets/15_functions.tex
Due: latexindent

fix
  sag/70_antichain_2.tikz
  sag/total_manufacturing.tikz
  sag/unit_manufacturing.tikz
  volumes/vol1/07_orders/10_tradeoffs/30_chains_antichains.tex
  volumes/vol1/07_orders/40_monotonicity/11_antitone.tex
Due: latexindent, latexindent2

fix
  pics/camod.pdf
  volumes/vol1/10_arrows/05_graphs/10_graphs.tex
Due: latexindent

fixed / changed definition of paths in graphs
  volumes/vol1/10_arrows/05_graphs/10_graphs.tex
Due: latexindent

free semicat on a graph, edits and additions
  volumes/vol1/10_arrows/05_graphs/20_graphs_hom.tex
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/10_cats/99_for_slides.tex
  volumes/vol1/10_arrows/10_cats/chapter.tex
  volumes/vol1/10_arrows/20_cats_structures/chapter.tex
Due: latexindent

fix ensure math
  utils/symbols.tex
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: none

edits and additions
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/10_arrows/10_cats/10_cat_from_graph.tex
  volumes/vol1/10_arrows/10_cats/99_for_slides.tex
  volumes/vol1/10_arrows/20_cats_structures/10_cat_rel.tex
  volumes/vol1/10_arrows/20_cats_structures/99_for_slides_cats_of_structures.tex
  volumes/vol1/10_arrows/20_cats_structures/chapter.tex
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1-devel.texi
  volumes/vol1/80_backmatter/96_nomenclature/nomenc-vol1.texi
Due: latexindent

edit / fix
  utils/symbols.tex
Due: none

labeling equations
  volumes/vol1/10_arrows/10_cats/99_for_slides.tex
Due: latexindent

more equation labels
  volumes/vol1/10_arrows/20_cats_structures/99_for_slides_cats_of_structures.tex
Due: latexindent

misc
  utils/environments.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups_exercise.tex
  volumes/vol1/05_pluribus/25_monoids/10_monoids.tex
  volumes/vol1/05_pluribus/25_monoids/20_groups.tex
  volumes/vol1/05_pluribus/50_morphisms/10_homo.tex
  volumes/vol1/05_pluribus/50_morphisms/18_equational.tex
  volumes/vol1/05_pluribus/50_morphisms/18_equational_exercise.tex
  volumes/vol1/05_pluribus/80_actions/40_actions.tex
  volumes/vol1/05_pluribus/80_actions/chapter.tex
  volumes/vol1/10_arrows/10_cats/25_cords.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
  volumes/vol1/10_arrows/25_modeling_with_cats/20_design.tex
  volumes/vol1/35_interconnections/10_systems/40_xx_lti.tex
  volumes/vol1/35_interconnections/20_parallelism/25_parallel.tex
Due: latexindent

edits and additions for various categories of structures
  volumes/vol1/10_arrows/20_cats_structures/10_cat_rel.tex
  volumes/vol1/10_arrows/20_cats_structures/20_set.tex
  volumes/vol1/10_arrows/20_cats_structures/30_cats_of_alg_gadgets.tex
  volumes/vol1/10_arrows/20_cats_structures/40_cat_pos.tex
  volumes/vol1/10_arrows/20_cats_structures/50_cat_gr.tex
  volumes/vol1/10_arrows/20_cats_structures/chapter.tex
Due: latexindent

fix
  volumes/vol1/07_orders/30_poset_build/40_intervals.tex
Due: latexindent

edits and additions - semicats def, etc
  volumes/vol1/00_front/05_developers/table.texi
  volumes/vol1/10_arrows/05_graphs/10_graphs.tex
  volumes/vol1/10_arrows/10_cats/30_formal.tex
Due: latexindent

supermagic
  utils/environments.tex
  utils/other_symbols.tex
  utils/symbols.tex
  volumes/vol1/05_pluribus/25_monoids/05_semigroups.tex
  volumes/vol1/35_interconnections/70_interactions_composition/20_lattice_interaction_composition.tex
Due: latexindent

Path conditions:
  latexindent: any of: .*\.tex$, but not: ^utils/
  latexindent2: any of: \.tikz$, but not: ^utils/
